
<template>
  <keep-alive>
    <router-view></router-view>
  </keep-alive>
</template>

<script setup>
  //console.log(" import.meta.env.---->", import.meta.env)
</script>

<style>

:root{
    --el-switch-on-color:rgb(19, 227, 19);
}


.el-dialog .el-dialog__header{
    background: #f8f8f8 !important;;
    margin-right: 0!important;
}

.pug-chapter-box .el-collapse-item__content{
    padding-bottom:0!important;
}

.is-message-box{
  z-index: 10000 !important;;
}

/*处理浏览器的滚动的宽度和样式 */
::-webkit-scrollbar{width:4px;height:6px;}
::-webkit-scrollt-corner{
  display:block;
}
::-webkit-scrollbar-thumb{border-radius: 8px;background:rgba(0,0,0,0.2);}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track{
  border-right-color:transparent;
  border-left-color:transparent;
  background:rgba(0,0,0,0.1);
}


</style>

