<template>
  <div class="pug-table-form-box">
    <!--表格相关---->
    <div class="pug-tablebox">
      <!--搜索相关-->
      <div class="pug-search-box">
        <div>
          <el-button size="small" type="primary" v-permission="130107" @click="handleOpenDialog" icon="Plus">
            新增模型</el-button>
          <el-button size="small" type="danger" v-permission="130109" @click="handleBatchDel"
                     icon="CloseBold">删除模型</el-button>
        </div>

        <div class="flex items-center" style="font-size:12px">
          <span> 是否删除：
                    <el-select  style="width: 120px;" v-model="params.searchData.isdelete" value-key="id" placeholder="删除状态" clearable filterable>
                    <el-option v-for="item in [{id:1,title:'已删除'},{id:0,title:'未删除'}]"
                    :key="item.id"
                    :label="item.title"
                    :value="item.id">
                    </el-option>
                    </el-select>
                </span>

                <span class="ml-2 mr-2">模型分类：
                  
                    <el-cascader
                    :show-all-levels="false"
                             v-model="params.searchData.cid"
                            :options="categoryList"
                            placeholder="请选择模型状态"
                            :props="{
                            label:'title',
                            value:'id',
                            multiple: false, 
                            children:'children',
                            checkStrictly:true,
                        emitPath:false}"
                        clearable></el-cascader>
                </span>
                
                 <span class="ml-2 mr-2">创建时间：   <el-date-picker
                    v-model="searchDate"
                    type="daterange"
                    range-separator="To"
                    @change="handleSelectData"
                    start-placeholder="起始时间"
                    end-placeholder="结束时间"
                /></span> 

                <el-input
                    v-model.trim="params.searchData.keyword"
                    style="width: 180px;"
                    placeholder="请输入搜索的模型"
                    prefix-icon="Search"
                />
                <el-button size="small" @click="handleSearch" type="success">搜索</el-button>
        </div>
      </div>
      {{ selectIds }}
      <!--表格相关-->
      <el-table :data="tableData" style="width: 100%" v-loading="loading" @selection-change="selectTableAll">
        <el-table-column type="selection" prop="id" width="50" />

        <el-table-column  label="模型标题" width="400">
                <template #default="{$index,row}">
                        <div class="flex items-center">
                               
                                    <div  style="width: 140px; height: 100px" ><el-image style="width: 140px; height: 100px" :src="row.img" :fit="fit" /></div>
                             
                                <div class="flex flex-col ml-3">
                                    <span class="font-bold">标题：
                                        <el-input v-if="false" v-model="row.name" placeholder="" size="normal"   @blur.stop="handleUpdate(row,'title')"></el-input>
                                        {{row.name}}
                                    </span>

                                    <span class="text-sm text-gray-300">编号：{{row.id}}</span>
                                    <span class="text-sm">
                                        <span class="mr-3">分类：{{row.categorytitle}} </span>
                                        
                                    </span>
  
                                </div>
                        </div>
                </template>
            </el-table-column>
        <el-table-column prop="author" label="模型作者" width="100">
          <template #default="{$index,row}">
                                    <div v-if="row.edit">
                                        <el-input v-model.trim="row.author"></el-input>  
                                    </div>
                                    <div v-else>
                                        <span>{{row.author}}</span>
                                        
                                    </div>
                                </template>
        </el-table-column>
        <el-table-column prop="path" label="模型绝对路径" width="300">
          <template #default="{$index,row}">
                                    <div v-if="row.edit">
                                        <el-input type="textarea" :rows="4" v-model.trim="row.path"></el-input>  
                                    </div>
                                    <div v-else>
                                        <span>{{row.path}}</span>
                                        
                                    </div>
                                </template>
        </el-table-column>
      
     

        <el-table-column prop="createTime" label="创建时间" width="180" />
        <el-table-column prop="updateTime" label="更新时间" width="180" />
        <el-table-column label="状态" v-permission="130110" width="80">
          <template #default="{ $index, row }">
            <el-switch v-model="row.status" class="mb-2" @change="handleChange('status', $index)"
                       style="--el-switch-on-color: #13ce66; --el-switch-off-color: #ff4949" inline-prompt
                       active-color="" active-text="是" inactive-text="否" :active-value="1" :inactive-value="0" />
          </template>
        </el-table-column>
        <el-table-column label="删除状态" v-permission="130110" width="80">
          <template #default="{ $index, row }">
            <el-switch v-model="row.isdelete" class="mb-2" @change="handleChange('isdelete', $index)"
                       style="--el-switch-on-color: #13ce66; --el-switch-off-color: #ff4949" inline-prompt
                       active-color="" active-text="是" inactive-text="否" :active-value="1" :inactive-value="0" />
          </template>
        </el-table-column>
        <el-table-column label="操作" width="300" align="content-center">
          <template #default="scope">
            <el-button v-if="!scope.row.edit" size="small" icon="edit" type="primary" v-permission="130107"
                       @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
            <el-button v-if="!scope.row.edit" size="small" icon="edit" type="primary" v-permission="130107"
                       @click="handleEdit2(scope.$index, scope.row)">快速编辑</el-button>
            <el-button v-if="scope.row.edit" size="small" type="success" @click.stop="saveEdit(scope.$index, scope.row)">保存编辑</el-button>
            <el-button v-if="scope.row.edit" size="small" type="danger" @click.stop="cancleEdit(scope)">取消保存</el-button>
            <el-button v-if="!scope.row.edit" type="danger" icon="delete" v-permission="130108" size="small"
                       @click="handleDelete(scope.$index, scope.row)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>

      <!--分页相关-->
      <div class="pug-pagebox mt-5">
        <el-pagination background v-model:currentPage="pageNo" v-model:page-size="pageSize"
                       layout=" prev, pager, next,'->',jumper,sizes,total" :pager-count="7"
                       :page-sizes="[10, 20, 30, 40, 50, 100]" :hide-on-single-page="true" @size-change="handlePage"
                       @current-change="handlePage" :total="total" />
      </div>
    </div>
    <pug-dialog full title="模型添加" ref="openDialogRef" @submit="handleSubmit" :loading="btnLoading">
            <div class="pug-product-from">
                <el-form :model="ModelsFrom" ref="modelsFormRef" :rules="rules" label-width="120px" :inline="false" size="normal">
                    <fieldset class="pug-legend">
                        <legend>基础信息</legend>
                        <el-container style="width:1200px;margin:0 auto;">
                            <el-row :gutter="20" style="width:100%">
                            <el-col :span="16">
                                <el-form-item label="模型标题" >
                                    <el-input v-model="ModelsFrom.models.name" placeholder="请输入模型标题" maxlength="100"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="8">
                                <el-form-item label="模型分类" >
                                  <el-cascader
                                  :show-all-levels="false"
                             v-model="ModelsFrom.models.categoryid"
                            :options="AddCategoryList"
                            @change="handleCategory"
                            placeholder="请选择模型状态"
                            :props="{
                            label:'title',
                            value:'id',
                            multiple: false, 
                            children:'children',
                            checkStrictly:true,
                        emitPath:false}"
                        clearable></el-cascader>
                                   
                                </el-form-item>
                            </el-col>
                            <el-col :span="24">
                              <el-form-item label="模型绝对路径" >
                                <el-input type="textarea" :rows="3" v-model="ModelsFrom.models.path" placeholder="请输入模型绝对路径" min="4" max="50" />
                              </el-form-item>
                              
                            </el-col>
                            <el-col :span="8">
                              <el-form-item label="模型作者" >
                                <el-input v-model="ModelsFrom.models.author" placeholder="请输入模型作者" min="4" max="50" />
                              </el-form-item>
                              
                            </el-col>
                            {{ModelsFrom.models.img}}
                            <el-col :span="24">
                                <el-form-item label="模型封面">
                                    <pug-choose-image v-model="ModelsFrom.models.img"></pug-choose-image>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        </el-container>
                    </fieldset>
                  

                    <fieldset class="pug-legend">
                        <legend>设置</legend>
                        <el-container style="width:1200px;margin:0 auto;">
                        <el-row :gutter="20" style="width:100%">
                        <el-col :span="8">
                            <el-form-item label="排序">
                                <el-input  style="width:100%" placeholder="排序" v-model="ModelsFrom.models.sorted" />
                            </el-form-item>
                        </el-col>
                        </el-row>
                    </el-container>
                </fieldset>

               <fieldset class="pug-legend">
                <legend>状态控制</legend>
                <el-container style="width:1200px;margin:0 auto;">
                <el-row :gutter="20" style="width:100%;">
                        <el-col :span="8">
                            <el-form-item label="模型发布状态">
                                <el-radio-group v-model="ModelsFrom.models.status">
                                    <el-radio v-for="item in [{id:1,title:'发布'},{id:0,title:'未发布'}]"
                                     :key="item.id" :label="item.id">
                                        {{item.title}}
                                    </el-radio>
                                </el-radio-group>
                            </el-form-item>
                        </el-col>
                        <el-col :span="6">
                            <el-form-item label="是否删除">
                                <el-radio-group v-model="ModelsFrom.models.isdelete">
                                    <el-radio v-for="item in [{label:1,title:'已删除'},{label:0,title:'未删除'}]" :key="item.label" :label="item.label">
                                        {{item.title}}
                                    </el-radio>
                                </el-radio-group>
                            </el-form-item>
                        </el-col>
                      </el-row>
                    </el-container>
                </fieldset>

                <fieldset class="pug-legend">
                    <legend>标签设置</legend>
                    <el-container style="width:1200px;margin:0 auto;">
                        <el-row :gutter="20" style="width:100%">  
                            <el-col :span="24">
                                <el-form-item label="模型标签" class="flex">
                                    <el-input clearable class="mr-3" v-model="tag" @blur="handleAppendTags" style="width:10%" placeholder="请输入标签"/>
                                    <el-tag v-for="(itemTag,index) in tags" @close="handleDelTags(index)" class="mr-3" size="large" closable>{{itemTag}}</el-tag>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </el-container>
                </fieldset>

                <fieldset class="pug-legend">
                    <legend>模型详情&内容</legend>
                    <el-container style="width:1200px;margin:0 auto;">
                    <el-row :gutter="20" style="width:100%">
                            <el-col :span="24">
                                <el-form-item label="模型简介">
                                    <el-input v-model="ModelsFrom.models.description" placeholder="请输入模型简介" type="textarea" :rows="4"></el-input>
                                </el-form-item>
                            </el-col>

                            <el-col :span="24">
                                <el-form-item label="模型详情">
                                    <pug-editor v-model="ModelsFrom.models.htmlcontent"></pug-editor>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </el-container>
                </fieldset>
                </el-form>
            </div>
        </pug-dialog>
    <!--表单相关-->
    <div class="pug-formbox">
      <pug-drawer ref="formDrawerRef" title="添加模型" @submit="handleSubmit">
        <el-form ref="formRef" :rules="rules" :model="ModelsFrom" label-width="120px" class="demo-modelsManger">
                  <el-form-item label="模型作者" prop="author">
                    <el-input v-model="ModelsFrom.models.author" placeholder="请输入模型作者" min="0" max="20" />
                  </el-form-item>
                  <el-form-item label="模型名称" prop="name">
                    <el-input v-model="ModelsFrom.models.name" placeholder="请输入模型名称" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="模型绝对路径" prop="path">
                    <el-input v-model="ModelsFrom.models.path" placeholder="请输入模型绝对路径" min="4" max="50" />
                  </el-form-item>
                 
                  <el-form-item label="状态" prop="status">
                  
                    <el-switch v-model="ModelsFrom.models.status" class="mb-2" 
                       style="--el-switch-on-color: #13ce66; --el-switch-off-color: #ff4949" inline-prompt
                       active-color="" active-text="是" inactive-text="否" :active-value="1" :inactive-value="0" />
                 
                  </el-form-item>
                  <el-form-item label="删除状态" prop="isdelete">
            
                    <el-switch v-model="ModelsFrom.models.isdelete" class="mb-2"
                       style="--el-switch-on-color: #13ce66; --el-switch-off-color: #ff4949" inline-prompt
                       active-color="" active-text="是" inactive-text="否" :active-value="1" :inactive-value="0" />
                  
                  </el-form-item>
                
        </el-form>
      </pug-drawer>
    </div>
  </div>
</template>
<script  setup>
import { ref, reactive,provide, onMounted } from 'vue'
import modelsService from '@/services/models/ModelsService';
import categoryService from '@/services/category/CategoryService';
import { confirm, toast, toastError,formatDate,parseTime } from '@/utils';
// 控制表格动画
const loading = ref(true);
const tableData = ref([]);
const pageNo = ref(1);
const pageSize = ref(10);
const total = ref(0);
const keyword = ref("");

//模型分类
const categoryList = ref([]);
const AddCategoryList = ref([]);
const loadCategory  = async ()=>{
    
    const serverResponse = await categoryService.findCategoryTree();
    console.log(serverResponse);
    categoryList.value = serverResponse.data; 
    AddCategoryList.value = serverResponse.data; 
}
// 分页信息
const params = reactive({
    searchData:{
        pageNo:1,
        pageSize:10,
        keyword:"",
        starttime:"",
        endtime:"",
        isdelete:"",
        cid:""
    }
})
const searchDate = ref([]);
// 获取搜索日期信息
const handleSelectData  = (item)=>{
  console.log(1111)
    params.searchData.starttime = parseTime(item[0],"{y}-{m}-{d} 00:00:00");
    params.searchData.endtime = parseTime(item[1],"{y}-{m}-{d} 23:59:59");
}

// 查询数据
const loadData = async () => {
  // 开启动画
  loading.value = true;
    // 准备参数
  const {searchData} = params;
  const serverResponse = await modelsService.findModelss(searchData);
    const {total:ctotal,records} =  serverResponse.data;
    tableData.value = records;
    // 这里确实要特别注意
    total.value = ctotal * 1 ;
    // 关闭动画
    loading.value = false;
}
const saveEdit =  async ($index,row) => {
    const serverResponse = await modelsService.saveupdateModels(row);
     // 添加成功
    toast("编辑成功");
    // 还原编辑 
    row.edit = false;
    // 查询一次
    loadData();
}
const cancleEdit = (scope)=>{
    scope.row.title =  rowBaseRef.value.title;
    scope.row.edit = false;
}
// 搜索方法
const handleSearch = () => {
  params.searchData.pageNo = 1;
  loadData();
}

// 点击分页的回调函数
const handlePage = (cpageNo) => {
  params.searchData.pageNo = cpageNo;
  loadData();
}
// 生命周期初始化（目的：初始化第一次数据）
onMounted(()=>{
    loadData();
    loadCategory();
})

// 状态更新
const handleChange = async (field, index) => {
  var value = tableData.value[index][field];
  var id = tableData.value[index].id;
  var params = {};
  params.id = id;
  params[field] = value;
  try {
    const serverResponse = await modelsService.updateModels(params);
    toast("更新成功!!!");
  } catch (err) {
  }
}
// 更新模型类型
const handleUpdate = async (row,filed) => {
   try{
        const params = {};
        params["id"] = row.id;
        params[filed] = row[filed]
        await modelsService.updateStatus(params);
        toast("更新成功!!!");
   }catch(err){
        toastError(err.msg);
   }
}

// 单个删除
const handleDelete = (index,item) => {
  confirm("你确定抛弃我么?").then(async (res) => {
        try {
            await modelsService.deleteModelsById(item.id);
            toast("删除成功!");
            // 刷新查询
            loadData();
        } catch (err) {
            toastError("删除失败!");
        }
    })
}


const selectIds = ref([]);
// 获取批量删除的元素
const selectTableAll = (selection) => {
  selectIds.value = selection.map(item => item.id);
}

// 批量删除
const handleBatchDel = () => {
  if (selectIds.value.length == 0) {
    toastError("请选择一项进行操作...");
    return;
  }

  confirm("你确定要删除吗？").then(async (res) => {
    try {
      const batchIds = selectIds.value.join(",");
      await modelsService.delModels(batchIds);
      // 执行查询一次
      pageNo.value = 1;
      loadData();
    } catch (err) {
      toastError(err.msg);
    }

  });
}


onMounted(() => {
  loadData();
})













/*表单相关 */
const modelsFormRef = ref(null);

const tag = ref("");
// 按钮动画
const btnLoading = ref(false);
// 添加相关
const  openDialogRef = ref(null);
// 模型管理数据模型
const roleDatasRef = ref([]);
// 校验
const rules = reactive({
  author: [
    { required: true, message: '请输入作者名', trigger: 'blur'},
  ],
  name: [
    { required: true, message: '请输入模型名', trigger: 'blur'},
  ],
  path: [
    { required: true, message: '请输入模型保存路径', trigger: 'blur'},
  ]
})

// 数据模型
const ModelsFrom = reactive({
  models: {
        id:"",//模型ID
        author:"",//模型作者
        path:"",//模型绝对路径
        name:"",//模型名称
        status:1,//发布状态
        isdelete:0,//删除状态0未删除1删除
        content:"",
        description:"",
        htmlcontent:"",
        tags:"",
        img:"",
        categoryid:"",
        categorytitle:"",
        sorted:0,

  }
})
const tags = ref([]);
// 添加打开窗口
const handleOpenDialog = ()=>{
    openDialogRef.value.open();
}

// 编辑打开窗口
const handleEdit = async (index,row)=>{
    //courseForm.course = {...row};
    const serverResponse = await modelsService.getModelsById(row.id);
    ModelsFrom.models =  serverResponse.data;
    tags.value = row.tags?row.tags.split(","):[]
    openDialogRef.value.open();
}
// 快速编辑
const rowBaseRef = ref({});
const handleEdit2 = ($index,row)=>{
    rowBaseRef.value = {...row};
    row.edit = true;
}
// 保存提交
const handleSubmit = () => {
  modelsFormRef.value.validate(async (valid) => {
    if (valid) {
      try {
        // 保存服务器
        const serverResponse = await modelsService.saveupdateModels(ModelsFrom.models);
        if (!ModelsFrom.models.id) {
          // 动态添加到表格中
          tableData.value.unshift(serverResponse.data);
        }

        // 注册成功
        toast(ModelsFrom.models.id ? "修改成功" : "添加成功");

        // 清空数据
        reset();
        // 关闭抽屉
        openDialogRef.value.leave();
      } catch (err) {
        // 这个账号已经存在
        toastError(err.msg)
        if (err.code == '110612') {
        }
      }finally{
                // 关闭按钮动画
                btnLoading.value = false;
            }
    }
  })
}


// 重置的问题
const reset = () => {
  ModelsFrom.models = {
        id:"",
        author:"",
        path:"",
        name:"",
        status:1,
        isdelete:0,
        content:"",
        description:"",
        htmlcontent:"",
        tags:"",
        img:"",
        categoryid:"",
        categorytitle:"",
        sorted:0,
  }
};
// 添加标签
const handleAppendTags = (ev)=>{
    if(tag.value){
        const cindex = tags.value.findIndex(item=>item==tag.value);
        if(cindex==-1){
            tags.value.push(tag.value);
            tag.value = "";
            ModelsFrom.models.tags = tags.value.join(",");
        }else{
            toast("已经存在了...");
        }
    }
}

// 删除标签
const handleDelTags = (index)=>{
    tags.value.splice(index,1);
}

// 获取分类的名称
const handleCategory = async(id) => {
  
    // 根据id获取标题
    const category = await categoryService.findCategoryById(id);
    console.log(category.data.title)
    // 赋予数据模型
    ModelsFrom.models.categorytitle =  category.data.title;
    
}

</script>

<style >
    .pug-tablebox{
        background:#fff;
        padding:30px;
    }

    .pug-search-box{
        @apply mb-5 bg-gray-100 px-2 py-2 rounded flex justify-between items-center shadow shadow-light-800;
    }

    .pug-pagebox{
        @apply  flex justify-start;
    }

   .pug-product-from .pug-legend{
        width:1200px;margin:0 auto;border:1px solid #eee;padding:30px 20px;
        margin-bottom: 20px;
    }

  .pug-product-from .pug-legend:hover{
        background:#f8f8f8;
     }

   .pug-product-from .pug-legend legend{
        padding: 0 20px;
        font-size:16px;
        font-weight: 800;
    }

   .pug-product-from .pug-legend:hover legend{
        color:#ff0000;
    }

</style>