<template>
    <div>
      <el-card>
        <div style="font-size: 16px;color: red">注意：按照输入图片上方提示上传图库图片，必须上传图片的所有模态才能预测出结果</div>
      </el-card>
      <el-row>
        <el-col :span="12"><div>
          <el-card style="margin-top: 10px;height: 650px">
            <el-row>
              <el-col :span="6">
                <div style="color: blueviolet">t1模态图片</div>
                <pug-choose-image v-model="imageUrlOne"></pug-choose-image>
              </el-col>
              <el-col :span="6">
                <div style="color: blueviolet">t1ce模态图片</div>
                <pug-choose-image v-model="imageUrlTwo"></pug-choose-image>
              </el-col>
              <el-col :span="6">
                <div style="color: blueviolet">flair模态图片</div>
                <pug-choose-image v-model="imageUrlThree"></pug-choose-image>
              </el-col>
              <el-col :span="6">
                <div style="color: blueviolet">t2模态图片</div>
                <pug-choose-image v-model="imageUrlFour"></pug-choose-image>
              </el-col>
            </el-row>
            <el-select style="margin-top: 20px;" v-model="model" placeholder="请选择模型" size="medium">
              <el-option
                  v-for="item in options"
                  :key="item.id"
                  :label="item.name"
                  :value="item.path">
              </el-option>
            </el-select>
            <div><el-button style="margin-top: 20px;" type="success" @click="predict(imageUrlOne,imageUrlTwo,imageUrlThree,imageUrlFour,model)" round size="medium">开始预测</el-button>
            </div>
          </el-card>
        </div></el-col>
        <el-col :span="12"><div>
          <el-card style="margin-top: 10px;height: 650px">
            <div style="font-size: 16px;color: blue;margin-top: 10px">下图是预测结果, 紫色为非病灶区域或背景, 蓝色代表坏死以及非增强肿瘤核心, 绿色代表瘤周水肿, 黄色代表增强肿瘤</div>
            <div class="demo-image__error">
              <div class="block">
                <el-image
                    style="width: 500px; height: 500px;margin-top: 45px"
                    :src="url">
                </el-image>
              </div>
  
            </div>
          </el-card>
        </div></el-col>
      </el-row>
  
  
    </div>
  
  </template>
<style >

    .pug-tablebox{
        background:#fff;
        padding:30px;
    }

    .pug-search-box{
        @apply mb-5 bg-gray-100 px-2 py-2 rounded flex justify-between items-center shadow shadow-light-800;
    }

    .pug-pagebox{
        @apply  flex justify-start;
    }

</style>

<script  setup>
import ModelsService from '@/services/models/ModelsService';
import { ref, reactive,provide, onMounted } from 'vue'
import {useStore} from 'vuex'
import { confirm, toast, toastError } from '@/utils';
import instanceTwo from '@/utils/instanceTwo';
import request from '@/utils/request';
import { reject } from 'lodash';
const imageUrlOne = ref("");
const imageUrlTwo = ref("");
const imageUrlThree = ref("");
const imageUrlFour = ref("");
const model = ref("");
var url = ref("");
var options = ref([]);
const predict = async(imageUrlOne,imageUrlTwo,imageUrlThree,imageUrlFour,model)=>{
   instanceTwo.post("/predict",{
          "T1_PATH": imageUrlOne,
          "T1CE_PATH": imageUrlTwo,
          "FLAIR_PATH": imageUrlThree,
          "T2_PATH": imageUrlFour,
          "MODEL_SAVED_PATH": model
        }).then(res =>{
            console.log(res.data['SAVE_PATH'])
            if(res.data['SAVE_PATH']==null){
              resolve()
            } 
            url.value = request.post("/upload2/filemap",{
            "SAVE_PATH": res.data['SAVE_PATH']
          }).then(res =>{
              reject();
            console.log(res.data["resources"]["path"]);
            toast("预测成功")
            url.value = res.data["resources"]["path"];
          }).catch(err =>{
            toastError("预测失败")
          })
        }).catch(err =>{
          toastError("请上传图片的四种模态并选择模型")
        })
}
onMounted(()=>{
    ModelsService.findModelsList().then(res =>{
        console.log(res.data);
        options.value = res.data;
    })
})
</script>
