<template>
    <div class="pug-table-form-box">
      <!--表格相关---->
      <div class="pug-tablebox">
        <!--搜索相关-->
        <div class="pug-search-box">
          <div>
            <el-button size="small" type="danger" v-permission="130109" @click="handleBatchDel"
                       icon="CloseBold">删除日志</el-button>
          </div>
          <div class="flex items-center">
            <el-input v-model.trim="keyword" class="w-50 m-2" size="small" placeholder="请输入搜索的日志"
                      prefix-icon="Search" />
            <el-button size="small" @click="handleSearch" type="success">搜索</el-button>
          </div>
        </div>
        <!--表格相关-->
        <el-table :data="tableData" style="width: 100%" @selection-change="selectTableAll">
          <el-table-column type="selection" prop="id" width="50" />
          <el-table-column prop="id" label="日志ID" width="150"/>
          <el-table-column prop="methodname" label="方法名" width="120"/>
          <el-table-column prop="classname" label="类名" width="200"/>
          <el-table-column prop="requestmethod" label="请求方法" width="200"/>
          <el-table-column prop="requesturi" label="请求地址" width="200"/>
          <el-table-column prop="requestip" label="请求IP" width="200"/>
          <el-table-column prop="requestbrower" label="浏览器" width="200"/>
          <el-table-column prop="userId" label="操作人id" width="200"/>
          <el-table-column prop="username" label="姓名" width="200"/>
          <el-table-column prop="telephone" label="联系方式" width="200"/>
          <el-table-column prop="createTime" label="创建时间" width="200"/>
          <el-table-column prop="updateTime" label="更新时间" width="200"/>
          <el-table-column prop="methodparams" label="方法参数" width="200"/>
          <el-table-column prop="osversion" label="操作系统" width="200"/>
          <el-table-column prop="model" label="模块" width="180" />
          <el-table-column prop="description" label="描述" width="180" />
          <el-table-column prop="province" label="省份" width="180" />
          <el-table-column prop="city" label="城市" width="180" />
          <el-table-column label="操作" width="180" align="content-center">
            <template #default="scope">
              <el-button type="danger" icon="delete" v-permission="130108" size="small"
                         @click="handleDelete(scope.$index, scope.row)">删除</el-button>
            </template>
          </el-table-column>
        </el-table>
  
        <!--分页相关-->
        <div class="pug-pagebox mt-5">
          <el-pagination background v-model:currentPage="pageNo" v-model:page-size="pageSize"
                         layout=" prev, pager, next,'->',jumper,sizes,total" :pager-count="7"
                         :page-sizes="[10, 20, 30, 40, 50, 100]" :hide-on-single-page="true" @size-change="handlePage"
                         @current-change="handlePage" :total="total" />
        </div>
      </div>
    </div>
  </template>
  <script  setup>
  import { ref, reactive,provide, onMounted } from 'vue'
  import adminLogsService from '@/services/adminlogs/AdminLogsService';
  import { confirm, toast, toastError } from '@/utils';
  
  const tableData = ref([]);
  const pageNo = ref(1);
  const pageSize = ref(10);
  const total = ref(0);
  const keyword = ref("");
  
  
  // 查询数据
  const loadData = async () => {
    // 准备参数
    var params = { pageNo: pageNo.value, pageSize: pageSize.value, keyword: keyword.value };
    // 执行请求
    const serverResponse = await adminLogsService.findAdminLogss(params);
    // 赋值给响应式属性
    tableData.value = serverResponse.data.records;
    // 总数
    total.value = serverResponse.data.total * 1;
  }
  
  // 搜索方法
  const handleSearch = () => {
    pageNo.value = 1;
    loadData();
  }
  
  // 点击分页的回调函数
  const handlePage = (cpageNo) => {
    pageNo.value = cpageNo;
    loadData();
  }
  
  
  // 单个删除
  const handleDelete = (index) => {
    confirm("你确定删除吗").then(async (res) => {
      var id = tableData.value[index].id;
      const serverResponse = await adminLogsService.deleteAdminLogsById(id);
      tableData.value.splice(index, 1);
    });
  }
  
  
  const selectIds = ref([]);
  // 获取批量删除的元素
  const selectTableAll = (selection) => {
    selectIds.value = selection.map(item => item.id);
  }
  
  // 批量删除
  const handleBatchDel = () => {
    if (selectIds.value.length == 0) {
      toastError("请选择一项进行操作...");
      return;
    }
  
    confirm("你确定要删除吗？").then(async (res) => {
      try {
        const batchIds = selectIds.value.join(",");
        await adminLogsService.delBatchAdminLogs(batchIds);
        // 执行查询一次
        pageNo.value = 1;
        loadData();
      } catch (err) {
        toastError(err.msg);
      }
  
    });
  }
  
  
  // 编辑
  const handleEdit = (index, item) => {
    LogsFrom.logs = item;
    // 并且打开编辑抽屉
    formDrawerRef.value.open();
  }
  
  onMounted(() => {
    loadData();
  })
  
  
  /*表单相关 */
  const formDrawerRef = ref(null);
  const formRef = ref(null);
  // 模型管理数据模型
  const roleDatasRef = ref([]);
  // 校验
  const rules = reactive({
  
  })
  
  // 数据模型
  const LogsFrom = reactive({
    logs: {
          id:"",//ID
          methodname:"",
          classname:"",
          requestmethod:"",
          methodtime:"",
          requesturi:"",
          requestip:"",
          requestbrower:"",
          user_id:"",
          username:"",
          telephone:"",
          methodparams:"",
          osversion:"",
          model:"",
          description:"",
          province:"",
          city:""

    }
  })
  
  
  // 保存提交
  const handleSubmit = () => {
    formRef.value.validate(async (valid) => {
      if (valid) {
        try {
          // 保存服务器
          const serverResponse = await adminLogsService.saveupdateAdminLogs(LogsFrom.logs);
          if (!LogsFrom.logs.id) {
            // 动态添加到表格中
            tableData.value.unshift(serverResponse.data);
          }
  
          // 注册成功
          toast(LogsFrom.logs.id ? "修改成功" : "添加成功");
  
          // 清空数据
          reset();
  
          // 关闭抽屉
          formDrawerRef.value.leave();
        } catch (err) {
          // 这个账号已经存在
          toastError(err.msg)
          if (err.code == '110612') {
          }
        }
      }
    })
  }
  
  // 打开保存用户抽屉
  const handleOpenDrawer = () => {
    reset();
    // 打开窗口
    formDrawerRef.value.open();
  }
  
  
  // 重置的问题
  const reset = () => {
    LogsFrom.logs = {
          id:"",//ID
          methodname:"",
          classname:"",
          requestmethod:"",
          methodtime:"",
          requesturi:"",
          requestip:"",
          requestbrower:"",
          user_id:"",
          username:"",
          telephone:"",
          methodparams:"",
          osversion:"",
          model:"",
          description:"",
          province:"",
          city:""
    }
  };
  
  
  </script>
  
  <style >
  .pug-tablebox {
    background: #fff;
    padding: 30px;
  }
  
  .pug-search-box {
    @apply mb-5 bg-gray-100 px-2 py-2 rounded flex justify-between items-center shadow shadow-light-800;
  }
  
  .pug-pagebox {
    @apply flex justify-start;
  }
  </style>