<template>
    <el-drawer v-model="drawer" title="章节管理" size="85%"  :with-header="false"  direction="ltr"  @before-close="close">
    
        <el-row :gutter="20">
            <el-col :span="6">
                <div class="pug-chapter-box">   
                   <div class="mb-2">
                        <el-button type="primary" icon="plus" size="default" @click="handleAddChapter">添加章</el-button>
                   </div>

                   <el-collapse v-model="chapterActiveName"  :accordion="true">
                        <el-collapse-item style="width:100%" v-for="(chapter,index) in chapterList" :name="chapter.id">
                            <template #title>
                                <div class="chapter-item" style="width:94%">
                                    <div :title="chapter.title+',节有（'+(chapter.lessonList.length)+'）个，ID是：'+chapter.id" class="title" 
                                        :class="[chapter.isdelete==0?'text-black':'text-red-600']">
                                        <span>第{{index+1}}章：</span>
                                        <span>{{chapter.title}}</span>
                                    </div>
                                    <div>
                                        <span title="删除" v-if="chapter.isdelete==0" @click.stop="handleDel(chapter.id,index)" class="pr-3"><el-icon><Delete /></el-icon></span>
                                        <span title="删除" v-if="chapter.isdelete==1" @click="handleRemove(chapter.id,index)" class="pr-3"><el-icon><CloseBold /></el-icon></span>
                                        <span title="恢复" v-if="chapter.isdelete==1" @click="handleReback(chapter.id,index)" class="pr-3"><el-icon><CircleCheck /></el-icon></span>
                                        <span title="复制" v-if="chapter.isdelete==0" @click.stop="handleCopy(chapter.id,index)" class="pr-3"><el-icon><Notification /></el-icon></span>
                                        <span title="编辑" v-if="chapter.isdelete==0" @click.stop="handleEditChapter(index)" ><el-icon><Edit /></el-icon></span>
                                    </div> 
                                </div>
                            </template>
                            <div v-if="chapter.lessonList && chapter.lessonList.length > 0">
                                <ul class="lesson-item-list">
                                    <li  class="lesson-item" v-for="(lesson,cindex) in chapter.lessonList">
                                        <a href="javascript:void(0);"  :class="[lesson.isdelete==0?'text-black':'text-red-600']">
                                            <span class="title">
                                                <span>第{{cindex+1}}节：</span>
                                                <span>{{lesson.title}}</span>
                                            </span>
                                        </a>
                                        <div>
                                            <span title="删除" v-if="lesson.isdelete==0" @click="handleDel(lesson.id,index)" class="pr-3"><el-icon><Delete /></el-icon></span>
                                            <span title="删除" v-if="lesson.isdelete==1" @click="handleRemove(lesson.id,index)" class="pr-3"><el-icon><CloseBold /></el-icon></span>
                                            <span title="恢复" v-if="lesson.isdelete==1" @click="handleReback(lesson.id,index)" class="pr-3"><el-icon><CircleCheck /></el-icon></span>
                                            <span title="复制" v-if="lesson.isdelete==0" @click="handleCopy(lesson.id,index)" class="pr-3"><el-icon><Notification /></el-icon></span>
                                            <span title="编辑"  v-if="lesson.isdelete==0" @click="handleEditLessonIndex(index,cindex)" ><el-icon><Edit /></el-icon></span>
                                        </div> 
                                    </li>  
                                </ul>
                            </div>
                            <div v-else class="p-3">
                                 <div class="p-5 bg-light-400 text-center">暂无节信息</div>   
                            </div>
                        </el-collapse-item>
                    </el-collapse>
                </div> 
            </el-col>



            <el-col :span="18">
                <div class="pug-chapter-box">
                    <el-form :model="courseForm" ref="courseFormRef" :rules="rules" label-width="120px" :inline="false" size="normal">
                        <!--章编辑-->
                        <div class="pug-chapter-form-box"> 
                            <el-divider content-position="left">
                                <el-icon><star-filled /></el-icon>
                                <span class="px-3 text-xl font-bold">章管理</span>
                                <el-icon><star-filled /></el-icon>
                            </el-divider>
                            <div  class="py-5">
                                <el-divider content-position="left">
                                <div class="px-2">
                                        <el-button type="success" size="default" v-if="!expandChapter" @click="expandChapter=true">展开</el-button>
                                        <el-button type="warning" size="default" v-else @click="expandChapter=false">收起</el-button>
                                </div>  
                                </el-divider>
                            </div>
                            <el-container style="width:100%;padding:30px;background:#fff;" v-show="expandChapter">
                                <el-row :gutter="20" style="width:100%">
                                    <el-col :span="16">
                                        <el-form-item label="章标题">
                                            <el-input v-model="chapterForm.chapter.title" placeholder="请输入章标题" maxlength="100"></el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="8">

                                        <el-form-item label="指派的课程">
                                            <el-select
                                                v-model="chapterForm.chapter.courseid" 
                                                style="width:100%" 
                                                placeholder="指派的课程"
                                                >
                                                <el-option
                                                    v-for="item in courseLitOptions"
                                                    :key="item.id"
                                                    :label="item.title"
                                                    :value="item.id"
                                                    ></el-option>
                                            </el-select>
                                            <el-button class="mt-2" type="primary" size="small" icon="edit" @click="loadChapters(chapterForm.chapter.courseid)">编辑课程</el-button>
                                        </el-form-item>
                                    </el-col>

                                    <el-col :span="24">
                                        <el-form-item label="章简介">
                                            <el-input v-model="chapterForm.chapter.description" placeholder="请输入课程简介" type="textarea" :rows="4"></el-input>
                                        </el-form-item>
                                    </el-col>

                                    <el-col :span="6">
                                        <el-form-item label="是否删除">
                                            <el-radio-group v-model="chapterForm.chapter.isdelete">
                                                <el-radio v-for="item in [{label:1,title:'是'},{label:0,title:'否'}]" :key="item.label" :label="item.label">
                                                    {{item.title}}
                                                </el-radio>
                                            </el-radio-group>
                                        </el-form-item>
                                    </el-col>

                                    <el-col :span="6">
                                        <el-form-item label="发布状态">
                                            <el-radio-group v-model="chapterForm.chapter.status">
                                                <el-radio v-for="item in [{id:1,title:'是'},{id:0,title:'否'}]"
                                                :key="item.id" :label="item.id">
                                                    {{item.title}}
                                                </el-radio>
                                            </el-radio-group>
                                        </el-form-item>
                                    </el-col>

                                    <el-col :span="6">
                                        <el-form-item label="是否免费">
                                            <el-radio-group v-model="chapterForm.chapter.isfree">
                                                <el-radio v-for="item in [{id:1,title:'是'},{id:0,title:'否'}]"
                                                :key="item.id" :label="item.id">
                                                    {{item.title}}
                                                </el-radio>
                                            </el-radio-group>
                                        </el-form-item>
                                    </el-col>

                                    <el-col :span="12">
                                        <el-form-item label="章排序">
                                            <el-input v-model="chapterForm.chapter.sorted" placeholder="章排序" maxlength="100"></el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">
                                        <el-form-item label="时长">
                                            <el-input v-model="chapterForm.chapter.coursetimer" placeholder="时长" maxlength="100"></el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">
                                        <el-form-item label="标签">
                                            <el-input v-model="chapterForm.chapter.tags" placeholder="多个用逗号分隔" maxlength="100"></el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="24" class="flex">
                                        <el-form-item label="">
                                            <el-button type="default" v-if="!chapterForm.chapter.id" size="default" @click="handleCancleSave" icon="close">重置</el-button>
                                            <el-button type="primary" v-if="!chapterForm.chapter.id" size="default" @click="handleSaveChapter" icon="edit">保存章</el-button>
                                            <el-button type="primary" v-if="chapterForm.chapter.id && chapterForm.chapter.isdelete==0" size="default" @click="handleSaveChapter" icon="edit">编辑章</el-button>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                            </el-container>
                        </div>

                        <!--节编辑-->
                        <div class="pug-lesson-form-box mt-14" v-show="expandLesson">
                            
                            <el-divider content-position="left">
                                <el-icon><star-filled /></el-icon>
                                <span class="px-3 text-xl font-bold ">节管理 ({{lessonList.length}})</span>
                                <el-icon><star-filled /></el-icon>
                            </el-divider>
                            
                            <div  class="py-5">
                                <el-divider content-position="left">
                                <div class="px-2">
                                        <el-button type="primary" size="default" icon="Plus" @click="handleAddLesson">添加节</el-button>
                                        <el-button type="success" size="default" v-if="lessonActiveName.length==0" @click="expandAll">展开</el-button>
                                        <el-button type="warning" size="default" v-else @click="hideAll">收起</el-button>
                                </div>  
                                </el-divider>
                            </div>
                            
                            <el-container style="width:100%;padding: 20px;background: #fff;">
                                <el-collapse  v-model="lessonActiveName" style="width:100%;" @change="handleChangeColl">
                                    <el-collapse-item style="width:100%" v-for="(lesson,index) in lessonList" :name="lesson.id">
                                        <template #title>
                                                <div class="chapter-item" style="width:100%" :class="[lesson.id==-1?'chapter-item-new':'']">
                                                <span  :class="[lesson.isdelete==0?'text-black':'text-red-600']">第{{index+1}}节：{{lesson.title}}</span>
                                                <div v-if="lesson.id > -1">
                                                    <span title="删除" v-if="lesson.isdelete==0" @click.stop="handleDel(lesson.id,opChapterIndex)" class="pr-3"><el-icon><Delete /></el-icon></span>
                                                    <span title="删除" v-if="lesson.isdelete==1" @click.stop="handleRemove(lesson.id,opChapterIndex)" class="pr-3"><el-icon><CloseBold /></el-icon></span>
                                                    <span title="恢复" v-if="lesson.isdelete==1" @click.stop="handleReback(lesson.id,opChapterIndex)" class="pr-3"><el-icon><CircleCheck /></el-icon></span>
                                                    <span title="复制" v-if="lesson.isdelete==0" @click.stop="handleCopy(lesson.id,opChapterIndex)" class="pr-3"><el-icon><Notification /></el-icon></span>
                                                </div>
                                                <div v-else>
                                                    <span title="删除" @click.stop="handleResetLesson" class="pr-3"><el-icon><Delete /></el-icon></span>
                                                </div>
                                            </div> 
                                        </template>
                                        <el-row :gutter="20" style="width:100%;padding:40px 0;">
                                            <el-col :span="24">
                                                <el-form-item label="节标题">
                                                    <el-input v-model="lesson.title" placeholder="请输入节标题" maxlength="100"></el-input>
                                                </el-form-item>
                                            </el-col>
                                            <el-col :span="8">
                                                <el-form-item label="指派的课程">
                                                    <el-select
                                                        v-model="lesson.courseid" 
                                                        style="width:100%" 
                                                        placeholder="指派的课程"
                                                        @change="handleCourseChange(lesson.courseid,index)"
                                                        >
                                                        <el-option
                                                            v-for="item in courseLitOptions"
                                                            :key="item.id"
                                                            :label="item.title"
                                                            :value="item.id"
                                                            ></el-option>
                                                    </el-select>
                                                </el-form-item>
                                            </el-col>
                                            <el-col :span="8">
                                                <el-form-item label="指派章">
                                                    <el-select
                                                        v-model="lesson.pid" 
                                                        style="width:100%" 
                                                        placeholder="指派章"
                                                        >
                                                        <el-option
                                                            v-for="item in chapterListOptions"
                                                            :key="item.id"
                                                            :label="item.title"
                                                            :value="item.id"
                                                            ></el-option>
                                                    </el-select>
                                                </el-form-item>
                                            </el-col>

                                            <el-col :span="24">
                                                <el-form-item label="节简介">
                                                    <el-input v-model="lesson.description" placeholder="请输入课程简介" type="textarea" :rows="4"></el-input>
                                                </el-form-item>
                                            </el-col>

                                            <!-- <el-col :span="24">
                                                <el-form-item label="笔记">
                                                    <pug-editor></pug-editor>
                                                </el-form-item>
                                            </el-col> -->

                                            <el-col :span="6">
                                                <el-form-item label="是否免费">
                                                    <el-radio-group v-model="lesson.isfree">
                                                        <el-radio v-for="item in [{label:1,title:'是'},{label:0,title:'否'}]" :key="item.label" :label="item.label">
                                                            {{item.title}}
                                                        </el-radio>
                                                    </el-radio-group>
                                                </el-form-item>
                                            </el-col>

                                            <el-col :span="6">
                                                <el-form-item label="发布状态">
                                                    <el-radio-group v-model="lesson.status">
                                                        <el-radio v-for="item in [{id:1,title:'是'},{id:0,title:'否'}]"
                                                        :key="item.id" :label="item.id">
                                                            {{item.title}}
                                                        </el-radio>
                                                    </el-radio-group>
                                                </el-form-item>
                                            </el-col>

                                            <el-col :span="6">
                                                <el-form-item label="是否删除">
                                                    <el-radio-group v-model="lesson.isdelete">
                                                        <el-radio v-for="item in [{label:1,title:'是'},{label:0,title:'否'}]" :key="item.label" :label="item.label">
                                                            {{item.title}}
                                                        </el-radio>
                                                    </el-radio-group>
                                                </el-form-item>
                                            </el-col>

                                            <el-col :span="24">
                                                <el-form-item label="封面图">
                                                    <pug-choose-image v-model="lesson.videofirstimage"></pug-choose-image>
                                                </el-form-item>
                                            </el-col>
                                            <el-col :span="16">
                                                <el-form-item label="播放码">
                                                    <el-input v-model="lesson.videoid" placeholder="播放码" maxlength="100"></el-input>
                                                </el-form-item>
                                            </el-col>
                                            <el-col :span="8">
                                                <el-form-item label="时长">
                                                    <el-input v-model="lesson.coursetimer" placeholder="时长" maxlength="100"></el-input>
                                                </el-form-item>
                                            </el-col>
                                            <el-col :span="16">
                                                <el-form-item label="播放地址">
                                                    <el-input v-model="lesson.videolink" placeholder="播放地址" maxlength="100"></el-input>
                                                </el-form-item>
                                            </el-col>
                                            <el-col :span="24" class="flex">
                                                <el-form-item label="">
                                                    <el-button type="default" v-if="lesson.id==-1" size="default" @click.stop="handleResetLesson()" icon="close">关闭</el-button>
                                                    <el-button type="primary" v-if="lesson.id==-1" size="default" @click.stop="handleSaveLesson(index)" icon="edit">保存节</el-button>
                                                    <el-button type="primary" v-if="lesson.id>-1 && lesson.isdelete==0" size="default" @click.stop="handleSaveLesson(index)" icon="edit">编辑章</el-button>
                                                </el-form-item>
                                            </el-col>
                                        </el-row>
                                    </el-collapse-item>
                                </el-collapse>
                            </el-container>
                         </div>
                    </el-form>
                </div> 
            </el-col>
        </el-row>
    </el-drawer>
</template>
<script  setup>
import { ref,reactive,onMounted } from 'vue'
import { confirm,toastError,toast,formatDate,parseTime} from '@/utils';
import chapterLessonService from '@/services/course/ChapterLessonService';
import courseService from '@/services/course/CourseService';
// 控制章节抽屉
const drawer = ref(false)
// 记录操作的索引
const opChapterIndex = ref(0);
// 控制章的编辑的状态
const expandChapter = ref(true);
// 控制节的折叠菜单展开
const lessonActiveName = ref([1])
// 控制章的折叠菜单展开
const chapterActiveName = ref([])
// 控制章信息
const chapterList = ref([]);
// 控制节编辑(因为添加章的时候，因为还没有章id所有添加节没有意义，所有先隐藏)
const expandLesson = ref(false);
// 课程
const courseId = ref("");
// 对应节信息
const lessonList = ref([]);
// 渲染课程下拉列表
const courseLitOptions = ref([]);
// 渲染课程下拉的章列表
const chapterListOptions = ref([]);




// 综合数据模型
const mainobj = {
    id:"",
    title:"",
    content:"",
    tags:"",
    description:"",
    isdelete:0,
    htmlcontent:"",
    status:1,
    pid:0,
    courseid:courseId.value,
    sorted:1,
    coursetimer:"",
    videoid:"",
    videofirstimage:"",
    videomp4:"",
    videolink:"",
    coursetimersize:"",
    isfree:1
}
// 控制章和节的响应式数据模型
const chapterForm = reactive({
    // 章数据
    chapter:{...mainobj},
    // 节数据
    lesson:{...mainobj}
});



// 用户章节添加的时候渲染课程下来列表
const loadcourseLitOptions = async ()=>{
    const serverResponse = await courseService.findCoursesList();
    courseLitOptions.value = serverResponse.data; 
}



// 添加章
const handleAddChapter = ()=>{
    // 重置数据
    reset("chapter");
    // 收起编辑节
    expandLesson.value = false;
};

// 编辑章
const handleEditChapter = async (index)=>{
    try {
        // 记录编辑章的位置
        opChapterIndex.value = index;
        // 获取编辑的章ID
        const opid = chapterList.value[index].id;
        // 开始异步调用章信息并且查询对应的节
        const serverResponse = await chapterLessonService.getChapterLessons(opid);
        // 把查询的章赋予编辑章的状态管理
        chapterForm.chapter = serverResponse.data;
        // 把查询的节赋予编辑节的状态管理
        lessonList.value = serverResponse.data.lessonList;
        // 打开章编辑的状态
        expandChapter.value = true; 
        // 打开编辑节的状态
        expandLesson.value = true;
        // 把折叠的节的第一个打开进行编辑
        if(lessonList.value && lessonList.value.length > 0){
            lessonActiveName.value = [lessonList.value[0].id];
            // 如果你要展开所有
            //const lessonIds = lessonList.value.map(c=>c.id);
            //lessonActiveName.value = lessonIds
        }

    } catch (err) {
        toastError("操作出错了!");
    }
};

// 保存章
const handleSaveChapter = async() => {
    try{
        // 保存章信息
        const serverResponse = await chapterLessonService.saveupdateChapterLesson(chapterForm.chapter);
        // 转换成编辑状态
        chapterForm.chapter = serverResponse.data;
        // 打开章编辑的状态
        expandChapter.value = true; 
        // 打开编辑节的状态
        expandLesson.value = true;
        // 提示
        toast("保存成功");
        // 刷新
         loadChapters(courseId.value);
        // 查询一次章信息
        handleEditChapter(index);
    }catch(err){
        toastError(err.msg);
    }
}


// 添加节
const  handleAddLesson = () => {
    // 添加新空节，但是不入库
    var len = lessonList.value.filter(lesson=>lesson.id=='').length;
    if(len > 0){
        toastError("有正在编辑节，操作完毕在进行此操作...")
        return;
    }

    // 这里一定给节绑定章的id,为什么要给-1代表当前处于新增状态，让面板直接展开
    chapterForm.lesson.id = -1;
    chapterForm.lesson.pid = chapterForm.chapter.id;
    lessonActiveName.value = [-1];
    lessonList.value.unshift(chapterForm.lesson);
}


// 保存节
const handleSaveLesson = async(index) => {
    try{
        const lesson = lessonList.value[index];
        // -1处于新增状态,一定要清空，否则就会就更新了就不对了。
        if(lesson.id == -1)lesson.id = "";
        // 保存章信息
        const serverResponse = await chapterLessonService.saveupdateChapterLesson(lesson);
        // 转换成编辑状态
        lessonList.value[index] = serverResponse.data;
        // 提示
        toast("保存节成功");
        // 刷新
        loadChapters(courseId.value);
        // 查询一次章信息
        handleEditChapter(opChapterIndex.value);
    }catch(err){
        toastError(err.msg);
    }
};

// 重置节
const handleResetLesson = ()=>{
    // 重置数据
    reset("lesson");
    // 删除第一个元素。因为新添加的元素永远是第一个，所以是0
    lessonList.value.splice(0,1);
}


// 添加章重置
const handleCancleSave = async () => {
    const flag = await confirm("你确定要放弃章操作?");
    if(flag){
        reset("chapter");
    }
} 


// 删除章
const handleDel = (opid,index)=>{
    confirm("你确定抛弃我么?").then(async (res) => {
        try {
            // 记录编辑章的位置
            opChapterIndex.value = index;
            await chapterLessonService.deleteChapterLessonById(opid);
            toast("删除成功!");
            // 刷新章查询
            loadChapters(courseId.value);
            // 查询一次章信息
            handleEditChapter(index);
        } catch (err) {
            toastError("删除失败!");
        }
    })
}

// 删除章节
const handleRemove = async (opid,index)=>{
    const flag = await confirm("你确定抛弃我么?");
    if(flag){
        const flag2 = await confirm("你确定真要删除吗?");
        if(flag2){
            try {
                // 记录编辑章的位置
                opChapterIndex.value = index;

                await chapterLessonService.removeChapterLessonById(opid)
                // 提示
                toast("删除成功!");
                // 刷新章查询
                loadChapters(courseId.value);
                // 查询一次章信息
                handleEditChapter(index);
            } catch (err) {
                toastError("删除失败!");
            }
        }
    }
}

// 恢复章节
const handleReback = async (opid,index)=>{
    const flag = await confirm("你确定要恢复操作?");
    if(flag){
        try {
            // 记录编辑章的位置
            opChapterIndex.value = index;

            await chapterLessonService.rebackChapterLessonById(opid)
            // 提示
            toast("恢复成功!");
            // 刷新章查询
            loadChapters(courseId.value);
            // 查询一次章信息
            handleEditChapter(index);
        } catch (err) {
            toastError("恢复出现异常!");
        }
    }
}

// 复制章
const handleCopy = (opid,index)=>{
   confirm("你确定拷贝该课程吗?").then(async (res) => {
        try {
            // 记录编辑章的位置
            opChapterIndex.value = index;
            await chapterLessonService.copyChapterLesson(opid);
            toast("复制成功!");
            // 刷新章查询
            loadChapters(courseId.value);
            // 查询一次章信息
            handleEditChapter(index);
        } catch (err) {
            toastError("删除失败!");
        }
    })
}


// 编辑节
const handleEditLessonIndex = (index,cindex)=>{
    // 记录编辑章的位置
    opChapterIndex.value = index;
    // 打开编辑节信息
    expandLesson.value = true;
    // 1 通过index找到章信息
    const chapter = chapterList.value[index];
    // 编辑章
    chapterForm.chapter = chapter
    // 把编辑的节展开
    expandChapter.value = true;
    // 打开编辑节的状态
    expandLesson.value = true;
    // 2 通过index和cindex找到章下某个节
    const lesson = chapterList.value[index].lessonList[cindex];
    // 编辑节
    lessonList.value = [lesson]
    // 把编辑的节展开
    lessonActiveName.value = [lesson.id];
}



// 节的指派课程更改的时候触发
const handleCourseChange = async (courseId,index)=>{
    // 让重新渲染一次
    // 根据课程查询对应章信息
    const serverResponse = await chapterLessonService.findChapterList(courseId);
    // 用于节编辑章
    lessonList.value[index].pid = "";
    // 进行渲染课程的节
    chapterListOptions.value = serverResponse.data;
}


// 根据课程id查询章节信息
const loadChapters = async (cid) => {
    // 记录当前点编辑的课程
    courseId.value = cid;
    // 根据课程查询对应章信息
    const serverResponse = await chapterLessonService.findChapterList(cid);
    // 渲染页面
    chapterList.value = serverResponse.data;
    // 用于节编辑章
    chapterListOptions.value = serverResponse.data;
    // 赋予章展开
    if(chapterList.value && chapterList.value.length > 0){
        chapterActiveName.value = [chapterList.value[opChapterIndex.value].id];
        // 如果你要展开所有
        //const chapterIds = chapterList.value.map(c=>c.id);
        //chapterActiveName.value = chapterIds
    }
}

// 重置章节
// 重置章 name="chapter"
// 重置节 name="lesson"
const reset = (name)=>{
    chapterForm[name] = {
        id:"",
        title:"",
        content:"",
        tags:"",
        description:"",
        isdelete:0,
        htmlcontent:"",
        status:1,
        pid:0,
        courseid:courseId.value,
        sorted:1,
        coursetimer:"",
        videoid:"",
        videofirstimage:"",
        videomp4:"",
        videolink:"",
        coursetimersize:"",
        isfree:1
    }
}

// 加载课程信息
onMounted(() => {
     // 查询课程列表
    loadcourseLitOptions();
})










const handleChangeColl = (item)=>{
    lessonActiveName.value = item.length > 0 ? [item[item.length - 1]] : [];
}


// 展开第一个节编辑
const expandAll = ()=>{
    lessonActiveName.value = [1];
}

// 关闭所有的节编辑
const hideAll = ()=>{
    lessonActiveName.value = [];
}

// 打开章节编辑抽屉
const open = ()=>{
    drawer.value = true;
}

// 关闭章节编辑抽屉
const close = ()=>{
    drawer.value = false;
}


// 暴露方法给外部去调用和执行章节抽屉的方法
defineExpose({
    loadChapters,
    open,
    close
})

</script>

<style scoped>
    .pug-chapter-box{
        height:calc(100vh - 40px);
        padding:20px;
        overflow: hidden auto;
        background:#f8f8f8;
    }

   .lesson-item, .chapter-item{
        @apply flex items-center justify-between px-3;
        width: 100%;
    }

    .lesson-item-list > .lesson-item{
        border-bottom: 1px solid #eee;
    }

     .lesson-item-list > .lesson-item:last-child{
        border-bottom: none;
     }

    .lesson-item-list .lesson-item a{
        padding: 8px 10px 8px 20px;
        display: block;
    }

    .chapter-item:hover{
        background:rgba(255,152,0,0.08);
    }

    .chapter-item-new{
        background:rgba(0, 128, 0, 0.097);
    }

    .chapter-item .title{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 70%;
        display: inline-block;
    }

</style>