<template>
    <div class="pug-choose-box mr-2" v-if="modelValue">
        <el-image  :src="modelValue" fit="contain" />
    </div>

    <div class="pug-choose-box" @click="handleOpenUpload">
       <el-icon :size="25"><Plus/></el-icon> 
    </div>

    <pug-image ref="uploadImageRef" @submit="handleSubmit"  title="图库管理"></pug-image>
</template>

<script setup>

    import {provide, ref} from 'vue'

    // 自定义属性
    defineProps({
        modelValue:[String,Array]
    })

    // 获取
    const uploadImageRef = ref(null);

    // 打开文件上传
    const handleOpenUpload = () =>{
        uploadImageRef.value.open();
    }


    const emit = defineEmits(["select"]);
    const handleSubmit = (item)=>{
        // 传递过来了选中的图片信息. 这个给你指定的v-model进行自动赋值
        emit("update:modelValue", item.path)
        // 这个是通过事件的机制，进行回传赋值
        emit("select",item);
        // 关闭弹窗即可
        uploadImageRef.value.close();
    }


    
</script>

<style scoped>
    .pug-choose-box{
        width:100px;
        height:100px;
        border-radius: 4px;
        border:1px solid #eee;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background:#fff;
       
    }

   .pug-choose-box  .el-image {
        width: 100%;
        height: 100%;
    }

    .pug-choose-box:hover{
        background:#eee;
    }
</style>