<template>
    <el-dialog v-model="dialogRef" :title="title" 
        :close-on-press-escape="false"
        :before-close="handleClose"
        :width="width" :top="top" :fullscreen="full" draggable center>
        <!--内容区域-->
        <div class="pug-dialog-body" :class="[full?'pug-dialog-body-h':'']">
            <slot></slot>
        </div>
        <!--底部按照-->
        <template #footer v-if="isbutton">
            <span class="dialog-footer">
                <el-button @click="handleClose">关闭</el-button>
                <el-button type="primary" :loading="loading" @click="handleSubmit">确定</el-button>
            </span>
        </template>
  </el-dialog>

</template>

<script lang="ts" setup>
    import { ref } from 'vue'
    import { confirm } from '../utils';
    
    const dialogRef = ref(false)

    defineProps({
        title:{
            type:String,
            default:"我是一个标题"
        },
        full:{
            type:Boolean,
            default:false
        },
        width:{
            type:String,
            default:"50%"
        },
        top:{
            type:String,
            default:"15vh"
        },
        isbutton:{
            type:Boolean,
            default:true
        },
        loading:{
            type:Boolean,
            default:false
        }
    })

    // 打开
    const open = ()=>{
        dialogRef.value = true;
    }

    
    // 关闭抽屉
    const close = () => {
        confirm("您确定抛弃我吗？").then(()=>{
            dialogRef.value = false;
        })
    }

    const leave = () => {
        dialogRef.value = false;
    }


    // 关闭提示
    const handleClose = ()=>{
        confirm("你确定抛弃我吗？").then(flag=>{
             dialogRef.value = false;
        })
    }

    // 提交方法
    // 自定义事件
    const emit = defineEmits(["submit"]);
    const handleSubmit = ()=>{
        emit("submit")
    }

    // 暴露方法
    defineExpose({
        open,
        leave,
        close
    })


</script>
<style scoped>
.dialog-footer button:first-child {
  margin-right: 10px;
}

.pug-dialog-body{
    overflow: hidden auto;
}

.pug-dialog-body-h{
   height: calc(100vh - 180px);
}

</style>