<template>
    <div class="pug-drawerbox">
        <el-drawer :title="title" v-model="showDrawer" :size="size"
         :before-close="close"
         :close-on-press-escape="false">
            <div class="pug-drawer">
                <div class="pug-drawer-body">
                    <slot></slot>
                </div>
                <div class="pug-drawer-btns">
                    <el-button type="primary" :loading="loading" @click="handleSubmit">提交</el-button>
                    <el-button type="default" @click="close">取消</el-button>
                </div>
            </div>

        </el-drawer>
    </div>
</template>

<script setup>
// 导入相应对象
import { ref } from 'vue';
import { confirm } from '@/utils'


// 这个定义响应式属性，用来控制抽贴隐藏和显示
const showDrawer = ref(false);




// defineProps 自定义属性
defineProps({
    title: {
        type: String,
        default: "修改密码"
    },
    size:{
        type:String,
        default:"40%"
    },
    loading:{
        type:Boolean,
        default:false
    }
});

// 打开抽屉
const open = () => {
    showDrawer.value = true;
}

// 关闭抽屉
const close = () => {
    confirm("您确定抛弃我吗？").then(()=>{
        showDrawer.value = false;
    })
}

const leave = () => {
    showDrawer.value = false;
}

// 自定义事件
const emit = defineEmits(["submit"]);
// 提交
const handleSubmit = () => emit("submit");

// 暴露给外部的ref对象去调用方法
defineExpose({
    open,
    close,
    leave
});

</script>

<style scoped>
.pug-drawerbox {
    position: relative;
    z-index: 3016;
}

.pug-drawerbox :deep(.el-drawer__header) {
    background: #fafafa;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

.pug-drawer {
    @apply flex flex-col;
    width: 100%;
    height: 100%;
    position: relative;
}

.pug-drawer .pug-drawer-body {
    color: #333;
    flex-grow: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 60px;
    overflow: hidden auto;
}

.pug-drawer .pug-drawer-btns {
    height: 50px;
    margin-top: auto;
}
</style>