<template>
    <editor v-model="content" tag-name="p" :init="init" />
</template>
<script setup>
import store from '@/store'
import cache from "@/utils/cache"
// 这里依赖了模块
import tinymce from "tinymce/tinymce";
import Editor from "@tinymce/tinymce-vue";
import { ref, watch } from "vue"
import "tinymce/themes/silver/theme"; // 引用主题文件
import "tinymce/icons/default"; // 引用图标文件
import 'tinymce/models/dom'
// tinymce插件可按自己的需要进行导入
// 更多插件参考：https://www.tiny.cloud/docs/plugins/
import "tinymce/plugins/advlist"
import "tinymce/plugins/anchor"
import "tinymce/plugins/autolink"
import "tinymce/plugins/autoresize"
import "tinymce/plugins/autosave"
import "tinymce/plugins/charmap" // 特殊字符
import "tinymce/plugins/code" // 查看源码
import "tinymce/plugins/codesample" // 插入代码
import "tinymce/plugins/directionality"
import "tinymce/plugins/emoticons"
import "tinymce/plugins/fullscreen" //全屏
import "tinymce/plugins/help"
import "tinymce/plugins/image" // 插入上传图片插件
import "tinymce/plugins/importcss" //图片工具
import "tinymce/plugins/insertdatetime" //时间插入
import "tinymce/plugins/link"
import "tinymce/plugins/lists" // 列表插件
import "tinymce/plugins/media" // 插入视频插件
import "tinymce/plugins/nonbreaking"
import "tinymce/plugins/pagebreak" //分页
import "tinymce/plugins/preview" // 预览
import "tinymce/plugins/quickbars"
import "tinymce/plugins/save" // 保存
import "tinymce/plugins/searchreplace" //查询替换
import "tinymce/plugins/table" // 插入表格插件
import "tinymce/plugins/template" //插入模板
import "tinymce/plugins/visualblocks"
import "tinymce/plugins/visualchars"
import "tinymce/plugins/wordcount" // 字数统计插件
import "@/static/plugins/tinymce/fishLink" // 模板添加

// v-model
const props = defineProps({
    modelValue: String,
})

const emit = defineEmits(["update:modelValue"])


// 配置
const init = {
    language_url: '/tinymce/langs/zh-Hans.js', // 中文语言包路径
    language: "zh-Hans",
    skin_url: '/tinymce/skins/ui/oxide', // 编辑器皮肤样式
    content_css: "/tinymce/skins/content/default/content.min.css",
    menubar: false, // 隐藏菜单栏
    autoresize_bottom_margin: 50,
    max_height: 500,
    min_height: 450,
    // height: 320,
    toolbar_mode: "none",
    plugins:'imgUpload image wordcount  visualchars visualblocks template searchreplace save quickbars preview pagebreak nonbreaking media insertdatetime importcss image help fullscreen directionality codesample code charmap link code table lists advlist anchor autolink autoresize autosave',
    toolbar: "imgUpload image  code template wordcount codesample formats undo redo fontsizeselect fontselect ltr rtl searchreplace media | outdent indent aligncenter alignleft alignright alignjustify lineheight underline quicklink h2 h3 blockquote numlist bullist table removeformat forecolor backcolor bold italic strikethrough hr link preview fullscreen help ",
    content_style: "p {margin: 5px 0; font-size: 14px}",
    fontsize_formats: "12px 14px 16px 18px 24px 36px 48px 56px 72px",
    font_formats: "微软雅黑=Microsoft YaHei,Helvetica Neue,PingFang SC,sans-serif;苹果苹方= PingFang SC, Microsoft YaHei, sans- serif; 宋体 = simsun, serif; 仿宋体 = FangSong, serif; 黑体 = SimHei, sans - serif; Arial = arial, helvetica, sans - serif;Arial Black = arial black, avant garde;Book Antiqua = book antiqua, palatino; ",
    branding: false,
    elementpath: false,
    resize: false, // 禁止改变大小
    statusbar: false, // 隐藏底部状态栏
    
    media_url_resolver: function (data, resolve) {
        try {
            let videoUri = encodeURI(data.url);
            let embedHtml = `<p>
                <span
                    class="mce-object mce-object-video"
                    data-mce-selected="1"
                    data-mce-object="video"
                    data-mce-p-width="100%"
                    data-mce-p-height="auto"
                    data-mce-p-controls="controls"
                    data-mce-p-controlslist="nodownload"
                    data-mce-p-allowfullscreen="true"
                    data-mce-p-src=${videoUri} >
                    <video src=${data.url} width="100%" height="auto" controls="controls" controlslist="nodownload">
                    </video>
                </span>
                </p>
                <p style="text-align: left;"></p>`;
            resolve({ html: embedHtml });
        } catch (e) {
            resolve({ html: "" });
        }
    },


    images_upload_handler: (blobInfo, progress) => new Promise((resolve, reject) => {
        var file = blobInfo.blob();//转化为易于理解的file对象

        if(file.size/1024/1024>2){
            reject({ message: '上传失败，图片大小请控制在 2M 以内', remove: true })
            return
        }

        // 创建一个异步请求 （xhr/jquery/axios）
        const xhr = new XMLHttpRequest();
        xhr.withCredentials = false;
        xhr.open('POST', '/admin/upload/file');

        const token = store.getters['user/getToken']
        const tokenUuid = store.getters['user/getTokenUuid']
        const userId = store.getters['user/getUserId']
        const lang = cache.local.get("lang") || "zh_CN";
        if (token) {
            // 根据请求体格式的不同，需设置对应的Content-Type头
            xhr.setRequestHeader('lang', lang)
            xhr.setRequestHeader('token',  ['pugbear_', token].join(''))
            xhr.setRequestHeader('token-uuid',tokenUuid)
            xhr.setRequestHeader('token-userid', userId)
        }

        // 上传的进度
        xhr.upload.onprogress = (e) => {
            progress(e.loaded / e.total * 100);
        };
        
        // 上传成功和失败回调
        xhr.onload = () => {
            if (xhr.status === 403) {
                reject({ message: 'HTTP Error: ' + xhr.status, remove: true });
                return;
            }
        
            if (xhr.status < 200 || xhr.status >= 300) {
                reject('HTTP Error: ' + xhr.status);
                return;
            }
    
            // xhr.responseText 这个就是服务器返回的信息
            var cjson = JSON.parse(xhr.responseText);
            if(typeof cjson=="string")cjson = JSON.parse(cjson);
            var json = {location:cjson.data};
            if (!json || typeof json.location != 'string') {
                failFun('Invalid JSON: ' + xhr.responseText);
                return;
            }

            // 你只要把图片的地址给reolve自动放入富文本编辑器中
            resolve(json.location);
        }

        let formData=new FormData()
        // 你要上传的文件信息
        formData.append('file', file, file.name );//此处与源文档不一样
        // 设置参数
        formData.append('dir', "product");//此处与源文档不一样
        xhr.send(formData);

    })
}


tinymce.init; // 初始化
const content = ref(props.modelValue)
watch(props, (newVal) => content.value = newVal.modelValue)
watch(content, (newVal) => emit("update:modelValue", newVal))
</script>
<style>
.tox-tinymce-aux {
    z-index: 9999 !important;
}
</style>