<template>
    <div>
        <!--内容区域-->
        <div class="pug-headerbox">
            <el-header class="flex">
                <el-button type="success" size="default" icon="plus" @click="showAdd=true">添加分组</el-button>
                <el-button type="primary" @click="handleOpenUpload">点击文件上传<el-icon class="el-icon--right">
                        <Upload />
                    </el-icon>
                </el-button>
                <el-input maxlength="10" placeholder="请输入名字搜索..." show-word-limit style="width:20%" class="ml-3 mr-3"
                    size="small" type="text" v-model.trim="keyword"/>
                <el-button type="primary" @click="handleSearch" icon="search"></el-button>
            </el-header>
        </div>

        <div class="pug-dialog-body pug-dialog-body-h">
            <el-container class="mt-3 border border-light-500 bg-blue-gray-100">
                <el-aside width="180px" class="bg-white" style="border-right: 1px solid #e5e7eb;">
                    <ul>
                        <li @click="handleChange(-1)" class="pug-cate-item" :class="[tabIndex==-1?'active':'']">
                            <a href="#">全部</a>
                            <el-icon class="del">
                                <Delete />
                            </el-icon>
                        </li>
                        <li @click="handleChange(index,item)" 
                            :class="[tabIndex==index?'active':'']"
                            class="pug-cate-item" v-for="(item,index) in resourceCategoryData" :key="item.id">
                            <a href="javascript:void(0);">{{item.title}}</a>
                            <el-icon class="del" @click="handleCategoryDel(item.id)">
                                <Delete />
                            </el-icon>
                        </li>
                        <li class="mt-5 px-4" v-if="showAdd">
                            <el-input  placeholder="请输入分类名" id="ntitle" v-model.trim="ntitle" size="normal" clearable></el-input>
                            <div class="flex justify-center mt-5">
                                <el-button type="danger" size="small" @click="showAdd=false">取消</el-button>
                                <el-button type="primary" size="small" :loading="addLoading" @click="handleCategorySave">保存</el-button>
                            </div>
                            
                        </li>
                    </ul>
                     <el-footer class="flex items-center bg-white justify-center">
                        <el-pagination background  layout="prev, next" :total="ctotal" 
                         v-model:currentPage="cpageNo" hide-on-single-page v-model:page-size="cpageSize"  @current-change="handleCPage"/>
                    </el-footer>
                </el-aside>
                <el-container>
                    <el-main class="pug-image-mainbox">
                        <el-row :gutter="20">
                            <el-col :xl="2" :md="4" :sm="1" class="mb-5" v-for="(item, index) in resourceData" :key="index">
                                <div class="pug-img-item" :class="[selectIndex == index ? 'active' : '']" >
                                    <!--图片元素-->        
                                    <el-image
                                        style="width: 100px; height: 100px"
                                        :src="item.path"
                                        :preview-src-list="imageList"
                                        :initial-index="index"
                                        fit="contain"/>
                                    <span class="pug-img-select">
                                        <el-icon color="#4ff856" :size="32"><Select /></el-icon>
                                    </span>
                                </div>
                                <div class="text-center pug-text-limit"> 
                                    <label><el-radio  v-model="selectIndex" :label="index" @change="handleSelect(index)"></el-radio>{{item.filename}}</label>
                                </div>
                            </el-col>
                        </el-row>
                    </el-main>
                    <el-footer  class="flex items-center bg-white">
                        <el-pagination small layout="total,prev, pager, next" :total="total"
                            v-model:currentPage="pageNo"  v-model:page-size="pageSize" @current-change="handlePage"/>
                    </el-footer>
                </el-container>
            </el-container>
        </div>

        <pug-drawer ref="uploadFileDrawerRef" title="文件上传" @submit="handleSubmitUpload">
            <pug-upload-file ref="uploadRef" :cid="cidRef"></pug-upload-file>
        </pug-drawer>

    </div>
</template>

<script setup>
import { onMounted, reactive,watch, ref, inject } from 'vue'
import resourceService from '@/services/resources/ResourceService';
import { toastError,confirm,toast,getById } from '@/utils';

// 资源库分类相关
const resourceCategoryData = ref([]);
const cpageNo = ref(1);
const cpageSize = ref(10);
const ctotal = ref(0);
// 分类添加
const showAdd = ref(false);
// 添加分类的名称
const ntitle = ref("");
// 添加按钮的动画效果
const addLoading = ref(false);

// 加载分类数据
const loadCategoryData = async () => {
    var params = { pageNo: cpageNo.value, pageSize: cpageSize.value };
    const serverResponse = await resourceService.findResourceCategorys(params);
    resourceCategoryData.value = serverResponse.data.records;
    ctotal.value = serverResponse.data.total * 1;
}

// 分类分页
const handleCPage = (pno)=>{
    cpageNo.value = pno;
    loadCategoryData();
}

// 删除分类
const handleCategoryDel = async (id)=>{
    const countData = await resourceService.countResourceByCid(id);
    const count = countData.data;
    let msg = "你确定删除此分类吗？"
    if(count > 0){
        toastError("当前分类下有【"+count+"】资源文件，无法删除");
        return;
    }
    const ok = await confirm(msg);
    if(ok){
        const flag = await confirm("再次确定要删除该分类吗?");
        if(flag){
            try{
                await resourceService.delResourcecategory(id);
                // 删除成功
                toast("删除分类成功!!!")
                // 重新查询分类
                loadCategoryData();
            }catch(err){
                toastError(err.msg);
            }
        }
    }
}

// // 删除分类
// const handleCategoryDel = async (id)=>{
//     const countData = await resourceService.countResourceByCid(id);
//     const count = countData.data;
//     let msg = "你确定删除此分类吗？"
//     if(count>0){
//         msg = "当前分类下有【"+count+"】资源文件，你确定删除吗?";
//     }
//     const ok = await confirm(msg);
//     if(ok){
//         const flag = await confirm("再次确定要删除该分类吗?");
//         if(flag){
//             try{
//                 await resourceService.delResourcecategory(id);
//                 // 删除成功
//                 toast("删除分类成功!!!")
//                 // 重新查询分类
//                 loadCategoryData();
//             }catch(err){
//                 toastError(err.msg);
//             }
//         }
//     }
// }

// 保存分类
const handleCategorySave = async ()=>{
    // 添加的按钮动画
    addLoading.value = true;
    const title = ntitle.value;
    if(!title){
        toastError("请输入分类标题");
        addLoading.value = false;
        getById("ntitle").focus();
        return;
    }
    const sorted = resourceCategoryData.value.length + 1;
    const category = {title,status:1,sorted,isdelete:0,pid:0};
    try{
        await resourceService.saveResourcecategory(category);
        // 提示
        toast("添加成功!!!")
        // 重新查询分类
        loadCategoryData();
        // 重置
        ntitle.value = "";
        // 添加
        showAdd.value = false;
    }catch(err){
        toastError(err.msg);
    }finally{
        // 关闭按钮动画
        addLoading.value = false;
    }
}




// 文件上传
const uploadFileDrawerRef = ref(null);
const cidRef = ref("");
// 打开文件上传
const handleOpenUpload = () => {
    if(!cidRef.value){
        toastError("请选中一个分类进行操作!!");
        return;
    }
    uploadFileDrawerRef.value.open();
}





// 资源库相关
const resourceData = ref([]);
const pageNo = ref(1);
const pageSize = ref(48);
const total = ref(0);
const imageList = ref([]);

// 搜索相关
const keyword = ref("");
// 分类搜索
const searchCategoryRef = ref("");
// 控制分类选中的索引
const tabIndex = ref(-1);

// 查询资源信息
const loadData = async () => {
    var params = { pageNo: pageNo.value, pageSize: pageSize.value,keyword:keyword.value,categoryId:searchCategoryRef.value};
    const serverResponse = await resourceService.findResources(params);
    resourceData.value = serverResponse.data.records;
    imageList.value = serverResponse.data.records.map(res=>res.path);
    total.value = serverResponse.data.total * 1;
}


// 分类搜索
const handleChange = (index,item)=>{
    if(index==-1){
        pageNo.value = 1;
        tabIndex.value = -1;
        searchCategoryRef.value = "";
        cidRef.value = "";
    }else{
        searchCategoryRef.value = item.id;
        cidRef.value = item.id;
        tabIndex.value = index;
    }

    loadData(); 
}

// 关键字搜索查询
const handleSearch = () =>{
    pageNo.value = 1;
    loadData(); 
}

// 资源分页
const handlePage = (pno)=>{
    pageNo.value = pno;
    loadData();
}







// 生命周期执行和调用
onMounted(() => {
    //查询资源分类
    loadCategoryData();
    // 查询资源库
    loadData();
})



// 文件上传刷新
const uploadRef = ref({});
const handleSubmitUpload = ()=>{
    // 1: 文件触发上传
    uploadRef.value.uploaded(()=>{
        // 2: 上传以后进行刷新
        pageNo.value = 1;
        keyword.value = "";
        loadData();
    })
}


// 选择图片
const selectIndex = ref(0);
const handleSelect = (index)=>{
    selectIndex.value = index;
}



// 暴露一个选中图片的方法
const selectFile = ()=>{
   return resourceData.value[selectIndex.value];
}

// 暴露获取方法元素得方法.ref
defineExpose({
    selectFile
})

</script>

<style scope>
.pug-dialog-body {
    overflow: hidden;
}

.pug-dialog-body-h {
    height: calc(100vh - 220px);

}

.pug-image-mainbox {
    height: calc(100vh - 300px)
}


.pug-conatainerbox .pug-headerbox .el-header {
    height: auto !important;
    padding: 0 !important;
}

.pug-img-item {
    @apply bg-white w-[100px] h-[100px] flex justify-center items-center;
    position: relative;
    cursor: pointer;
}


.pug-img-select {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pug-img-item.active .pug-img-select {
    display: block;
}

.pug-cate-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e5e7eb;
    transition: 300ms;
}

.pug-cate-item.active{
    background:red;
    color:#fff;
}

.pug-cate-item:hover {
    background: #eee;
}



.pug-cate-item .del {
    width: 40px;
}

.pug-cate-item a {
    flex-grow: 1;
    font-size: 12px;
    padding: 10px;
}

.pug-text-limit{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
</style>