<template>
    <div>
        <el-select :modelValue="modelValue" placeholder="请选择图标" 
            clearable 
            filterable
            @change="handleSelect">
            <el-option v-for="item in iconKeys"
            :key="item"
            :label="item"
            :value="item">
               <div class="flex justify-between items-center">
                   <el-icon>
                        <component :is="item"></component>
                   </el-icon> 
                   <span>{{item}}</span>
               </div> 
            </el-option>
        </el-select>
        <el-icon class="ml-3" :size="20" v-if="modelValue"><component :is="modelValue"></component></el-icon> 
    </div>
</template>


<script setup>
    import {ref} from 'vue'
    // 导入所有的element-plus的组件库
    import * as ElementPlusIconsVue from '@element-plus/icons-vue'
    // 定义响应式数据接受图标
    
    const iconKeys = ref(Object.keys(ElementPlusIconsVue));


    defineProps({
        "modelValue":{
            type:String,
            default:""
        }
    });

    // 自定义事件
    const emit = defineEmits(["select","update:modelValue"]);

    const handleSelect = (item)=>{
        // 这个事件是告诉我们，如果你调用组件的使用v-model。那么会自动把组件值映射到你v-model属性上
        // 这个要记住：在vue3提供一个事件update:modelValue专门用更改组件映射v-model属性 
        emit("update:modelValue",item);
        // 如果你没有自动v-model。你可以采用@select事件的方式去赋值你的属性
        emit("select",item);
        // 上面的两者就告诉我一道理：你可以选择一种方式进行赋值即可。
    }


</script>


<style scoped>

</style>