<template>
    <div>
        <el-dialog v-model="dialogRef" :title="title" 
        :close-on-press-escape="false" :before-close="handleClose"
        :width="width"  :top="top" draggable>

            <pug-image-main ref="imageMainRef"></pug-image-main>

            <!--底部按照-->
            <template #footer>
                <span class="dialog-footer flex justify-end">
                    <el-button @click="handleClose">关闭</el-button>
                    <el-button type="primary" @click="handleSubmit">确定</el-button>
                </span>
            </template>
         </el-dialog>
    </div>

</template>

<script  setup>
import { inject, ref } from 'vue'
import { confirm } from '../utils';

const dialogRef = ref(false)
const imageMainRef = ref(null);

defineProps({
    title: {
        type: String,
        default: "我是一个标题"
    },
    full: {
        type: Boolean,
        default: false
    },
    width: {
        type: String,
        default: "95%"
    },
    top: {
        type: String,
        default: "25px"
    }
})

// 打开
const open = () => {
    dialogRef.value = true;
}

// 关闭
const close = () => {
    dialogRef.value = false;
}

// 关闭提示
const handleClose = () => {
    confirm("你确定抛弃我吗？").then(flag => {
        dialogRef.value = false;
    })
}



// 自定义事件
const emit = defineEmits(["submit"]);
const handleSubmit = () => {
    // 获取选中元素
    var item = imageMainRef.value.selectFile();
    emit("submit",item);
}

// 暴露方法
defineExpose({
    open,
    close
})

</script>
<style scoped>


</style>