<template>
    <el-upload
        class="upload-demo"
        drag
        v-model:file-list="fileList"
        ref="uploadRef"
        :headers="headers"
        action="/admin/upload/filemap"
        :data="{dir,oldname,cid}"
        :multiple="true"
        :auto-upload="false"
        accept="image/png,image/jpg,image/jpeg"
        :before-upload="handleBefore"
        :on-change="handleFilePreview"
        :on-progress="handleFileProgress"
        :on-success="handleFileSuccess"
        :on-error="handleFileError"
        :limit="100"
    >
        <el-icon class="el-icon--upload"><upload-filled /></el-icon>
        <div class="el-upload__text">
        拖拽文件到此处 或者 <em>点击文件上传</em>
        </div>
        <template #tip>
        <div class="el-upload__tip">
            文件类型是jpg/png，大小不得超过500kb
        </div>
        </template>
    </el-upload>
</template>
<script  setup>
import { ref } from 'vue'
import {useStore} from 'vuex'
import { UploadFilled } from '@element-plus/icons-vue'
import cache from "@/utils/cache"
import { toastError,toast } from '@/utils';
const store = useStore();
const fileList = ref([]); 


// 自定义属性
const props = defineProps({
  cid:{
    type:String,
    default:""
  },
  dir:{
    type:String,
    default:"wzc"
  },
  oldname:{
    type:String,
    default:""
  }
})


/*携带token信息 */
const token = store.getters['user/getToken']
const tokenUuid = store.getters['user/getTokenUuid']
const userId = store.getters['user/getUserId']
const lang = cache.local.get("lang") || "zh_CN";

const headers = ref({});
if (token) {
    headers.value.lang = lang;
    headers.value.token = ['pugbear_', token].join('')
    headers.value["token-uuid"]= tokenUuid
    headers.value["token-userid"] = userId
}




const uploadRef = ref(null);
let callback  = null;
let count = 0;

// 文件上传得回调
const handleBefore = (file)=>{
    if(file.size > 1024 * 1024 * 2){
        toastError("上传文件不得超过2MB");
        return false;
    }

    if(file.type != "image/png"  && file.type != "image/jpg" && file.type != "image/jpeg"){
        toastError("请选中图片文件，支持png/jpg");
        return false;
    }

    count = 0;
    return true;//代表文件会继续上传,如果是false终止上传
}

// 文件预览
const handleFilePreview = (file)=>{
    
    // file = file.raw;
    // let reader = new FileReader();
    // //新建 FileReader 对象
    // reader.onload = function(){
    //     // 当 FileReader 读取文件时候，读取的结果会放在 FileReader.result 属性中
    //     document.querySelector('#img').src = this.result;
    //     document.querySelector('#text').innerHTML = this.result;
    // };
    // // 设置以什么方式读取文件，这里以base64方式
    // reader.readAsDataURL(file);
    
}

// 文件进度 
const handleFileProgress = (progressevt,file,files)=>{
    console.log("文件上传得进度是：" , progressevt.loaded,progressevt.total,progressevt.percent)
}

// 文件上传成功
const handleFileSuccess = (serverResponse,file,files)=>{
    count++;
    // 所有文件上传完毕以后处理，这里就保证刷新一次回调得办法
    if(files.length == count){
        // 清空
        count = 0;
        // 执行回调
        if(callback){
          callback();
        }
    }
    
    // 删除上传成功得文件信息
    uploadRef.value.handleRemove(file);
}

// 文件上传失败
const handleFileError = (erorr,file,files)=>{
    toastError("文件上传失败...");
    uploadRef.value.handleRemove(file);
}

// 上传得方法
const uploaded = (fn)=>{
    // 接受回调函数
    callback = fn;
    // 提交文件上传
    uploadRef.value.submit();
   
};


// 暴露方法
defineExpose({
  uploaded
})




</script>