<template>
    <div class="pug-table-form-box">
      <!--表格相关---->
      <div class="pug-tablebox">
        <!--搜索相关-->
        <div class="pug-search-box">
          <el-container>
            <el-button size="small" type="primary" @click="predictBatch" icon="View">
              预测全部数据</el-button>
              <el-button size="small" type="success" @click="savePredictBatch" icon="Check">
              保存全部预测结果</el-button>
              <el-button size="small" type="warning" @click="resetPredictBatch" icon="Refresh">
              重置全部预测结果</el-button>
         <el-upload action="/admin/sepsispatients/import" :show-file-list="false" accept="xlsx" :on-success="handleExcelImportSuccess" 
            :headers="headers" >
            <el-button size="small" type="primary" icon="Bottom" style="margin-left:12px;margin-right:12px;">导入Excel</el-button>
          </el-upload>
            <el-button size="small" type="primary" icon="Top" @click="exp">导出Excel</el-button> 
          </el-container>
          <div class="flex items-center">
            <el-input v-model.trim="keyword" class="w-50 m-2" size="small" placeholder="请输入搜索的用户"
                      prefix-icon="Search" />
            <el-button size="small" @click="handleSearch" type="success">搜索</el-button>
          </div>
        </div>
        <!--表格相关-->
        <el-table :data="tableData" style="width: 100%" @selection-change="selectTableAll">
          <el-table-column label="名字" width="180">
            <template #default="{ $index, row }">
              <div class="flex items-center">
                <div class="flex flex-col ml-3">
                  <span>{{ row.name }}</span>
                  <span class="text-sm">编号：{{ row.id }}</span>
                </div>
              </div>
            </template>
          </el-table-column>
          <el-table-column label="预测结果" prop="data" width="100" align="center"></el-table-column>
          <el-table-column prop="sex" label="性别"></el-table-column>
          <el-table-column prop="age" label="年龄"></el-table-column>
          <el-table-column prop="a" label="FR"></el-table-column>
          <el-table-column prop="b" label="RF"></el-table-column>
          <el-table-column prop="c" width="140" label="highT"></el-table-column>
          <el-table-column prop="d" width="140" label="maxPCT"></el-table-column>
          <el-table-column prop="e" width="140" label="1stPCT"></el-table-column>
          <el-table-column prop="f" width="140" label="lastPCT"></el-table-column>
          <el-table-column prop="g" width="140" label="1stWBC"></el-table-column>
          <el-table-column prop="h" width="140" label="maxWBC"></el-table-column>
          <el-table-column prop="i" width="140" label="lastWBC"></el-table-column>
          <el-table-column prop="j" label="CRP"></el-table-column>
          <el-table-column prop="k" width="140" label="1stQTc"></el-table-column>
          <el-table-column prop="l" width="140" label="lastQTc"></el-table-column>
          <el-table-column prop="m" width="140" label="maxQTc"></el-table-column>
          <el-table-column prop="n" width="140" label="1stDD"></el-table-column>
          <el-table-column prop="o" width="140" label="lastDD"></el-table-column>
          <el-table-column prop="p" width="140" label="maxDD"></el-table-column>
          <el-table-column prop="q" width="140" label="result"></el-table-column>
          <el-table-column prop="r" label="Chol"></el-table-column>
          <el-table-column prop="s" label="TG"></el-table-column>
          <el-table-column prop="t" width="140" label="HDL_C"></el-table-column>
          <el-table-column prop="u" width="140" label="LDL_C"></el-table-column>
          <el-table-column prop="v" label="LP"></el-table-column>
          <el-table-column label="操作" width="100" align="center">
            <template #default="scope">
              <el-button type="danger" icon="delete" v-permission="130108" size="small"
                         @click="handleDelete(scope.$index, scope.row)">删除</el-button>
            </template>
          </el-table-column>
        </el-table>
  
        <!--分页相关-->
        <div class="pug-pagebox mt-5">
          <el-pagination background v-model:currentPage="pageNo" v-model:page-size="pageSize"
                         layout=" prev, pager, next,'->',jumper,sizes,total" :pager-count="7"
                         :page-sizes="[10, 20, 30, 40, 50, 100]" :hide-on-single-page="true" @size-change="handlePage"
                         @current-change="handlePage" :total="total" />
        </div>
      </div>
  
  
      
    </div>
  </template>
  <script  setup>
  import { ref, reactive,provide, onMounted } from 'vue'
  import sepsispatientsService from '@/services/sepsispatients/SepsisPatientsService';
  import { confirm, toast, toastError } from '@/utils';
  import {useStore} from 'vuex'
  import cache from "@/utils/cache"
  import request from "@/utils/request"
  import instanceFour from '../../utils/instanceFour';
  const tableData = ref([]);
  const pageNo = ref(1);
  const pageSize = ref(10);
  const total = ref(0);
  const keyword = ref("");
  
  const store = useStore();
  
  const token = store.getters['user/getToken']
  const tokenUuid = store.getters['user/getTokenUuid']
  const userId = store.getters['user/getUserId']
  const lang = cache.local.get("lang") || "zh_CN";
  
  const headers = ref({});
  if (token) {
      headers.value.lang = lang;
      headers.value.token = ['pugbear_', token].join('')
      headers.value["token-uuid"] = tokenUuid
      headers.value["token-userid"] = userId
  }
  var datas = ref({});
  const predictBatch = async() =>{
    try{
      alert("预测需要些时间，请耐心等待一会")
      const res = await sepsispatientsService.predictBaths();
      console.log(res.data['path']);
      datas = await instanceFour.post("/predict",{"FilePath": res.data['path']});
      console.log(datas)
      console.log(tableData.value.length)
      toast("预测成功")
      for (var num=0;num <tableData.value.length;num++){
            tableData.value[num].data = datas.data[num]
            console.log(tableData.value[num].data)
    }
    }catch(error){
      console.log(error)
      toastError("预测失败")
    }
 
  }
  const savePredictBatch= async() =>{
    try{
      const num = await request.post('/sepsispatients/predict',datas.data)
    toast("预测结果保存成功")
    }catch(error){
      console.log(error)
      toastError("预测结果保存失败")
    }
    
  }
  const resetPredictBatch = async() =>{
    
    try{
      const num = await request.post('/sepsispatients/reset')
    toast("预测结果重置成功")
    loadData()
    }catch(error){
      console.log(error)
      toastError("预测结果重置失败")
    }
  }
  // 查询数据
  const loadData = async () => {
    // 准备参数
    var params = { pageNo: pageNo.value, pageSize: pageSize.value, keyword: keyword.value };
    // 执行请求
    const serverResponse = await sepsispatientsService.findSepsisPatients(params);
    // 赋值给响应式属性
    tableData.value = serverResponse.data.records;
    // 总数
    total.value = serverResponse.data.total * 1;
  }
  const exp = ()=>{
    window.open("http://localhost:8877/admin/sepsispatients/export")
  }
  // 搜索方法
  const handleSearch = () => {
    pageNo.value = 1;
    loadData();
  }
  const handleExcelImportSuccess = ()=>{
    toast("导入成功")
    loadData();
  }
  // 点击分页的回调函数
  const handlePage = (cpageNo) => {
    pageNo.value = cpageNo;
    loadData();
  }
  // 单个删除
  const handleDelete = (index) => {
    confirm("你确定删除吗").then(async (res) => {
      var id = tableData.value[index].id;
      const serverResponse = await sepsispatientsService.deleteSepsisPatientsById(id);
      tableData.value.splice(index, 1);
    });
  }
  
  
  const selectIds = ref([]);
  // 获取批量删除的元素
  const selectTableAll = (selection) => {
    selectIds.value = selection.map(item => item.id);
  }
  
  // 批量删除
  const handleBatchDel = () => {
    if (selectIds.value.length == 0) {
      toastError("请选择一项进行操作...");
      return;
    }
  
    confirm("你确定要删除吗？").then(async (res) => {
      try {
        const batchIds = selectIds.value.join(",");
        await sepsispatientsService.delBatchSepsisPatients(batchIds);
        pageNo.value = 1;
        loadData();
      } catch (err) {
        toastError(err.msg);
      }
  
    });
  }
  
  
  // 编辑
  const handleEdit = (index, item) => {
    SepsispatientsFrom.sepsispatients = item;
    // 并且打开编辑抽屉
    formDrawerRef.value.open();
  }
  
  onMounted(() => {
    loadData();
  })
  
  
  /*表单相关 */
  const formDrawerRef = ref(null);
  const formRef = ref(null);
  // 脓毒症信息管理数据模型
  const roleDatasRef = ref([]);
  // 校验
  const rules = reactive({
  
  })
  
  // 数据模型
  const SepsispatientsFrom = reactive({
    sepsispatients: {
          id:0,//患者id
          name:"",//患者姓名
          sex:"",
          age:"",
          a:"",
          b:"",//
          c:"",//
          d:"",//
          e:"",//
          f:"",//
          g:"",//
          h:"",//
          i:"",//
          j:"",//
          k:"",//
          l:"",//
          m:"",//
          n:"",//
          o:"",//
          p:"",//
          q:"",//
          r:"",//
          s:"",//
          t:"",//
          u:"",//
          v:"",//
          data:""
    }
  })
  
  
  // 保存提交
  const handleSubmit = () => {
    formRef.value.validate(async (valid) => {
      if (valid) {
        try {
          // 保存服务器
          const serverResponse = await sepsispatientsService.saveupdateSepsisPatients(SepsispatientsFrom.sepsispatients);
          if (!SepsispatientsFrom.sepsispatients.id) {
            // 动态添加到表格中
            tableData.value.unshift(serverResponse.data);
          }
  
          // 注册成功
          toast(SepsispatientsFrom.sepsispatients.id ? "修改成功" : "添加成功");
  
          // 清空数据
          reset();
  
          // 关闭抽屉
          formDrawerRef.value.leave();
        } catch (err) {
          // 这个账号已经存在
          toastError(err.msg)
          if (err.code == '110612') {
          }
        }
      }
    })
  }
  
  // 打开保存用户抽屉
  const handleOpenDrawer = () => {
    reset();
    // 打开窗口
    formDrawerRef.value.open();
  }
  
  
  // 重置的问题
  const reset = () => {
    SepsispatientsFrom.sepsispatients = {
      id:0,//患者id
          name:"",//患者姓名
          sex:"",
          age:"",
          a:"",
          b:"",//
          c:"",//
          d:"",//
          e:"",//
          f:"",//
          g:"",//
          h:"",//
          i:"",//
          j:"",//
          k:"",//
          l:"",//
          m:"",//
          n:"",//
          o:"",//
          p:"",//
          q:"",//
          r:"",//
          s:"",//
          t:"",//
          u:"",//
          v:"",//
          data:""
    }
  };
  
  
  </script>
  
  <style >
  .pug-tablebox {
    background: #fff;
    padding: 30px;
  }
  
  .pug-search-box {
    @apply mb-5 bg-gray-100 px-2 py-2 rounded flex justify-between items-center shadow shadow-light-800;
  }
  
  .pug-pagebox {
    @apply flex justify-start;
  }
  </style>