<template>
    <el-row class="min-h-screen">
        <el-col :lg="9" :md="9" class="pug-login-left">
            <h2 class="pug-login-tit">欢迎回来</h2>
            <div class="pug-login-info">
                <span class="pug-line"></span>
                <span>账号密码登录</span>
                <span class="pug-line"></span>
            </div>
            <el-form :model="user" ref="userFormRef" :rules="userLoginRules" class="w-[250px]">
                <el-form-item prop="username">
                    <el-input v-model="user.username" id="username" type="text" placeholder="请输入用户名"  maxlength="20" minlength="3">
                        <template #prepend>
                            <el-icon><User /></el-icon>
                        </template>
                    </el-input>
                </el-form-item>
                <el-form-item prop="password">
                    <el-input v-model="user.password" id="password" placeholder="请输入密码" type="password" maxlength="20" minlength="3">
                      <template #prepend><el-icon><Lock /></el-icon></template>
                    </el-input>
                </el-form-item>
                <el-form-item prop="code" class="pug-code-box">
                    <el-input v-model="user.code" id="code" placeholder="请输入验证码" @keydown.enter="handleLoginSubmit" maxlength="4" minlength="4">
                     <template #prepend><el-icon><Lock /></el-icon></template>
                    </el-input>
                    <img :src="captchaData" @click="createCaptcha" class="code" alt="">
                </el-form-item>
                
                <el-form-item>
                    <el-button type="primary"  class="w-[250px]" :loading="loading"  @click="handleLoginSubmit">登录</el-button>
                </el-form-item>
                <div>
             <el-button link style="float: left" @click="handleResetPassword">忘记密码</el-button>
             <el-button type="primary" link @click="router.push('/register')" style="float: right">没有账号？请注册</el-button>
                </div>
            </el-form>
        </el-col>
        <el-col :lg="15" :md="15" class="pug-login-right bg-green-300">
            <div class="text-center">
                <img class="inline" src="@i/img/hero_img.png" alt="">
                <div class="font-bold text-5xl text-light-50 mb-4 mt-9">欢迎光临</div>
                <div class="text-gray-200 text-sm">深度学习医疗检测系统</div>
            </div>
        </el-col>
    </el-row>
    <el-dialog v-model="passwordVis" title="忘记密码" :close-on-click-modal="false" style="width: 500px; padding: 0 20px">
      <el-form :model="passwordForm" ref="rulePasswordFormRef" :rules="passwordRules" status-icon label-width="70px">
        <el-form-item label="邮箱" prop="email">
          <el-input v-model="passwordForm.email" autocomplete="off" />
        </el-form-item>
        <el-form-item label="验证码" prop="emailCode">
          <div style="display: flex; width: 100%">
            <el-input style="flex: 1" v-model="passwordForm.emailCode" clearable></el-input>
            <el-button style="width: 120px; margin-left: 5px" @click="sendEmail" :disabled="time > 0">点击发送<span v-if="time">（{{ time }}）</span></el-button>
          </div>
        </el-form-item>
      </el-form>
      <template #footer>
      <span class="dialog-footer">
        <el-button @click="passwordVis = false">取消</el-button>
        <el-button type="primary" @click="resetPassword">确认</el-button>
      </span>
      </template>
    </el-dialog>
</template>

<script setup>  
// 导入模块
import useLogin from '@/api/UseLogin.js';
import router from "@/router";

// 把需要暴露的方法和相应属性全部导入
const {
    userFormRef,
    user,
    loading,
    userLoginRules,
    handleLoginSubmit,
    createCaptcha,
    captchaData,
    handleResetPassword,
    passwordForm,
    passwordRules,
    resetPassword,
    passwordVis,
    time,
    interval,
    rulePasswordFormRef,
    sendEmail
} = useLogin();
</script>

<style scope>

.pug-login-left {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*标题设置样式 */
.pug-login-tit {
    @apply font-bold text-3xl text-gray-800;
}

.pug-login-info {
    @apply flex items-center m-5 space-x-3 text-gray-300;
}

/*分割线*/
.pug-line {
    @apply h-[1px] w-16 bg-gray-200 inline-block;
}

.pug-login-right {
    @apply flex items-center justify-center;
}

.pug-code-box {position: relative;}
.pug-code-box .code{
    position: absolute;
    right:0;
    width:86px
}
</style>
