<template>
    <el-container class="pug-conatainerbox">
        <el-header>
            <pug-header></pug-header>
        </el-header>
        <el-container class="pug-content-box">
            <el-aside class="pug-el-aside">
                <pug-menu></pug-menu>
            </el-aside>
            <pug-tag-list></pug-tag-list>
            <el-main class="pug-el-main" :style="{'left':$store.state.menu.slideWidth}">
                <div class="pugcontentbox">
                   <router-view v-slot="{Component}">
                        <transition name="fade">
                            <keep-alive>
                                <component :is="Component"></component>
                            </keep-alive>
                        </transition>
                    </router-view>
                </div>
            </el-main>
        </el-container>
    </el-container>
</template>

<script setup>
// 局部注册
import { PugHeader, PugMenu, PugTagList } from '@/layouts'

</script>


<style  scoped>

    .pug-content-box{
        position: relative;
        z-index: 1000;
    }

    .pug-conatainerbox :deep(.el-header){
        height: 48px!important;
    }
    
    .pug-conatainerbox  :deep(.el-menu){border-right:none!important;}

    /*左侧菜单栏 */
    .pug-el-aside{
        width: 208px !important;
        transition: all 200ms;
        background:red;
    }

    /*主题内容区域 */
    .pug-el-main{
        position: fixed;
        right:0;
        top:90px;
        height:100vh;
        left:208px;
        padding-bottom: 120px;
        background:#f0f2f5;
    }

    .pug-el-main::-webkit-scrollbar{width: 0px;}
    .fade-enter-from{
        opacity: 0;
    }

    .fade-enter-to{
        opacity: 1;
    }

    .fade-leave-from{
        opacity: 1;
    }

    .fade-leave-to{
        opacity: 0;
    }

    .fade-enter-active,
    .fade-leave-active{
        transition: all 200ms;
    }

    .fade-enter-active{
        transition-delay: 200ms;
    }
</style>