<template>
    <div class="pug-header">
        <span class="pug-logo">
            <el-image class="mr-2" src="/src/assets/img/logo-w.png" fit="fit" />
            <span class="font-bold">医学辅助诊断系统</span>
        </span>
        <el-tooltip effect="dark" content="首页" placement="bottom">
            <el-icon @click="handleIndex" class="pug-l-btn">
                <HomeFilled />
            </el-icon>
        </el-tooltip>
        <el-tooltip effect="dark" content="折叠" placement="bottom">
            <el-icon @click="handleExpand" class="pug-l-btn">
                <Fold v-if="$store.state.menu.isCollapse"/>
                <Expand v-else />
            </el-icon>
        </el-tooltip>
        <el-tooltip effect="dark" content="刷新" placement="bottom">
            <el-icon @click="handleRefresh" class="pug-l-btn">
                <Refresh />
            </el-icon>
        </el-tooltip>
        <text class="text-sm cursor-pointer" @click="handleChangeLang('en_US')">英文</text>
        <text class="text-sm ml-3 cursor-pointer" @click="handleChangeLang('zh_CN')">中文</text>
        <div class="pug-user-box">
            <el-tooltip effect="dark" content="全屏" placement="bottom">
                <el-icon @click="handleFullScreen" class="mr-8">
                    <FullScreen v-if="!isFullscreen" />
                    <Grid v-else />
                </el-icon>
            </el-tooltip>
    
            <el-dropdown @command="handleCommand">
                <span class="pug-user-au">
                    <el-avatar class="mr-3" :size="25" :src="$store.state.user.avatar" />
                    <span class="mr-2">[{{$store.getters['user/getRoleName']}}]</span>
                    <span class="mr-2">{{ $store.state.user.username }}</span>
                    <el-icon class="el-icon--right">
                        <arrow-down />
                    </el-icon>
                </span>
                <template #dropdown>
                    <el-dropdown-menu>
                        <el-dropdown-item command="UpdatePwd">修改密码</el-dropdown-item>
                        <el-dropdown-item command="Logout">退出登录</el-dropdown-item>
                    </el-dropdown-menu>
                </template>
            </el-dropdown>
        </div>
    </div>
    <!--抽屉组件-->
    <pug-drawer @submit="handleOpen" size="15%" ref="updatePwdRef">
        <template #default>
            <el-form
                label-position="right"
                label-width="100px"
                :rules="rules"
                ref="userPwdFormRef"
                :model="userPwdForm"
            >
                <el-form-item label="旧密码：" prop="pwd1">
                    <el-input v-model="userPwdForm.oldpassword"  maxlength="20" min="4" placeholder="请输入旧密码"/>
                </el-form-item>
                <el-form-item label="新密码：" prop="pwd2">
                    <el-input v-model="userPwdForm.newpassword" maxlength="20" min="4" placeholder="请输入新密码"/>
                </el-form-item>
                <el-form-item label="确认密码：" prop="pwd3">
                    <el-input v-model="userPwdForm.confirmpassword"  maxlength="20" min="4" placeholder="请输入确认密码"/>
                </el-form-item>
            </el-form>

        </template>
    </pug-drawer>
</template>

<script setup>
import usePugHeader from '@/api/layout/UsePugHeader.js'
import cache from "@/utils/cache"
import {useStore} from 'vuex'

const store = useStore();

const {
    isFullscreen,
    handleIndex,
    handleRefresh,
    handleCommand,
    handleOpen,
    updatePwdRef,
    handleExpand,
    handleFullScreen,

    userPwdForm,
    userPwdFormRef,
    rules
} = usePugHeader();

const handleChangeLang = (lang)=>{
    // 切换语言
    cache.local.set("lang",lang);
    // 切换状态管理的语言
    store.commit("i18n/changeLan",lang);
}







</script>

<style scoped>

.pug-header {
    @apply flex items-center bg-indigo-700 fixed right-0 left-0 text-lime-50;
    height: 48px;
    z-index: 1000;
}

.pug-logo {
    @apply flex items-center justify-center;
    width: 208px;
}

.pug-l-btn {
    @apply flex items-center justify-center text-light-50;
    cursor: pointer;
    width: 48px;
    height: 48px;
}

.pug-l-btn:hover {
    @apply bg-indigo-600;
}

.pug-user-box {
    @apply ml-auto flex items-center mr-5;
}

.pug-user-au {
    @apply flex items-center text-light-50;
}
</style>