<template>
    <div class="pug-menubox" :style="{ width: $store.state.menu.slideWidth }">
        <el-menu 
            ref="menuRef"
            :default-active="defaultActive" 
            class="border-0" 
            :collapse="$store.state.menu.isCollapse"
            :unique-opened="true" 
            :collapse-transition="false"
            @select="handleSelectMenu"
            >
                <template  v-for="(menu,index) in menuList"  :key="menu.id" >
                     <!--有子元素的菜单-->
                    <el-sub-menu v-permission="menu.code" :index="menu.name" v-if="menu.children && menu.children.length > 0">
                        <template #title>
                            <el-icon>
                                <component :is="menu.icon"></component>
                            </el-icon>
                            <span> {{store.state.i18n.langs[store.state.i18n.lan].menu[menu.code]}}</span>
                        </template>
                    <template v-for="(cmenu) in menu.children" :key="cmenu.id">
                    <el-menu-item v-permission="cmenu.code" :index="cmenu.path" v-if="!cmenu.children || cmenu.children.length <= 0">
                        <template #title>
                            <el-icon>
                                <component :is="cmenu.icon"></component>
                            </el-icon>
                            <span> {{store.state.i18n.langs[store.state.i18n.lan].menu[cmenu.code]}}</span>
                        </template>
                    </el-menu-item>
                    <el-sub-menu v-permission="cmenu.code" :index="cmenu.path" v-else>
                        <template #title>
                            <el-icon>
                                <component :is="cmenu.icon"></component>
                            </el-icon>
                            <span> {{store.state.i18n.langs[store.state.i18n.lan].menu[cmenu.code]}}</span>
                        </template>
                        <template v-for="(ccmenu) in cmenu.children" :key="ccmenu.id">
                        <el-menu-item v-permission="ccmenu.code" :index="ccmenu.path" v-if="!ccmenu.children || ccmenu.children.length <= 0">
                            <el-icon>
                                <component :is="ccmenu.icon"></component>
                            </el-icon>
                            <span> {{store.state.i18n.langs[store.state.i18n.lan].menu[ccmenu.code]}}</span>
                        </el-menu-item>
                        <el-sub-menu v-permission="ccmenu.code" :index="ccmenu.path" v-else>
                        <template #title>
                            <el-icon>
                                <component :is="ccmenu.icon"></component>
                            </el-icon>
                            <span> {{store.state.i18n.langs[store.state.i18n.lan].menu[ccmenu.code]}}</span>
                        </template>
                        <el-menu-item v-permission="cccmenu.code" :index="cccmenu.path" v-for="(cccmenu) in ccmenu.children" :key="cccmenu.id">
                            <el-icon>
                                <component :is="cccmenu.icon"></component>
                            </el-icon>
                            <span> {{store.state.i18n.langs[store.state.i18n.lan].menu[cccmenu.code]}}</span>
                        </el-menu-item>
                        </el-sub-menu>
                        </template>
                    </el-sub-menu>
                </template>    
                    </el-sub-menu>
                    <!--无子元素的菜单-->
                    <el-menu-item  v-permission="menu.code" :index="menu.path" v-else>
                        <el-icon>
                             <component :is="menu.icon"></component>
                        </el-icon>
                        <span> {{store.state.i18n.langs[store.state.i18n.lan].menu[menu.code]}}</span>
                    </el-menu-item>
                </template>
        </el-menu>
    </div>
</template>

<script  setup>
import { computed,ref ,onMounted} from 'vue'
import { useStore } from 'vuex'
import { useRouter, useRoute ,onBeforeRouteUpdate} from 'vue-router'

// 获取路由对象
var router = useRouter();
// 获取当前路由参数和地址
var route = useRoute();
// 获取状态管理
var store = useStore();


// 激活选中的目录,
const defaultActive = computed(() => {
    return route.path;
});

// 菜单栏的数据
const  menuList = computed(()=>store.state.menu.menuList);

// 点击菜单进行导航
const handleSelectMenu = (index) => {
    //store.commit("menu/addPath", index);
    router.push(index);
}

</script>

<style>
.pug-menubox {
    @apply fixed shadow-md bg-light-50;
    top: 48px;
    width: 248px;
    bottom: 0;
    left: 0;
    overflow: hidden auto;
}
</style>