<template>
    <div class="pug-tagbox"  :style="{'left':$store.state.menu.slideWidth}">
        <el-tabs
            v-model="activeTab"
            type="card"
            class="demo-tabs"
            @tab-remove="removeTab"
            @tab-change="changeTab"
        >
            <el-tab-pane
            :closable="item.path!='/'"
            v-for="item in editableTabs"
            :key="item.path"
            :label="$store.state.i18n.langs[$store.state.i18n.lan].menu[item.code]"
            :name="item.path"
            >
            </el-tab-pane>
        </el-tabs>
        <div class="pug-tab-dropdown">
            <el-dropdown @command="handlerClose">
                <span class="el-dropdown-link">
                    <el-icon class="el-icon--right">
                        <arrow-down />
                    </el-icon>
                </span>
                <template #dropdown>
                    <el-dropdown-menu>
                        <el-dropdown-item command="other">关闭其他</el-dropdown-item>
                        <el-dropdown-item command="all">全部关闭</el-dropdown-item>
                    </el-dropdown-menu>
                </template>
            </el-dropdown>
        </div>
    </div>
</template>


<script setup>
import { ref ,onMounted} from 'vue'
import {useRouter,useRoute,onBeforeRouteUpdate} from 'vue-router'
import cache from '@/utils/cache'

// 定义路由对象
const router = useRouter();
const route = useRoute();
// 用于路由激活
const activeTab = ref("/");
/*初始化首页卡片，记住这个卡片永远都不能删除，一定要保留 */
const editableTabs = ref([ {title: '后台首页',path: '/',code:"101"}]);


// 缓存同步操作---start
function initTableList(){
    const cacheMenuList = cache.local.getJSON("editableTabs");
    if(cacheMenuList){
        editableTabs.value = cacheMenuList;
    }
}

onMounted(() => {
    // 同步缓存
    initTableList();
    // 激活当前
    activeTab.value = route.path;
})




// 监听路由的变化，如果发生了变化就添加路由
onBeforeRouteUpdate((to, from) =>{
   //添加导航卡片
   addTab({title: to.meta.title,path:to.path,code:to.meta.code})
});


// 添加卡片
const addTab = (tabItem) => {
  // 根据传递进来tabItem，查询是否存在导航集合中，如果存在就不添加了
  var exist = editableTabs.value.findIndex(item=>item.path == tabItem.path);
  // 如果没有找到 -1 ,
  if(exist == -1){
    // 就追加
    editableTabs.value.push(tabItem)
  }

  // 激活当前卡片选中
  activeTab.value = tabItem.path;
  
  // 放入缓存
  cache.local.setJSON("editableTabs",editableTabs.value);
}


// 删除卡片
// 两重含义：1： 直接删除激活以外的，2：删除激活元素，会去获取下一个元素或者上一个元素进行激活。
const removeTab = (deleteItem) => {
  
  // 获取所有的卡片元素
  const tabs = editableTabs.value

  // 获取当前激活的元素
  let currentSelectPath = activeTab.value

  // 如果targetName(删除的目标元素)和当前激活元素是一个。 
  if (currentSelectPath === deleteItem) {
    // 开始遍历所有卡片元素。 这个代码的意思删除自己以后，就去激活下一个元素。
    // 没有下一个元素就去激活前一个元素
    tabs.forEach((tab, index) => {
      //如果找到了这个元素
      if (tab.path === deleteItem) {
        // 就找到当前删除元素的，下一个或者前一个元素。
        const nextTab = tabs[index + 1] || tabs[index - 1]
        if (nextTab) {
          currentSelectPath = nextTab.path
        }
      }
    })
  }

  // 激活下一个元素
  activeTab.value = currentSelectPath
  // 把删除元素过滤即可   
  editableTabs.value = tabs.filter((tab) => tab.path !== deleteItem)

  // 覆盖缓存
  cache.local.setJSON("editableTabs",editableTabs.value);
}

// 访问卡片
const changeTab = (item)=>{
    // 跳转路由
    router.push(item);
}











// 下来关闭
const handlerClose = (command)=>{
    CommandEvent[command]();
}

const CommandEvent = {
    //关闭其他
    other(){
        editableTabs.value = editableTabs.value.filter((item) => (item.path == "/" || item.path == activeTab.value));
        // 覆盖缓存
        cache.local.setJSON("editableTabs",editableTabs.value);
    },
    //关闭所有
    all(){
        // 利用数组覆盖,保留首页
        editableTabs.value =[ {title: '后台首页',path: '/',code:"101"}]
        // 把激活变成当前
        activeTab.value = "/"
        // 覆盖缓存
        cache.local.setJSON("editableTabs",editableTabs.value);
    }
}


</script>


<style>
.pug-tagbox{
    @apply fixed text-center px-2 flex items-center;
    height:38px;
    right:0;
    top:48px;
    background:#f8f8f8;
}

.pug-tagbox .el-tabs{
    height:30px!important;
}

.pug-tagbox .el-tabs__header{
    border:0!important;
    margin-bottom:0!important;
}

.pug-tagbox .el-tabs__nav{
    border:0!important;
}

.pug-tagbox .el-tabs__item{
    height:30px;
    line-height:30px;
    border-radius:6px;
    border:0;
    background:#eee;
    margin:0 2px;
}

/*下拉关闭 */
.pug-tab-dropdown{
    @apply bg-white rounded ml-auto flex items-center justify-center px-2;
    height:30px;
}


</style>