<template>
  <div class="pug-table-form-box">
    <!--表格相关---->
    <div class="pug-tablebox">
      <!--搜索相关-->
      <div class="pug-search-box">
        <div>
          <el-button size="small" type="primary" v-permission="130107" @click="handleOpenDrawer" icon="Plus">
            新增用户</el-button>
          <el-button size="small" type="danger" v-permission="130109" @click="handleBatchDel"
                     icon="CloseBold">删除用户</el-button>
        </div>
        <div class="flex items-center">
          <el-input v-model.trim="keyword" class="w-50 m-2" size="small" placeholder="请输入搜索的用户"
                    prefix-icon="Search" />
          <el-button size="small" @click="handleSearch" type="success">搜索</el-button>
        </div>
      </div>
      <!--表格相关-->
      <el-table :data="tableData" style="width: 100%" @selection-change="selectTableAll">
        <el-table-column type="selection" prop="id" width="50" />
        <el-table-column label="名字" width="300">
          <template #default="{ $index, row }">
            <div class="flex items-center">
              <el-avatar :size="36" :src="row.avatar" />
              <div class="flex flex-col ml-3">
                <span>{{ row.adminlogsname }}</span>
                <span class="text-sm">编号：{{ row.id }}</span>
              </div>
            </div>
          </template>
        </el-table-column>
        <el-table-column prop="account" label="账号" />
        <el-table-column prop="createTime" label="创建时间" width="180" />
        <el-table-column label="状态" v-permission="130110" width="180">
          <template #default="{ $index, row }">
            <el-switch v-model="row.status" class="mb-2" @change="handleChange('status', $index)"
                       style="--el-switch-on-color: #13ce66; --el-switch-off-color: #ff4949" inline-prompt
                       active-color="" active-text="是" inactive-text="否" :active-value="1" :inactive-value="0" />
          </template>
        </el-table-column>
        <el-table-column label="删除状态" v-permission="130110" width="180">
          <template #default="{ $index, row }">
            <el-switch v-model="row.isdelete" class="mb-2" @change="handleChange('isdelete', $index)"
                       style="--el-switch-on-color: #13ce66; --el-switch-off-color: #ff4949" inline-prompt
                       active-color="" active-text="是" inactive-text="否" :active-value="1" :inactive-value="0" />
          </template>
        </el-table-column>
        <el-table-column label="操作">
          <template #default="scope">
            <el-button size="small" icon="view" v-permission="130111"
                       @click="handleRole(scope.$index, scope.row)">查看角色</el-button>
            <el-button size="small" icon="edit" v-permission="130107"
                       @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
            <el-button type="danger" icon="delete" v-permission="130108" size="small"
                       @click="handleDelete(scope.$index, scope.row)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>

      <!--分页相关-->
      <div class="pug-pagebox mt-5">
        <el-pagination background v-model:currentPage="pageNo" v-model:page-size="pageSize"
                       layout=" prev, pager, next,'->',jumper,sizes,total" :pager-count="7"
                       :page-sizes="[10, 20, 30, 40, 50, 100]" :hide-on-single-page="true" @size-change="handlePage"
                       @current-change="handlePage" :total="total" />
      </div>
    </div>


    <!--表单相关-->
    <div class="pug-formbox">
      <pug-drawer ref="formDrawerRef" title="添加后台用户" @submit="handleSubmit">
        <el-form ref="formRef" :rules="rules" :model="AdminLogsFrom" label-width="120px" class="demo-adminlogsManger">
          <el-form-item label="姓名" prop="adminlogsname">
            <el-input v-model="AdminLogsFrom.adminlogs.adminlogsname" placeholder="请输入姓名(4~20)" min="4" max="20" />
          </el-form-item>
          <el-form-item label="账号" prop="account">
            <el-input v-model="AdminLogsFrom.adminlogs.account" placeholder="请输入账号(4~20)" min="4" max="20" />
          </el-form-item>
          <el-form-item label="密码" prop="password">
            <el-input v-model="AdminLogsFrom.adminlogs.password" placeholder="请输入密码(3~20)" min="3" max="20" />
          </el-form-item>
          <el-form-item label="头像" prop="avatar">
            <pug-choose-image v-model="AdminLogsFrom.adminlogs.avatar"></pug-choose-image>
          </el-form-item>
          <el-form-item label="角色" prop="roleId">
            <el-select v-model="AdminLogsFrom.adminlogs.roleId" :filterable="true" placeholder="请选择角色"
                       size="default">
              <el-option v-for="item in roleDatasRef" :key="item.id" :label="item.roleName"
                         :value="item.id" />
            </el-select>
          </el-form-item>
          <el-form-item label="状态" prop="status">
            <el-switch v-model="AdminLogsFrom.adminlogs.status" class="mb-2"
                       style="--el-switch-on-color: #13ce66; --el-switch-off-color: #ff4949" inline-prompt
                       active-color="" active-text="是" inactive-text="否" :active-value="1" :inactive-value="0" />
          </el-form-item>
          <el-form-item label="删除状态" prop="isdelete">
            <el-switch v-model="AdminLogsFrom.adminlogs.isdelete" class="mb-2"
                       style="--el-switch-on-color: #13ce66; --el-switch-off-color: #ff4949" inline-prompt
                       active-color="" active-text="是" inactive-text="否" :active-value="1" :inactive-value="0" />
          </el-form-item>
        </el-form>
      </pug-drawer>
    </div>

    <!--角色授予相关-->
    <div class="pug-formbox-dialog">
      <pug-dialog ref="roleDialogRef" :isbutton="false" title="角色信息">
        <el-table :data="roleList" border stripe @selection-change="handleSelectionChange">
          <el-table-column label="角色名称" prop="roleName" />
          <el-table-column label="操作">
            <template #default="{ $index, row }">
              <el-button size="small" :type="row.auth ? 'success' : 'info'" icon="view" v-permission="130111"
                         @click="handleRoleOperator($index, row)">{{ row.auth ? "解除绑定" : "绑定关系" }}</el-button>
            </template>
          </el-table-column>
        </el-table>
      </pug-dialog>
    </div>
  </div>
</template>
<script  setup>
import { ref, reactive,provide, onMounted } from 'vue'
import adminUserService from '@/services/adminadminlogs/AdminLogsFromService';
import adminRoleService from '@/services/adminrole/AdminRoleService';
import { confirm, toast, toastError } from '../../utils';

const tableData = ref([]);
const pageNo = ref(1);
const pageSize = ref(10);
const total = ref(0);
const keyword = ref("");


// 查询数据
const loadData = async () => {
  // 准备参数
  var params = { pageNo: pageNo.value, pageSize: pageSize.value, keyword: keyword.value };
  // 执行请求
  const serverResponse = await adminUserService.findAdminLogsFroms(params);
  // 赋值给响应式属性
  tableData.value = serverResponse.data.records;
  // 总数
  total.value = serverResponse.data.total * 1;
}

// 搜索方法
const handleSearch = () => {
  pageNo.value = 1;
  loadData();
}

// 点击分页的回调函数
const handlePage = (cpageNo) => {
  pageNo.value = cpageNo;
  loadData();
}


// 状态更新
const handleChange = async (field, index) => {
  var value = tableData.value[index][field];
  var id = tableData.value[index].id;
  var params = {};
  params.id = id;
  params[field] = value;
  try {
    const serverResponse = await adminUserService.updateAdminLogsFrom(params);
    toast("更新成功!!!");
  } catch (err) {
  }
}

// 单个删除
const handleDelete = (index) => {
  confirm("你确定删除吗").then(async (res) => {
    var id = tableData.value[index].id;
    const serverResponse = await adminUserService.deleteAdminLogsFromById(id);
    tableData.value.splice(index, 1);
  });
}


const selectIds = ref([]);
// 获取批量删除的元素
const selectTableAll = (selection) => {
  selectIds.value = selection.map(item => item.id);
}

// 批量删除
const handleBatchDel = () => {
  if (selectIds.value.length == 0) {
    toastError("请选择一项进行操作...");
    return;
  }

  confirm("你确定要删除吗？").then(async (res) => {
    try {
      const batchIds = selectIds.value.join(",");
      await adminUserService.delAdminLogsFrom(batchIds);
      // 执行查询一次
      pageNo.value = 1;
      loadData();
    } catch (err) {
      toastError(err.msg);
    }

  });
}


// 编辑
const handleEdit = (index, item) => {
  //  一定是在打开的时候在去查询角色信息，然后渲染到列表中
  loadRoleDatas();
  // 获取编辑的元素
  item.password = "";
  AdminLogsFrom.adminlogs = item;
  // 并且打开编辑抽屉
  formDrawerRef.value.open();
}


const roleDialogRef = ref(false);
const roleList = ref([]);
// 查看角色
const adminlogsIdRef = ref(null);
const handleRole = async (index, row) => {
  // 查询角色信息
  const serverReponse = await adminRoleService.findRoleUsers(row.id);
  // 渲染角色信息
  roleList.value = serverReponse.data;
  // 获取授权的用于id
  adminlogsIdRef.value = row.id;
  // 打开抽屉
  roleDialogRef.value.open();
}


// 绑定和解除绑定关系
const handleRoleOperator = ($index, row) => {
  // 获取点击授权的状态信息
  const auth = row.auth;
  // 获取角色信息
  const roleId = row.id;
  // 执行绑定和解绑
  adminlogsRoleRelation[auth ? "unbind" : "binding"](adminlogsIdRef.value, roleId, row);
}

const adminlogsRoleRelation = {
  binding(adminlogsId, roleId, row) {
    adminUserService.bingRole(adminlogsId, roleId).then(res => {
      toast("绑定成功")
      row.auth = true;
    })
  },
  unbind(adminlogsId, roleId, row) {
    return adminUserService.unBingRole(adminlogsId, roleId).then(res => {
      toast("解除绑定成功")
      row.auth = false;
    })
  }
}





onMounted(() => {
  loadData();
})













/*表单相关 */
const formDrawerRef = ref(null);
const formRef = ref(null);
// 角色数据模型
const roleDatasRef = ref([]);
// 校验
const rules = reactive({

})

// 数据模型
const AdminLogsFrom = reactive({
  adminlogs: {
        id:"",//主健
        methodname:"",//方法名
        classname:"",//类名
        requestmethod:"",//请求方法
        methodtime:"",//方法执行时间
        requesturi:"",//请求地址
        requestip:"",//请求IP
        requestbrower:"",//浏览器
        methodparams:"",//方法参数
        osversion:"",//操作系统
        model:"",//模块
        description:"",//描述
        province:"",//省份
        city:"",//城市
  }
})


// 保存提交
const handleSubmit = () => {
  formRef.value.validate(async (valid) => {
    if (valid) {
      try {
        // 保存服务器
        const serverResponse = await adminUserService.saveupdateAdminLogsFrom(AdminLogsFrom.adminlogs);
        if (!AdminLogsFrom.adminlogs.id) {
          // 动态添加到表格中
          tableData.value.unshift(serverResponse.data);
        }

        // 注册成功
        toast(AdminLogsFrom.adminlogs.id ? "修改成功" : "添加成功");

        // 清空数据
        reset();

        // 关闭抽屉
        formDrawerRef.value.leave();
      } catch (err) {
        // 这个账号已经存在
        toastError(err.msg)
        if (err.code == '110612') {
        }
      }
    }
  })
}

// 查询角色信息
const loadRoleDatas = async () => {
  const serverResponse = await adminRoleService.findAdminRoleList();
  roleDatasRef.value = serverResponse.data;
}

// 打开保存用户抽屉
const handleOpenDrawer = () => {
  reset();
  //  一定是在打开的时候在去查询角色信息，然后渲染到列表中
  loadRoleDatas();
  // 打开窗口
  formDrawerRef.value.open();
}


// 重置的问题
const reset = () => {
  AdminLogsFrom.adminlogs = {
     id:"",//主健
     methodname:"",//方法名
     classname:"",//类名
     requestmethod:"",//请求方法
     methodtime:"",//方法执行时间
     requesturi:"",//请求地址
     requestip:"",//请求IP
     requestbrower:"",//浏览器
     userId:"",//操作人
     username:"",//姓名
     telephone:"",//联系方式
     createTime:"",//创建时间
     updateTime:"",//更新时间
     methodparams:"",//方法参数
     osversion:"",//操作系统
     model:"",//模块
     description:"",//描述
     province:"",//省份
     city:"",//城市
  }
};


</script>

<style >
.pug-tablebox {
  background: #fff;
  padding: 30px;
}

.pug-search-box {
  @apply mb-5 bg-gray-100 px-2 py-2 rounded flex justify-between items-center shadow shadow-light-800;
}

.pug-pagebox {
  @apply flex justify-start;
}
</style>