<template>
    <div class="pug-tablebox">
        <!--搜索相关-->
        <div class="pug-search-box">
            <div>
                <el-button size="small" type="primary" @click="handleOpenDialog" icon="Plus">新增课程</el-button>
                <a href="https://www.txnh.net/course/" target="_blank" class="ml-3"><el-button size="small" type="danger"  icon="HomeFilled">访问首页</el-button></a>
            </div>
            <div class="flex items-center" style="font-size:12px">
                 <span> 是否删除：
                    <el-select  style="width: 120px;" v-model="params.searchData.isdelete" value-key="id" placeholder="删除状态" clearable filterable>
                    <el-option v-for="item in [{id:1,title:'已删除'},{id:0,title:'未删除'}]"
                    :key="item.id"
                    :label="item.title"
                    :value="item.id">
                    </el-option>
                    </el-select>
                </span>

                <span class="ml-2 mr-2">课程分类：
                    <el-select  style="width: 120px;" v-model="params.searchData.cid" value-key="id" placeholder="课程分类" clearable filterable>
                    <el-option v-for="item in categoryList"
                    :key="item.id"
                    :label="item.title"
                    :value="item.id">
                    </el-option>
                    </el-select>
                </span>

                <span>课程类型：
                    <el-select  style="width: 120px;margin: 0 10px;" v-model="params.searchData.coursetype" value-key="value" placeholder="课程类型" clearable filterable>
                    <el-option v-for="item in courseList"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                    </el-option>
                    </el-select>
                </span>
                
                 <span class="ml-2 mr-2">创建时间：   <el-date-picker
                    v-model="searchDate"
                    type="daterange"
                    range-separator="To"
                    @change="handleSelectData"
                    start-placeholder="起始时间"
                    end-placeholder="结束时间"
                /></span> 

                <el-input
                    v-model.trim="params.searchData.keyword"
                    style="width: 180px;"
                    placeholder="请输入搜索的用户"
                    prefix-icon="Search"
                />
                <el-button size="small" @click="handleSearch" type="success">搜索</el-button>
                {{searchDate }}
            </div>
        </div> 

        <!--表格相关-->
        <el-table :data="tableData"  v-loading="loading"  style="width: 100%">
            <el-table-column type="selection" prop="id"  width="50" />

            
            <el-table-column  label="标题" >
                <template #default="{$index,row}">
                        <div class="flex items-center">
                                <a :href="'https://www.txnh.net/course/detail/'+row.id" target="_blank" :title="row.title">
                                    <div  style="width: 140px; height: 100px" ><el-image style="width: 140px; height: 100px" :src="row.img" :fit="fit" /></div>
                                 </a>
                                <div class="flex flex-col ml-3">
                                    <span class="font-bold">标题：
                                        <el-input v-if="false" v-model="row.title" placeholder="" size="normal"   @blur.stop="handleUpdate(row,'title')"></el-input>
                                        {{row.title}}
                                    </span>

                                    <span class="text-sm text-gray-300">编号：{{row.id}}</span>
                                    <span class="text-sm">
                                        <span class="mr-3">分类：{{row.categorytitle}} </span>
                                        课程类型：
                                        <span class="text-green-500" v-if="row.coursetype==1">基础课</span>
                                        <span class="text-red-500"  v-if="row.coursetype==2">进阶课</span>
                                        <span class="text-blue-500"  v-if="row.coursetype==3">实战课程</span>
                                        <span class="text-pink-500"  v-if="row.coursetype==4">面试课</span>
                                    </span>
                                     <span class="text-sm text-red-600">价格：￥{{row.realprice}} / <span class="line-through">￥{{row.price}} </span></span>
                                </div>
                        </div>
                </template>
            </el-table-column>
            <el-table-column  label="课程类型" width="140">
                <template #default="{$index,row}">
                    <el-select v-model="row.coursetype" value-key="value" placeholder="请选中课程分类"
                       @change="handleUpdate(row,'coursetype')"
                     >
                        <el-option v-for="item in courseList"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                        </el-option>
                    </el-select>
                    

                </template>
            </el-table-column>
            <el-table-column label="创建时间" width="180">
                <template #default="{$index,row}">
                    <view class="flex flex-col">
                        <span>{{formatDate(row.createTime,"{y}-{m}-{d}")}}</span>
                        <span>{{parseTime(row.createTime,"{y}/{m}/{d}")}}</span>
                    </view>
                </template>
            </el-table-column>
            <el-table-column label="状态" width="90">
                <template #default="scope">
                     <el-switch
                        v-model="scope.row.status"
                        class="mb-2"
                        style="--el-switch-on-color: #13ce66; --el-switch-off-color: #ff4949"
                        inline-prompt
                        @change="handleUpdate(scope.row,'status')"
                        active-color=""
                        active-text="是"
                        inactive-text="否"
                        :active-value="1"
                        :inactive-value="0"
                    />   
                </template>
            </el-table-column>
            <el-table-column label="删除状态" width="90">
                <template #default="scope">
                     <el-switch
                        v-model="scope.row.isdelete"
                        class="mb-2"
                        @change="handleUpdate(scope.row,'isdelete')"
                        style="--el-switch-on-color: #13ce66; --el-switch-off-color: #ff4949"
                        inline-prompt
                        active-color=""
                        active-text="是"
                        inactive-text="否"
                        :active-value="1"
                        :inactive-value="0"
                    />   
                </template>
            </el-table-column>
            <el-table-column label="是否评论" width="90">
                <template #default="scope">
                     <el-switch
                        v-model="scope.row.comment"
                        class="mb-2"
                        @change="handleUpdate(scope.row,'comment')"
                        style="--el-switch-on-color: #13ce66; --el-switch-off-color: #ff4949"
                        inline-prompt
                        active-color=""
                        active-text="是"
                        inactive-text="否"
                        :active-value="1"
                        :inactive-value="0"
                    />   
                </template>
            </el-table-column>
            <el-table-column label="是否置顶" width="90">
                <template #default="scope">
                     <el-switch
                        v-model="scope.row.gotop"
                        class="mb-2"
                        @change="handleUpdate(scope.row,'gotop')"
                        style="--el-switch-on-color: #13ce66; --el-switch-off-color: #ff4949"
                        inline-prompt
                        active-color=""
                        active-text="是"
                        inactive-text="否"
                        :active-value="1"
                        :inactive-value="0"
                    />   
                </template>
            </el-table-column>
            <el-table-column label="操作">
                <template #default="{$index,row}">
                    <a :href="'https://www.txnh.net/course/detail/'+row.id" class="mr-3" target="_blank" :title="row.title"><el-button size="small" icon="view">预览</el-button></a>
                    <el-button type="danger" icon="delete" size="small" @click="handleCopy($index, row)">复制</el-button>
                    <el-button type="success" icon="document" size="small" @click="handleChapterLesson($index, row)">章节管理</el-button>
                    <el-button type="primary" size="small" icon="edit" @click="handleEdit($index, row)">编辑</el-button>
                    <el-button type="danger" icon="delete" size="small" @click="handleDelete($index, row)">删除</el-button>
                </template>
            </el-table-column>
        </el-table>
        <!--分页相关-->
        <div class="pug-pagebox mt-5">
             <el-pagination
                    background
                    v-model:currentPage="params.searchData.pageNo"
                    v-model:page-size="params.searchData.pageSize"
                    layout=" prev, pager, next,'->',jumper,sizes,total"
                    :pager-count="7"
                    :page-sizes="[10, 20, 30, 40,50,100]"
                    :hide-on-single-page="true"
                    @current-change="handlePage"
                    :total="total"
                />
        </div>

        <pug-dialog full title="课程添加" ref="openDialogRef" @submit="handleSubmit" :loading="btnLoading">
            <div class="pug-product-from">
                <el-form :model="courseForm" ref="courseFormRef" :rules="rules" label-width="120px" :inline="false" size="normal">
                    <fieldset class="pug-legend">
                        <legend>基础信息</legend>
                        <el-container style="width:1200px;margin:0 auto;">
                            <el-row :gutter="20" style="width:100%">
                            <el-col :span="16">
                                <el-form-item label="课程标题" required>
                                    <el-input v-model="courseForm.course.title" placeholder="请输入课程标题" maxlength="100"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="8">
                                <el-form-item label="课程分类" required>
                                    <el-select
                                        v-model="courseForm.course.categoryid" 
                                        style="width:100%" 
                                        placeholder="请选择课程状态"
                                        @change="handleCategory"
                                        >
                                        <el-option
                                            v-for="item in AddCategoryList"
                                            :key="item.id"
                                            :label="item.title"
                                            :value="item.id"
                                            ></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            {{courseForm.course.img}}
                            <el-col :span="24">
                                <el-form-item label="课程封面">
                                    <pug-choose-image v-model="courseForm.course.img"></pug-choose-image>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        </el-container>
                    </fieldset>
                  

                    <fieldset class="pug-legend">
                        <legend>价格设置</legend>
                        <el-container style="width:1200px;margin:0 auto;">
                        <el-row :gutter="20" style="width:100%">
                        <el-col :span="8">
                            <el-form-item label="课程售价">
                                <el-input v-model="courseForm.course.price" placeholder="请输入课程售价">
                                    <template #append>元</template>
                                </el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8">
                            <el-form-item label="课程原价">
                                <el-input v-model="courseForm.course.realprice" placeholder="请输入课程原价">
                                     <template #append>元</template>
                                </el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8">
                             <el-form-item label="浏览数">
                                <el-input  style="width:100%" placeholder="浏览数" v-model="courseForm.course.views" />
                            </el-form-item>
                        </el-col>
                        <el-col :span="8">
                             <el-form-item label="收藏数">
                                <el-input  style="width:100%" placeholder="收藏数" v-model="courseForm.course.collects" />
                            </el-form-item>
                        </el-col>
                        <el-col :span="8">
                            <el-form-item label="收藏数">
                                <el-input  style="width:100%" placeholder="评论数" v-model="courseForm.course.comments" />
                            </el-form-item>
                        </el-col>
                        <el-col :span="8">
                            <el-form-item label="排序">
                                <el-input  style="width:100%" placeholder="排序" v-model="courseForm.course.sorted" />
                            </el-form-item>
                        </el-col>
                        </el-row>
                    </el-container>
                </fieldset>

               <fieldset class="pug-legend">
                <legend>状态控制</legend>
                <el-container style="width:1200px;margin:0 auto;">
                <el-row :gutter="20" style="width:100%;">
                        <el-col :span="8">
                            <el-form-item label="课程发布状态">
                                <el-radio-group v-model="courseForm.course.status">
                                    <el-radio v-for="item in [{id:1,title:'发布'},{id:0,title:'未发布'}]"
                                     :key="item.id" :label="item.id">
                                        {{item.title}}
                                    </el-radio>
                                </el-radio-group>
                            </el-form-item>
                        </el-col>

                        <el-col :span="8">
                            <el-form-item label="是否允许评论">
                                <el-radio-group v-model="courseForm.course.comment">
                                    <el-radio v-for="item in [{label:1,title:'是'},{label:0,title:'否'}]" :key="item.label" :label="item.label">
                                        {{item.title}}
                                    </el-radio>
                                </el-radio-group>
                            </el-form-item>
                        </el-col>

                        <el-col :span="8">
                            <el-form-item label="是否最新">
                                <el-radio-group v-model="courseForm.course.isnew">
                                    <el-radio v-for="item in [{label:1,title:'是'},{label:0,title:'否'}]" :key="item.label" :label="item.label">
                                        {{item.title}}
                                    </el-radio>
                                </el-radio-group>
                            </el-form-item>
                        </el-col>

                        <el-col :span="6">
                            <el-form-item label="是否热门">
                                <el-radio-group v-model="courseForm.course.ishot">
                                    <el-radio v-for="item in [{label:1,title:'是'},{label:0,title:'否'}]" :key="item.label" :label="item.label">
                                        {{item.title}}
                                    </el-radio>
                                </el-radio-group>
                            </el-form-item>
                        </el-col>

                        <el-col :span="6">
                            <el-form-item label="是否推荐">
                                <el-radio-group v-model="courseForm.course.ispush">
                                    <el-radio v-for="item in [{label:1,title:'是'},{label:0,title:'否'}]" :key="item.label" :label="item.label">
                                        {{item.title}}
                                    </el-radio>
                                </el-radio-group>
                            </el-form-item>
                        </el-col>

                        <el-col :span="6">
                            <el-form-item label="是否置顶">
                                <el-radio-group v-model="courseForm.course.gotop">
                                    <el-radio v-for="item in [{label:1,title:'是'},{label:0,title:'否'}]" :key="item.label" :label="item.label">
                                        {{item.title}}
                                    </el-radio>
                                </el-radio-group>
                            </el-form-item>
                        </el-col>

                        <el-col :span="6">
                            <el-form-item label="是否删除">
                                <el-radio-group v-model="courseForm.course.isdelete">
                                    <el-radio v-for="item in [{label:1,title:'已删除'},{label:0,title:'未删除'}]" :key="item.label" :label="item.label">
                                        {{item.title}}
                                    </el-radio>
                                </el-radio-group>
                            </el-form-item>
                        </el-col>
                      </el-row>
                    </el-container>
                </fieldset>

                <fieldset class="pug-legend">
                    <legend>标签设置</legend>
                    <el-container style="width:1200px;margin:0 auto;">
                        <el-row :gutter="20" style="width:100%">  
                            <el-col :span="24">
                                <el-form-item label="课程标签" class="flex">
                                    <el-input clearable class="mr-3" v-model="tag" @blur="handleAppendTags" style="width:10%" placeholder="请输入标签"/>
                                    <el-tag v-for="(itemTag,index) in tags" @close="handleDelTags(index)" class="mr-3" size="large" closable>{{itemTag}}</el-tag>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </el-container>
                </fieldset>

                <fieldset class="pug-legend">
                    <legend>课程详情&内容</legend>
                    <el-container style="width:1200px;margin:0 auto;">
                    <el-row :gutter="20" style="width:100%">
                            <el-col :span="24">
                                <el-form-item label="课程简介">
                                    <el-input v-model="courseForm.course.description" placeholder="请输入课程简介" type="textarea" :rows="4"></el-input>
                                </el-form-item>
                            </el-col>

                            <el-col :span="24">
                                <el-form-item label="课程详情">
                                    <pug-editor v-model="courseForm.course.htmlcontent"></pug-editor>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </el-container>
                </fieldset>
                </el-form>
            </div>
        </pug-dialog>


        <pug-chapter-lesson ref="chapterLessonRef"></pug-chapter-lesson>
  </div>
</template>


<script  setup>

import {ref,reactive, onMounted} from 'vue'
import { confirm,toastError,toast,formatDate,parseTime} from '@/utils';
import courseService from '@/services/course/CourseService';
import categoryService from '@/services/category/CategoryService';


/*章节控制 */
const chapterLessonRef = ref(null)
const handleChapterLesson = (index,row)=>{
    chapterLessonRef.value.loadChapters(row.id);
    chapterLessonRef.value.open();
}



// 控制表格动画
const loading = ref(true);
// 分页处理
const total = ref(0);
//表格数据
const tableData = ref([]);
// 课程类型
const courseList = ref([
    {value:1,label:'基础课'},
    {value:2,label:'进阶课'},
    {value:3,label:'实战课程'},
    {value:4,label:'面试课'},
])

//课程分类
const categoryList = ref([]);
const AddCategoryList = ref([]);
const loadCategory  = async ()=>{
    const serverResponse = await categoryService.findCategoryTree();
    categoryList.value = serverResponse.data; 
    AddCategoryList.value = serverResponse.data; 
}


// 分页信息
const params = reactive({
    searchData:{
        pageNo:1,
        pageSize:10,
        keyword:"",
        coursetype:"",
        starttime:"",
        endtime:"",
        isdelete:"",
        cid:""
    }
})

const searchDate = ref([]);
// 获取搜索日期信息
const handleSelectData  = (item)=>{
    params.searchData.starttime = parseTime(item[0],"{y}-{m}-{d} 00:00:00");
    params.searchData.endtime = parseTime(item[1],"{y}-{m}-{d} 23:59:59");
}

// 加载数据
const loadData = async ()=>{
    // 开启动画
    loading.value = true;
    // 准备参数
    const {searchData} = params;
    // 执行请求
    const serverResponse = await courseService.findCourses(searchData);
    const {total:ctotal,records} =  serverResponse.data;
    tableData.value = records;
    // 这里确实要特别注意
    total.value = ctotal * 1 ;
    // 关闭动画
    loading.value = false;
}

// 搜索数据
const handleSearch = ()=>{
    // 这里记住一定从1开始去搜索
    params.searchData.pageNo = 1;
    loadData();
}

// 分页加载数据
const handlePage = (pno)=>{
    params.searchData.pageNo = pno;
    loadData();
}

// 生命周期初始化（目的：初始化第一次数据）
onMounted(()=>{
    loadData();
    loadCategory();
})

// 更新课程类型
const handleUpdate = async (row,filed) => {
   try{
        const params = {};
        params["id"] = row.id;
        params[filed] = row[filed]
        await courseService.updateStatus(params);
        toast("更新成功!!!");
   }catch(err){
        toastError(err.msg);
   }
}

// 删除课程
const handleDelete = (index, item) => {
    confirm("你确定抛弃我么?").then(async (res) => {
        try {
            await courseService.deleteCourseById(item.id);
            toast("删除成功!");
            // 刷新查询
            loadData();
        } catch (err) {
            toastError("删除失败!");
        }
    })
}

// 拷贝课程
const handleCopy = (index,row)=>{
    confirm("你确定拷贝该课程吗?").then(async (res) => {
        try {
            await courseService.copyCourse(row.id);
            toast("复制成功!");
            // 刷新查询
            loadData();
        } catch (err) {
            toastError("删除失败!");
        }
    })
}











/*表单相关*/
const courseFormRef = ref(null);
const rules = reactive({});
const tag = ref("");
// 按钮动画
const btnLoading = ref(false);
// 添加相关
const  openDialogRef = ref(null);
// 数据模型
const courseForm = reactive({
   course:{
        id:"",
        title:"",
        content:"",
        description:"",
        htmlcontent:"",
        tags:"",
        img:"",

        categoryid:"",
        coursetype:1,
        categorytitle:"",
        views:0,
        gotop:0,
        collects:0,
        comments:0,
        coursetimer:"",
        sorted:0,
        price:0,
        realprice:0,
        
        comment:1,
        isdelete:0,
        status:1,   
        isnew:1,
        ishot:0,
        ispush:0
   }
})

const tags = ref([]);
// 添加打开窗口
const handleOpenDialog = ()=>{
    openDialogRef.value.open();
}

// 编辑打开窗口
const handleEdit = async (index,row)=>{
    //courseForm.course = {...row};
    const serverResponse = await courseService.getCourseById(row.id);
    courseForm.course =  serverResponse.data;
    tags.value = row.tags?row.tags.split(","):[]
    openDialogRef.value.open();
}

// 保存提交
const handleSubmit = async ()=>{
    btnLoading.value = true;
    courseFormRef.value.validate(async (valid)=>{
        if(valid){
            try{ 
                // 异步执行保存
                await courseService.saveupdateCourse(courseForm.course)
                // 提示
                toast(courseForm.course.id?"更新成功":"保存成功")
                // 重置
                reset();
                //关闭弹窗
                openDialogRef.value.leave();
                // 重新加载数据
                loadData();
            }catch(err){
                toastError(err.msg);
            }finally{
                // 关闭按钮动画
                btnLoading.value = false;
            }
        }
    })
}

// 方法的重置
const reset = ()=>{
    courseForm.course = { 
        id:"",
        title:"",
        content:"",
        description:"",
        htmlcontent:"",
        tags:"",
        img:"",

        categoryid:"",
        coursetype:1,
        categorytitle:"",
        views:0,
        gotop:0,
        collects:0,
        comments:0,
        coursetimer:"",
        sorted:0,
        price:0,
        realprice:0,
        
        comment:1,
        isdelete:0,
        status:1,   
        isnew:1,
        ishot:0,
        ispush:0
   }
        
}



// 添加标签
const handleAppendTags = (ev)=>{
    if(tag.value){
        const cindex = tags.value.findIndex(item=>item==tag.value);
        if(cindex==-1){
            tags.value.push(tag.value);
            tag.value = "";
            courseForm.course.tags = tags.value.join(",");
        }else{
            toast("已经存在了...");
        }
    }
}

// 删除标签
const handleDelTags = (index)=>{
    tags.value.splice(index,1);
}

// 获取分类的名称
const handleCategory = (id) => {
    // 根据id获取标题
    const category = AddCategoryList.value.find(c=>c.id == id);
    // 赋予数据模型
    courseForm.course.categorytitle =  category.title;
}


</script>



<style scoped>

    .pug-tablebox{
        background:#fff;
        padding:30px;
    }

    .pug-search-box{
        @apply mb-5 bg-gray-100 px-2 py-2 rounded flex justify-between items-center shadow shadow-light-800;
    }

    .pug-pagebox{
        @apply  flex justify-start;
    }

   .pug-product-from .pug-legend{
        width:1200px;margin:0 auto;border:1px solid #eee;padding:30px 20px;
        margin-bottom: 20px;
    }

  .pug-product-from .pug-legend:hover{
        background:#f8f8f8;
     }

   .pug-product-from .pug-legend legend{
        padding: 0 20px;
        font-size:16px;
        font-weight: 800;
    }

   .pug-product-from .pug-legend:hover legend{
        color:#ff0000;
    }

</style>