<template>
    <div class="pug-tablebox">
         <pug-image-main></pug-image-main>
    </div>
</template>

<style >

    .pug-tablebox{
        background:#fff;
        padding:30px;
    }


</style>

<script  setup>

import {ref,reactive} from 'vue'

</script>
