<template>
    <!--展示内容-->
    <pug-message></pug-message>
     <!--分类组件-->
    <pug-category></pug-category>
    <el-row :gutter="20">
        <el-col :span="12" :offset="0">
            <!--统计组件-->
            <pug-chart chart-id="ndz1"></pug-chart>
        </el-col>
        <el-col :span="12" :offset="0">
            <pug-pie chart-id="ndz2"></pug-pie>
        </el-col>
    </el-row>
    <el-row :gutter="20">
        <el-col :span="12" :offset="0">
            <!--统计组件-->
            <pug-chart-one chart-id="fc1"></pug-chart-one>
        </el-col>
        <el-col :span="12" :offset="0">
            <pug-pie-one chart-id="fc2"></pug-pie-one>
        </el-col>
    </el-row>
    <pug-image title="图库管理"></pug-image>
    
</template>

<script setup>
    import PugMessage from '@/components/dashboard/PugMessage.vue'
    import PugOrder from '@/components/dashboard/PugOrder.vue'
    import PugCategory from '@/components/dashboard/PugCategory.vue'
    import PugChart from '@/components/dashboard/PugChart.vue'
    import PugPie from '@/components/dashboard/PugPie.vue'
    import PugCard from '@/components/dashboard/PugCard.vue'
    import PugPieOne from '@/components/dashboard/PugPieOne.vue'
    import PugChartOne from '@/components/dashboard/PugChartOne.vue'
</script>

<style lang="scss" scoped>

</style>