<template>
  <div class="pug-table-form-box">
    <!--表格相关---->
    <div class="pug-tablebox">
      <!--搜索相关-->
      <div class="pug-search-box">
        <div>
          <el-button size="small" type="primary" v-permission="130107" @click="handleOpenDrawer" icon="Plus">
            新增用户</el-button>
          <el-button size="small" type="danger" v-permission="130109" @click="handleBatchDel"
                     icon="CloseBold">删除用户</el-button>
        </div>
        <div class="flex items-center">
          <el-input v-model.trim="keyword" class="w-50 m-2" size="small" placeholder="请输入搜索的用户"
                    prefix-icon="Search" />
          <el-button size="small" @click="handleSearch" type="success">搜索</el-button>
        </div>
      </div>
      <!--表格相关-->
      <el-table :data="tableData" style="width: 100%" @selection-change="selectTableAll">
        <el-table-column type="selection" prop="id" width="50" />
        <el-table-column label="名字" width="300">
          <template #default="{ $index, row }">
            <div class="flex items-center">
              <el-avatar :size="36" :src="row.avatar" />
              <div class="flex flex-col ml-3">
                <span>{{ row.notename }}</span>
                <span class="text-sm">编号：{{ row.id }}</span>
              </div>
            </div>
          </template>
        </el-table-column>
        <el-table-column prop="account" label="账号" />
        <el-table-column prop="createTime" label="创建时间" width="180" />
        <el-table-column label="状态" v-permission="130110" width="180">
          <template #default="{ $index, row }">
            <el-switch v-model="row.status" class="mb-2" @change="handleChange('status', $index)"
                       style="--el-switch-on-color: #13ce66; --el-switch-off-color: #ff4949" inline-prompt
                       active-color="" active-text="是" inactive-text="否" :active-value="1" :inactive-value="0" />
          </template>
        </el-table-column>
        <el-table-column label="删除状态" v-permission="130110" width="180">
          <template #default="{ $index, row }">
            <el-switch v-model="row.isdelete" class="mb-2" @change="handleChange('isdelete', $index)"
                       style="--el-switch-on-color: #13ce66; --el-switch-off-color: #ff4949" inline-prompt
                       active-color="" active-text="是" inactive-text="否" :active-value="1" :inactive-value="0" />
          </template>
        </el-table-column>
        <el-table-column label="操作">
          <template #default="scope">
            <el-button size="small" icon="view" v-permission="130111"
                       @click="handleRole(scope.$index, scope.row)">查看笔记专栏管理</el-button>
            <el-button size="small" icon="edit" v-permission="130107"
                       @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
            <el-button type="danger" icon="delete" v-permission="130108" size="small"
                       @click="handleDelete(scope.$index, scope.row)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      {{typeof pageNo}}
      <!--分页相关-->
      <div class="pug-pagebox mt-5">
        <el-pagination background v-model:currentPage="pageNo" v-model:page-size="pageSize"
                       layout=" prev, pager, next,'->',jumper,sizes,total" :pager-count="7"
                       :page-sizes="[10, 20, 30, 40, 50, 100]" :hide-on-single-page="true" @size-change="handlePage"
                       @current-change="handlePage" :total="total" />
      </div>
    </div>


    <!--表单相关-->
    <div class="pug-formbox">
      <pug-drawer ref="formDrawerRef" title="添加后台用户" @submit="handleSubmit">
        <el-form ref="formRef" :rules="rules" :model="NoteFrom" label-width="120px" class="demo-noteManger">
                  <el-form-item label="主题标题" prop="title">
                    <el-input v-model="NoteFrom.note.title" placeholder="请输入姓名主题标题" min="4" max="20" />
                  </el-form-item>
                   <el-form-item label="主题内容">
                   <pug-editor v-model="NoteFrom.note.content"></pug-editor>
                   </el-form-item>
                  <el-form-item label="主题标签" prop="tags">
                    <el-input v-model="NoteFrom.note.tags" placeholder="请输入姓名主题标签" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="主题缩略描述" prop="description">
                    <el-input v-model="NoteFrom.note.description" placeholder="请输入姓名主题缩略描述" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="主题分类ID" prop="categoryid">
                    <el-input v-model="NoteFrom.note.categoryid" placeholder="请输入姓名主题分类ID" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="0普通 1置顶" prop="gotop">
                    <el-input v-model="NoteFrom.note.gotop" placeholder="请输入姓名0普通 1置顶" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="主题浏览次数" prop="views">
                    <el-input v-model="NoteFrom.note.views" placeholder="请输入姓名主题浏览次数" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="0不可以评论 1可以评论" prop="comment">
                    <el-input v-model="NoteFrom.note.comment" placeholder="请输入姓名0不可以评论 1可以评论" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="静态链接" prop="staticlink">
                    <el-input v-model="NoteFrom.note.staticlink" placeholder="请输入姓名静态链接" min="4" max="20" />
                  </el-form-item>
                        这里放radios按钮
                   <el-form-item label="html内容">
                   <pug-editor v-model="NoteFrom.note.htmlcontent"></pug-editor>
                   </el-form-item>
                  <el-form-item label="分类标题" prop="categorytitle">
                    <el-input v-model="NoteFrom.note.categorytitle" placeholder="请输入姓名分类标题" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="是否VIP 1 所有人免费 2 月VIP 3季度会员 4 年VIP 5超级VIP" prop="vip">
                    <el-input v-model="NoteFrom.note.vip" placeholder="请输入姓名是否VIP 1 所有人免费 2 月VIP 3季度会员 4 年VIP 5超级VIP" min="4" max="20" />
                  </el-form-item>
                        这里放radios按钮
                  <el-form-item label="用户" prop="userid">
                    <el-input v-model="NoteFrom.note.userid" placeholder="请输入姓名用户" min="4" max="20" />
                  </el-form-item>
                   <el-form-item label="封面图">
                   <pug-choose-image v-model="NoteFrom.note.img"></pug-choose-image>
                   </el-form-item>
                  <el-form-item label="收藏数" prop="collects">
                    <el-input v-model="NoteFrom.note.collects" placeholder="请输入姓名收藏数" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="评论数量" prop="comments">
                    <el-input v-model="NoteFrom.note.comments" placeholder="请输入姓名评论数量" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="课程时长" prop="coursetimer">
                    <el-input v-model="NoteFrom.note.coursetimer" placeholder="请输入姓名课程时长" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="原始价格2499" prop="price">
                    <el-input v-model="NoteFrom.note.price" placeholder="请输入姓名原始价格2499" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="真实价格1499" prop="realprice">
                    <el-input v-model="NoteFrom.note.realprice" placeholder="请输入姓名真实价格1499" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="课程类型 1 基础课  2 进阶课  4 面试课  3 实战课程" prop="coursetype">
                    <el-input v-model="NoteFrom.note.coursetype" placeholder="请输入姓名课程类型 1 基础课  2 进阶课  4 面试课  3 实战课程" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="排序" prop="sorted">
                    <el-input v-model="NoteFrom.note.sorted" placeholder="请输入姓名排序" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="体验地址" prop="trylink">
                    <el-input v-model="NoteFrom.note.trylink" placeholder="请输入姓名体验地址" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="下载地址" prop="downlink">
                    <el-input v-model="NoteFrom.note.downlink" placeholder="请输入姓名下载地址" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="下载密码" prop="downpwd">
                    <el-input v-model="NoteFrom.note.downpwd" placeholder="请输入姓名下载密码" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="播放地址" prop="playvideo">
                    <el-input v-model="NoteFrom.note.playvideo" placeholder="请输入姓名播放地址" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="0 不展示 1 展示" prop="isapp">
                    <el-input v-model="NoteFrom.note.isapp" placeholder="请输入姓名0 不展示 1 展示" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="0 录播 1 直播" prop="isonline">
                    <el-input v-model="NoteFrom.note.isonline" placeholder="请输入姓名0 录播 1 直播" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="章节数量" prop="lessoncount">
                    <el-input v-model="NoteFrom.note.lessoncount" placeholder="请输入姓名章节数量" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="" prop="giteelink">
                    <el-input v-model="NoteFrom.note.giteelink" placeholder="请输入姓名" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="" prop="coursecss">
                    <el-input v-model="NoteFrom.note.coursecss" placeholder="请输入姓名" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="" prop="coursebuy">
                    <el-input v-model="NoteFrom.note.coursebuy" placeholder="请输入姓名" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="" prop="courseimg">
                    <el-input v-model="NoteFrom.note.courseimg" placeholder="请输入姓名" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="" prop="coursedesc1">
                    <el-input v-model="NoteFrom.note.coursedesc1" placeholder="请输入姓名" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="" prop="coursedesc2">
                    <el-input v-model="NoteFrom.note.coursedesc2" placeholder="请输入姓名" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="" prop="coursedesc3">
                    <el-input v-model="NoteFrom.note.coursedesc3" placeholder="请输入姓名" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="" prop="courseintro">
                    <el-input v-model="NoteFrom.note.courseintro" placeholder="请输入姓名" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="" prop="qqcode">
                    <el-input v-model="NoteFrom.note.qqcode" placeholder="请输入姓名" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="" prop="qqimg">
                    <el-input v-model="NoteFrom.note.qqimg" placeholder="请输入姓名" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="" prop="qqgroupcode">
                    <el-input v-model="NoteFrom.note.qqgroupcode" placeholder="请输入姓名" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="" prop="qqgroupimg">
                    <el-input v-model="NoteFrom.note.qqgroupimg" placeholder="请输入姓名" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="" prop="gzcode">
                    <el-input v-model="NoteFrom.note.gzcode" placeholder="请输入姓名" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="" prop="gzimg">
                    <el-input v-model="NoteFrom.note.gzimg" placeholder="请输入姓名" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="" prop="isnote">
                    <el-input v-model="NoteFrom.note.isnote" placeholder="请输入姓名" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="" prop="isfree">
                    <el-input v-model="NoteFrom.note.isfree" placeholder="请输入姓名" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="" prop="userintro">
                    <el-input v-model="NoteFrom.note.userintro" placeholder="请输入姓名" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="" prop="appcode">
                    <el-input v-model="NoteFrom.note.appcode" placeholder="请输入姓名" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="" prop="appimg">
                    <el-input v-model="NoteFrom.note.appimg" placeholder="请输入姓名" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="" prop="wxcode">
                    <el-input v-model="NoteFrom.note.wxcode" placeholder="请输入姓名" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="" prop="wximg">
                    <el-input v-model="NoteFrom.note.wximg" placeholder="请输入姓名" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="" prop="zans">
                    <el-input v-model="NoteFrom.note.zans" placeholder="请输入姓名" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="" prop="beginer">
                    <el-input v-model="NoteFrom.note.beginer" placeholder="请输入姓名" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="" prop="isnew">
                    <el-input v-model="NoteFrom.note.isnew" placeholder="请输入姓名" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="" prop="ishot">
                    <el-input v-model="NoteFrom.note.ishot" placeholder="请输入姓名" min="4" max="20" />
                  </el-form-item>
                        这里放radios按钮
                  <el-form-item label="" prop="openlink">
                    <el-input v-model="NoteFrom.note.openlink" placeholder="请输入姓名" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="" prop="isline">
                    <el-input v-model="NoteFrom.note.isline" placeholder="请输入姓名" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="" prop="alipanlink">
                    <el-input v-model="NoteFrom.note.alipanlink" placeholder="请输入姓名" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="" prop="alipanpwd">
                    <el-input v-model="NoteFrom.note.alipanpwd" placeholder="请输入姓名" min="4" max="20" />
                  </el-form-item>
        </el-form>
      </pug-drawer>
    </div>
  </div>
</template>
<script  setup>
import { ref, reactive,provide, onMounted } from 'vue'
import noteService from '@/services/note/NoteService';
import { confirm, toast, toastError } from '@/utils';

const tableData = ref([]);
const pageNo = ref(1);
const pageSize = ref(10);
const total = ref(0);
const keyword = ref("");


// 查询数据
const loadData = async () => {
  // 准备参数
  var params = { pageNo: pageNo.value, pageSize: pageSize.value, keyword: keyword.value };
  // 执行请求
  const serverResponse = await noteService.findNotes(params);
  // 赋值给响应式属性
  tableData.value = serverResponse.data.records;
  // 总数
  total.value = serverResponse.data.total * 1;
}

// 搜索方法
const handleSearch = () => {
  pageNo.value = 1;
  loadData();
}

// 点击分页的回调函数
const handlePage = (cpageNo) => {
  pageNo.value = cpageNo;
  loadData();
}


// 状态更新
const handleChange = async (field, index) => {
  var value = tableData.value[index][field];
  var id = tableData.value[index].id;
  var params = {};
  params.id = id;
  params[field] = value;
  try {
    const serverResponse = await noteService.updateNote(params);
    toast("更新成功!!!");
  } catch (err) {
  }
}

// 单个删除
const handleDelete = (index) => {
  confirm("你确定删除吗").then(async (res) => {
    var id = tableData.value[index].id;
    const serverResponse = await noteService.deleteNoteById(id);
    tableData.value.splice(index, 1);
  });
}


const selectIds = ref([]);
// 获取批量删除的元素
const selectTableAll = (selection) => {
  selectIds.value = selection.map(item => item.id);
}

// 批量删除
const handleBatchDel = () => {
  if (selectIds.value.length == 0) {
    toastError("请选择一项进行操作...");
    return;
  }

  confirm("你确定要删除吗？").then(async (res) => {
    try {
      const batchIds = selectIds.value.join(",");
      await noteService.delNote(batchIds);
      // 执行查询一次
      pageNo.value = 1;
      loadData();
    } catch (err) {
      toastError(err.msg);
    }

  });
}


// 编辑
const handleEdit = (index, item) => {
  Note.note = item;
  // 并且打开编辑抽屉
  formDrawerRef.value.open();
}

onMounted(() => {
  loadData();
})


/*表单相关 */
const formDrawerRef = ref(null);
const formRef = ref(null);
// 笔记专栏管理数据模型
const roleDatasRef = ref([]);
// 校验
const rules = reactive({

})

// 数据模型
const NoteFrom = reactive({
  note: {
        id:"",//
        title:"",//主题标题
        content:"",//主题内容
        tags:"",//主题标签
        description:"",//主题缩略描述
        categoryid:"",//主题分类ID
        gotop:0,//0普通 1置顶
        views:0,//主题浏览次数
        comment:0,//0不可以评论 1可以评论
        staticlink:"",//静态链接
        isdelete:0,//删除状态0未删除1删除
        htmlcontent:"",//html内容
        categorytitle:"",//分类标题
        vip:0,//是否VIP 1 所有人免费 2 月VIP 3季度会员 4 年VIP 5超级VIP
        status:1,//发布状态
        userid:"",//用户
        img:"",//封面图
        collects:0,//收藏数
        comments:0,//评论数量
        coursetimer:"",//课程时长
        price:"",//原始价格2499
        realprice:"",//真实价格1499
        coursetype:0,//课程类型 1 基础课  2 进阶课  4 面试课  3 实战课程
        sorted:0,//排序
        trylink:"",//体验地址
        downlink:"",//下载地址
        downpwd:"",//下载密码
        playvideo:"",//播放地址
        isapp:0,//0 不展示 1 展示
        isonline:0,//0 录播 1 直播
        lessoncount:"",//章节数量
        giteelink:"",//
        coursecss:"",//
        coursebuy:0,//
        courseimg:"",//
        coursedesc1:"",//
        coursedesc2:"",//
        coursedesc3:"",//
        courseintro:"",//
        qqcode:"",//
        qqimg:"",//
        qqgroupcode:"",//
        qqgroupimg:"",//
        gzcode:"",//
        gzimg:"",//
        isnote:0,//
        isfree:0,//
        userintro:"",//
        appcode:"",//
        appimg:"",//
        wxcode:"",//
        wximg:"",//
        zans:0,//
        beginer:"",//
        isnew:0,//
        ishot:0,//
        ispush:0,//
        openlink:"",//
        isline:0,//
        alipanlink:"",//
        alipanpwd:"",//
  }
})


// 保存提交
const handleSubmit = () => {
  formRef.value.validate(async (valid) => {
    if (valid) {
      try {
        // 保存服务器
        const serverResponse = await noteService.saveupdateNote(Note.note);
        if (!Note.note.id) {
          // 动态添加到表格中
          tableData.value.unshift(serverResponse.data);
        }

        // 注册成功
        toast(Note.note.id ? "修改成功" : "添加成功");

        // 清空数据
        reset();

        // 关闭抽屉
        formDrawerRef.value.leave();
      } catch (err) {
        // 这个账号已经存在
        toastError(err.msg)
        if (err.code == '110612') {
        }
      }
    }
  })
}

// 打开保存用户抽屉
const handleOpenDrawer = () => {
  reset();
  // 打开窗口
  formDrawerRef.value.open();
}


// 重置的问题
const reset = () => {
  NoteFrom.note = {
         id:"",//
         title:"",//主题标题
         content:"",//主题内容
         tags:"",//主题标签
         description:"",//主题缩略描述
         categoryid:"",//主题分类ID
         gotop:0,//0普通 1置顶
         views:0,//主题浏览次数
         comment:0,//0不可以评论 1可以评论
         staticlink:"",//静态链接
         isdelete:0,//删除状态0未删除1删除
         htmlcontent:"",//html内容
         categorytitle:"",//分类标题
         vip:0,//是否VIP 1 所有人免费 2 月VIP 3季度会员 4 年VIP 5超级VIP
         status:1,//发布状态
         userid:"",//用户
         img:"",//封面图
         collects:0,//收藏数
         comments:0,//评论数量
         coursetimer:"",//课程时长
         price:"",//原始价格2499
         realprice:"",//真实价格1499
         coursetype:0,//课程类型 1 基础课  2 进阶课  4 面试课  3 实战课程
         sorted:0,//排序
         trylink:"",//体验地址
         downlink:"",//下载地址
         downpwd:"",//下载密码
         playvideo:"",//播放地址
         isapp:0,//0 不展示 1 展示
         isonline:0,//0 录播 1 直播
         lessoncount:"",//章节数量
         giteelink:"",//
         coursecss:"",//
         coursebuy:0,//
         courseimg:"",//
         coursedesc1:"",//
         coursedesc2:"",//
         coursedesc3:"",//
         courseintro:"",//
         qqcode:"",//
         qqimg:"",//
         qqgroupcode:"",//
         qqgroupimg:"",//
         gzcode:"",//
         gzimg:"",//
         isnote:0,//
         isfree:0,//
         userintro:"",//
         appcode:"",//
         appimg:"",//
         wxcode:"",//
         wximg:"",//
         zans:0,//
         beginer:"",//
         isnew:0,//
         ishot:0,//
         ispush:0,//
         openlink:"",//
         isline:0,//
         alipanlink:"",//
         alipanpwd:"",//
  }
};


</script>

<style >
.pug-tablebox {
  background: #fff;
  padding: 30px;
}

.pug-search-box {
  @apply mb-5 bg-gray-100 px-2 py-2 rounded flex justify-between items-center shadow shadow-light-800;
}

.pug-pagebox {
  @apply flex justify-start;
}
</style>