<template>
    <a href="/" class="pug-404">
        你没有访问权限
    </a>
</template>

<style scoped>
    .pug-404{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>