<template>
    <div class="pug-table-form-box">
        <!--表格相关---->
        <div class="pug-tablebox">
            <!--搜索相关-->
            <div class="pug-search-box">
                <div>
                    <el-button size="small" type="primary" @click="handleOpenDrawer" icon="Plus">新增角色</el-button>
                    <el-button size="small" type="danger" @click="handleBatchDel" icon="CloseBold">删除角色</el-button>
                </div>
                <div class="flex items-center">
                    <el-input v-model.trim="keyword" class="w-50 m-2" size="small" placeholder="请输入搜索的角色"
                        prefix-icon="Search" />
                    {{ keyword }}
                    <el-button size="small" @click="handleSearch" type="success">搜索</el-button>
                </div>
            </div>
            <!--表格相关-->
            <el-table :data="tableData" style="width: 100%" @selection-change="selectTableAll">
                <el-table-column type="selection" prop="id" width="50" />
                <el-table-column label="角色名称" prop="roleName"></el-table-column>
                <el-table-column label="角色代号" prop="roleCode"></el-table-column>
                <el-table-column prop="createTime" label="创建时间" />
                <el-table-column label="状态" width="120">
                    <template #default="scope">
                        <el-switch v-model="scope.row.status" class="mb-2"
                            style="--el-switch-on-color: #13ce66; --el-switch-off-color: #ff4949" inline-prompt
                            active-color="" active-text="是" inactive-text="否" :active-value="1" :inactive-value="0" />
                    </template>
                </el-table-column>
                 <el-table-column label="删除状态" width="120">
                    <template #default="scope">
                        <el-switch v-model="scope.row.isdelete" class="mb-2"
                            style="--el-switch-on-color: #13ce66; --el-switch-off-color: #ff4949" inline-prompt
                            active-color="" active-text="是" inactive-text="否" :active-value="1" :inactive-value="0" />
                    </template>
                </el-table-column>
                <el-table-column label="操作">
                    <template #default="scope">
                        <el-button size="small" icon="view" @click="handlePermission(scope.$index, scope.row)">授权
                        </el-button>
                        <el-button size="small" icon="edit" @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                        <el-button type="danger" icon="delete" size="small"
                            @click="handleDelete(scope.$index, scope.row)">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>

            <!--分页相关-->
            <div class="pug-pagebox mt-5">
                <el-pagination background v-model:currentPage="pageNo" v-model:page-size="pageSize"
                    layout=" prev, pager, next,'->',jumper,sizes,total" :pager-count="7"
                    :page-sizes="[10, 20, 30, 40, 50, 100]" :hide-on-single-page="true"
                     @current-change="handlePage"
                    :total="total * 1" />
            </div>
        </div>

        <!--表单相关-->
        <div class="pug-formbox">
            <pug-drawer ref="formDrawerRef" title="添加后台角色" @submit="handleSubmit">
                <el-form ref="formRef" :rules="rules" :model="roleManger" label-width="120px" class="demo-userManger">
                    <el-form-item label="角色名称" prop="rolename">
                        <el-input v-model="roleManger.role.roleName" min="4" max="20" />
                    </el-form-item>
                    <el-form-item label="角色代号" prop="rolecode">
                        <el-input v-model="roleManger.role.roleCode" min="3" max="20" />
                    </el-form-item>
                    <el-form-item label="发布状态" prop="status">
                        <el-switch v-model="roleManger.role.status" class="mb-2"
                            style="--el-switch-on-color: #13ce66; --el-switch-off-color: #ff4949" inline-prompt
                            active-color="" active-text="是" inactive-text="否" :active-value="1" :inactive-value="0" />
                    </el-form-item>
                    <el-form-item label="删除状态" prop="isdelete">
                        <el-switch v-model="roleManger.role.isdelete" class="mb-2"
                            style="--el-switch-on-color: #13ce66; --el-switch-off-color: #ff4949" inline-prompt
                            active-color="" active-text="是" inactive-text="否" :active-value="1" :inactive-value="0" />
                    </el-form-item>
                </el-form>
            </pug-drawer>
        </div>


        <!--授权相关-->
        <pug-drawer ref="permissionRef" title="权限管理" @submit="handlePermissionSubmit">
            <div class="mb-5">
                <button @click="handleSelectAll(1)">选中</button>
                <button @click="handleSelectAll(2)" class="ml-5">反选</button>
            </div>   
            {{defaultExpandedKeys}}
            <el-tree ref="elTreeRef" node-key="id" :default-expanded-keys="defaultExpandedKeys" :data="permissionList"
                :props="{ label: 'name', children: 'children' }" show-checkbox :height="treeHeight"
                :check-strictly="checkStrictly" @check="handleChecked">
                <template #default="{ node, data }">
                    <div class="flex item-center">
                        <el-tag :type="data.type == 2 ? 'info' : ''" size="small">
                            {{ data.type == 2? "权限" : "菜单" }}
                        </el-tag>
                        <span class="ml-2 text-sm">{{ data.name }}</span>
                    </div>
                </template>
            </el-tree>
        </pug-drawer>

    </div>
</template>


<script  setup>
import { ref, reactive, onMounted } from 'vue'
import { toast,toastError, confirm } from '@/utils';
import adminRoleService from '@/services/adminrole/AdminRoleService';
import adminPermissionService from '@/services/adminpermission/AdminPermissionService';

// 表格 ---- 数据相关 
const tableData = ref([]);
const pageNo = ref(1);
const pageSize = ref(10);
const keyword = ref("");
const total = ref(0);

// 表格 ----- 事件相关
const loadData = async () => {
    // 参数
    const params = { "pageNo": pageNo.value, "pageSize": pageSize.value, "keyword": keyword.value };
    // 请求服务器
    const serverResponse = await adminRoleService.findAdminRoles(params);
    // 获取服务器返回的数据
    const { records, total: stotal } = serverResponse.data;
    // 把数据赋值给tableData去渲染列表
    tableData.value = records
    // 总数用于分页，切记*1
    total.value = stotal;
}


// 搜索
const handleSearch = () => {
    pageNo.value = 1;
    loadData();
}

// 分页
const handlePage = (pno) => {
    pageNo.value = pno;
    loadData();
}


// 编辑处理
const handleEdit = (index, item) => {
    roleManger.role = { ...item };
    formDrawerRef.value.open();
}


// 删除单个
const handleDelete = (index, item) => {
    confirm("你确定抛弃我么?").then(async (res) => {
        try {
            await adminRoleService.deleteAdminRoleById(item.id);
            toast("删除成功!");
            // 刷新查询
            loadData();
        } catch (err) {
            toastError("删除失败!");
        }
    })
};


const selectIds = ref([]);
// 获取批量删除的元素
const selectTableAll = (selection)=>{
    selectIds.value = selection.map(item=>item.id);
}

// 批量删除
const handleBatchDel = ()=>{
    if(selectIds.value.length == 0){
        toastError("请选择一项进行操作...");
        return;
    }

    confirm("你确定要删除吗？").then(async (res)=>{
        try{
            const batchIds = selectIds.value.join(",");
            await adminRoleService.delAdminRole(batchIds); 
            // 执行查询一次
            pageNo.value = 1;
            loadData();
        }catch(err){
            toastError(err.msg);
        }

    });
}

// 生命周期执行
onMounted(() => {
    // 加载初始化的数据
    loadData();
})





/*
 * 1: 先把所有权限全部查询出来，形成一个tree（完成了）
 * 2: 如何把tree全部展开.（完成了）
 * 2：然后点击某个角色的时候，把这个角色对应的权限全部查询出来，[1,2,3,4]（完成了）
 * 3: 把某个角色查询出来的权限，渲染tree，并且选中，标识出已经授权的权限（完成了）
 * 4: 把新选择的权限，组合成一个permissionIds[1,3,4,5,45,32]
 * 5：然后调用角色授权接口,参数有两个handleRolePermission(roleId,permissionIds)
 * 
 * 服务端处理方案：
 * 1：加事务
 * 2: 先把角色对应的权限全部删除
 * 
 */

const permissionRef = ref(null);
const permissionList = ref([]);
const cheight = ref(500);
// tree的ref对象，作用就是去调用：方法
const elTreeRef = ref(null);
// 这个是控制是否父子联动
const checkStrictly = ref(false);
// 这个是控制节点展开，是通过node-key设定的属性来控制展开
const defaultExpandedKeys = ref([]);
// 获取角色对应的权限信息. 这个肯定是从数据库查询
const roleManagerKeys = ref([]);
// 当前授予的角色ID
const roleIdRef = ref("");


// 授权
const handlePermission = async (index, row) => {
    // 打开抽屉-dom准备好了
    permissionRef.value.open();
    // 允许父元素的选择
    checkStrictly.value = true;
    // 重新计算tree的高度
    cheight.value = window.innerHeight - 180;
    // 查询所有的权限信息
    const serverResponse = await adminPermissionService.permissionTree();
    permissionList.value = serverResponse.data;
    // 展开所有
    defaultExpandedKeys.value = handlePermissionIds(serverResponse.data);
    // 这个是为了全选设定集合
    roleManagerKeys.value = handlePermissionIds(serverResponse.data);

    // 模拟某个角色对应的权限
    roleIdRef.value = row.id;
    // 服务器端的异步查询
    const serverResponseData = await adminRoleService.findPermissionByRoleId(roleIdRef.value);
    // 选中某个角色已经授予的权限信息
    elTreeRef.value.setCheckedKeys(serverResponseData.data);
     // 允许父元素的选择
    checkStrictly.value = false;
}



// 递归获取所有的id
const handlePermissionIds = (items)=>{
    const totalIds = [];
    const handleBussort = (arr)=>{
        arr.forEach(item=>{
            totalIds.push(item.id);
            if(item.children.length > 0){
                handleBussort(item.children);
            }
        })
    }
    
    handleBussort(items);
    return totalIds;
}


// 选择所有和反选
const handleSelectAll = (flag)=>{
     if(flag==1){
        // 把所有的id获取到，然后调用setCheckedKeys
        elTreeRef.value.setCheckedKeys(roleManagerKeys.value);
     }else{
        // 反选就赋值空数组
        elTreeRef.value.setCheckedKeys([]);
     }
}


// 给角色授权
const handlePermissionSubmit = async () => {
    // 获取授予的角色
    const roleId = roleIdRef.value;
    // 获取用户授予的权限信息
    const checkedIds = elTreeRef.value.getCheckedKeys();
    const halfCheckedIds = elTreeRef.value.getHalfCheckedKeys();
    const permissionIds = [...checkedIds, ...halfCheckedIds];

    if (permissionIds.length == 0) {
        toastError("请选择一项进行操作...");
        return;
    }

    // 执行异步授予角色信息
    const flag = await confirm("你确定授权权限吗？");
    if (flag) {
        try {
            await adminRoleService.savePermissionByRoleId(roleId, permissionIds.join(","));
            toast("授权成功!!!");
            permissionRef.value.leave();
        } catch (err) {
            toastError(err.msg);
        }
    }
}








// 表单相关
const formDrawerRef = ref(null);
const formRef = ref(null);
const rules = ref({});
const roleManger = reactive({
    role: {
        id: "",
        roleName: "",
        roleCode: "",
        status: 1,
        isdelete: 0
    }
});


// 打开添加
const handleOpenDrawer = () => {
    formDrawerRef.value.open();
}

// 保存表单
const handleSubmit = () => {
    formRef.value.validate(async (valid) => {
        if (valid) {
            try {
                await adminRoleService.saveupdateAdminRole(roleManger.role);
                // 提示消息
                toast(roleManger.role.id ? "编辑成功" : "添加成功");
                //重置数据
                reset();
                // 关闭抽屉
                formDrawerRef.value.leave();
                // 刷新表格
                loadData();
            } catch (err) {
                toastError("错误为"+err.msg);
            }
        }
    })
};

// 重置
const reset = () => {
    roleManger.role = {
        id: "",
        roleName: "",
        roleCode: "",
        status: 1,
        isdelete: 0
    }
}

</script>



<style >
.pug-tablebox {
    background: #fff;
    padding: 30px;
}

.pug-search-box {
    @apply mb-5 bg-gray-100 px-2 py-2 rounded flex justify-between items-center shadow shadow-light-800;
}

.pug-pagebox {
    @apply flex justify-start;
}
</style>