<template>
{{fileList}}
<img  id="img"/>
<p id="text"></p>

    <el-upload
        class="upload-demo"
        drag
        v-model:file-list="fileList"
        ref="uploadRef"
        :headers="headers"
        action="/admin/upload/filemap"
        :data="{'dir':'yykk','oldname':'a.txt','cid':'1'}"
        :multiple="true"
        :auto-upload="true"
        accept="image/png,image/jpg,image/jpeg"
        :before-upload="handleBefore"
        :on-change="handleFilePreview"
        :on-progress="handleFileProgress"
        :on-success="handleFileSuccess"
        :on-error="handleFileError"
        :limit="100"
    >
        <el-icon class="el-icon--upload"><upload-filled /></el-icon>
        <div class="el-upload__text">
        拖拽文件到此处 或者 <em>点击文件上传</em>
        </div>
        <template #tip>
        <div class="el-upload__tip">
            文件类型是jpg/png，大小不得超过500kb
        </div>
        </template>
    </el-upload>

    <button @click="handleUploadSubmit">点击上传</button>
</template>
<script  setup>
import { ref } from 'vue'
import {useStore} from 'vuex'
import { UploadFilled } from '@element-plus/icons-vue'
import cache from "@/utils/cache"
import { toastError,toast } from '@/utils';
import ResourceService from '../../services/resources/ResourceService';

const store = useStore();
const fileList = ref([]);

const token = store.getters['user/getToken']
const tokenUuid = store.getters['user/getTokenUuid']
const userId = store.getters['user/getUserId']
const lang = cache.local.get("lang") || "zh_CN";

const headers = ref({});
if (token) {
    headers.value.lang = lang;
    headers.value.token = ['pugbear_', token].join('')
    headers.value["token-uuid"] = tokenUuid
    headers.value["token-userid"] = userId
}


const uploadRef = ref(null);
const handleUploadSubmit = ()=>{
    // 提交文件上传
    uploadRef.value.submit();
    // 定时清除
    setTimeout(() => {
        // 清除上传以后得文件
      uploadRef.value.clearFiles(); 
    }, 2000);
}

// 文件上传得回调
const handleBefore = (file)=>{
    if(file.size > 1024 * 1024 * 2){
        toastError("上传文件不得超过2MB");
        return false;
    }

    if(file.type != "image/png"  && file.type != "image/jpg" && file.type != "image/jpeg"){
        toastError("请选中图片文件，支持png/jpg");
        return false;
    }

    return true;//代表文件会继续上传,如果是false终止上传
}

// 文件预览
const handleFilePreview = (file)=>{
    
    file = file.raw;
    let reader = new FileReader();
    //新建 FileReader 对象
    reader.onload = function(){
        // 当 FileReader 读取文件时候，读取的结果会放在 FileReader.result 属性中
        document.querySelector('#img').src = this.result;
        document.querySelector('#text').innerHTML = this.result;
    };
    // 设置以什么方式读取文件，这里以base64方式
    reader.readAsDataURL(file);
    
}

// 文件进度 
const handleFileProgress = (progressevt,file,files)=>{
    console.log("文件上传得进度是：" , progressevt.loaded,progressevt.total,progressevt.percent)
}

// 文件上传成功
const handleFileSuccess = (serverResponse,file,files)=>{
    console.log("文件上传得服务器得信息:",serverResponse)
    // 删除上传成功得文件信息
    //uploadRef.value.handleRemove(file);
}

// 文件上传失败
const handleFileError = (erorr,file,files)=>{
    toastError("文件上传失败...");
    uploadRef.value.handleRemove(file);
}

</script>
