<template>
    <div class="pug-table-form-box">
        <!--表格相关---->
        <div class="pug-tablebox">
            <!--搜索相关-->
            <div class="pug-search-box">
                <div>
                    <el-button size="small" type="primary" @click="handleOpenDrawer" icon="Plus">新增权限</el-button>
                </div>
                <div class="flex items-center">
                    <el-input v-model="keyword" class="w-50 m-2" size="small" placeholder="请输入搜索的权限"
                        prefix-icon="Search" />
                    <el-button size="small" type="success">搜索</el-button>
                </div>
            </div>

            <!--Tree相关-->
            <el-tree
                :data="permissionTreeData"
                :show-checkbox="false"
                :props="{label:'name'}"
                ref="treeRef"
                node-key="id"
                :check-strictly="true"
                :default-expand-all="false"
                :highlight-current="true"
                :default-expanded-keys="defaultExpandedKeys"
                :expand-on-click-node="false"
            >   
                <template #default="{node,data}">
                    <div class="custom-tree-node">
                        <div class="flex items-center">
                            <el-tag v-if="data.type==1" class="ml-1">菜单</el-tag>
                            <el-tag v-if="data.type==2" class="ml-1" type="info">权限</el-tag>
                            <el-icon  :size="18" class="ml-2 mr-2">
                                <component :is="data.icon"></component>
                            </el-icon>
                            {{data.name}}
                        </div>
                        <div>
                            <!-- <el-switch v-model="data.status" inline-prompt width="60px" size="large" style="margin-right:10px"
                            :active-value="1" :inactive-value="0" active-text="发布" inactive-text="不发布" @change.stop="handleChange(node,data)" /> -->
                            <el-button v-if="data.type==1" type="success" size="small" @click.stop="handleAppend(node,data)" icon="CirclePlus">添加子项</el-button>
                            <el-button type="warning" size="small" @click.stop="handleEdit(node,data)" icon="Edit">编辑</el-button>
                            <el-button type="danger" size="small" @click.stop="handleRemove(node,data)" icon="Delete">删除</el-button>
                        </div>
                    </div>
                </template>
            </el-tree>
        </div>


        <!--表单相关-->
        <div class="pug-formbox">
            <pug-drawer ref="formDrawerRef" title="添加后台权限" @submit="handleSubmit">
            {{ permissionManger.permission }}
                <el-form ref="formRef" :rules="rules" :model="permissionManger" label-width="120px"
                     class="demo-userManger">
                    <el-form-item label="父亲权限ID">
                        <el-cascader placeholder="请选中父信息"  :disabled="permissionManger.permission.disabled"
                        :props="{
                            label:'name',
                            value:'id',
                            multiple: false, 
                            children:'children',
                            checkStrictly:true,
                        emitPath:false}" :options="parentPermissionList" clearable
                         v-model="permissionManger.permission.pid"/>
                    </el-form-item>
                    <el-form-item label="菜单规则" prop="type">
                        <el-radio-group v-model="permissionManger.permission.type" @change="handleMenuItem">
                            <el-radio :label="2" border>权限</el-radio>
                            <el-radio :label="1" border>菜单</el-radio>
                        </el-radio-group>
                    </el-form-item>
                     <el-form-item :label="permissionManger.permission.type==2?'权限名称':'菜单标题'" prop="permissionname">
                        <el-input v-model="permissionManger.permission.name" style="width:35%" min="3" max="20" />
                    </el-form-item>
                    <el-form-item label="访问路由" prop="frontpath"
                         v-if="permissionManger.permission.type==1">
                        <el-input v-model="permissionManger.permission.path" placeholder="访问路由" style="width:55%;"></el-input>
                    </el-form-item>
                     <el-form-item label="路由名称" prop="frontpath"
                         v-if="permissionManger.permission.type==1 ">
                        <el-input v-model="permissionManger.permission.pathname" placeholder="路由名称" style="width:55%;"></el-input>
                    </el-form-item>
                     <el-form-item  :label="permissionManger.permission.type==2?'权限图标':'菜单图标'" prop="icon">
                         <pug-icon-select v-model="permissionManger.permission.icon"></pug-icon-select>
                    </el-form-item>
                    <el-form-item :label="permissionManger.permission.type==2?'权限代号':'菜单代号'" prop="permissioncode">
                        <el-input v-model="permissionManger.permission.code" style="width:35%" min="3" max="20" />
                    </el-form-item>
                    <el-form-item label="排序" prop="sort">
                         <el-input-number v-model="permissionManger.permission.sorted" :min="1" :max="1000"  :step="1"  />
                    </el-form-item>
                    <el-form-item label="发布状态" prop="status">
                       <el-switch v-model="permissionManger.permission.status" class="mb-2"
                            style="--el-switch-on-color: #13ce66; --el-switch-off-color: #ff4949" inline-prompt
                            active-color="" active-text="是" inactive-text="否" :active-value="1" :inactive-value="0" />
                    </el-form-item>
                     <el-form-item label="删除状态" prop="isdelete">
                       <el-switch v-model="permissionManger.permission.isdelete" class="mb-2"
                            style="--el-switch-on-color: #13ce66; --el-switch-off-color: #ff4949" inline-prompt
                            active-color="" active-text="是" inactive-text="否" :active-value="1" :inactive-value="0" />
                    </el-form-item>
                </el-form>
            </pug-drawer>
        </div>
    </div>
</template>


<style>
    .custom-tree-node {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
        padding-right: 8px;
        width: 100%;
    }

   .pug-tablebox .el-tree-node{
         margin:5px 0!important;
    }
</style>
<script  setup>

import { ref, reactive, onMounted } from 'vue'
import { toast,confirm,toastError } from '@/utils';
import adminPermissionService from '@/services/adminpermission/AdminPermissionService';



/*tree组件对象，方便你去调用tree组件的方法 */
const permissionTreeData = ref([]);
const defaultExpandedKeys = ref([]);
const loadData = async ()=>{
    const serverReponse = await adminPermissionService.permissionTree();
    permissionTreeData.value = serverReponse.data;
    // 展开所有的节点
    defaultExpandedKeys.value = handlePermissionIds(serverReponse.data)
}

// 递归获取所有的id
const handlePermissionIds = (items)=>{
    const totalIds = [];
    const handleBussort = (arr)=>{
        arr.forEach(item=>{
            totalIds.push(item.id);
            if(item.children.length > 0){
                handleBussort(item.children);
            }
        })
    }
    
    handleBussort(items);
    return totalIds;
}

onMounted(()=>{
    loadData();
});










/*表单相关 */
const formDrawerRef = ref(null);
const formRef = ref(null);
const parentPermissionList = ref([])
const treeRef = ref(null);

const rules = reactive({
  
});


// 数据模型
const permissionManger = reactive({
   permission:{
        id:"",
        pid:0,
        code:"",
        icon:"",
        type:2,//1 菜单 2 权限
        name: "",
        path:"",
        pathname:"",
        sorted:1,
        status: 1,
        isdelete:0,
        disabled:false
   }
})


const handleSubmit = () => {
    formRef.value.validate(async (valid) => {
        if (valid) {
            try{
                // 保存权限
                const serverReponse = await adminPermissionService.saveupdateAdminPermission(permissionManger.permission);
                // 保存成功重置 添加 id=""
                if(!permissionManger.permission.id && !permissionManger.permission.disabled){
                    reset();
                }
                // 提示成功
                toast(permissionManger.permission.id?"更新成功":"保存成功");
                // 刷新权限菜单
                loadData();
            }catch(err){
                toastError(err.msg);
            }
        } 
    })
}

// 打开保存权限抽屉
let permissionOldData = [];
const handleOpenDrawer = async () => {
    // 查询权限菜单
    const serverReponse = await adminPermissionService.permissionTree();
    // 渲染权限菜单的级联关系
    parentPermissionList.value = serverReponse.data;
    // 这个主要为了，进行菜单和权限的切换的时候数据的备份，因为权限不需要子集
    permissionOldData = JSON.stringify(serverReponse.data);
    // 清除之前编辑的数据
    reset();
    // 同步排序,方便添加而已
    permissionManger.permission.sorted = parentPermissionList.value.length + 1;
    // 打开抽屉
    formDrawerRef.value.open();
}

// 切换菜单
const handleMenuItem = (item)=>{
    if(item==1){
        parentPermissionList.value = parentPermissionList.value.map(item=>{
            item.children = [];
            return item;
        }) 
    }else{
        parentPermissionList.value = JSON.parse(permissionOldData);
    }
}



// 添加子项
const handleAppend = async(node,data)=>{
    const serverReponse = await adminPermissionService.permissionTree();
    parentPermissionList.value = serverReponse.data;
    permissionOldData = JSON.stringify(serverReponse.data);

    // 这里把当前添加子项的id作为父级别，开始添加权限
    // 清楚一下
    reset();
    // 赋予默认信息
    permissionManger.permission.pid= data.id;
    permissionManger.permission.type = 2;
    permissionManger.permission.disabled = true;
    permissionManger.permission.sorted = data.children.length + 1;
    formDrawerRef.value.open();
}

// 编辑
const handleEdit = async(node,data)=>{
    // 查询所有的权限信息，
    const serverReponse = await adminPermissionService.permissionTree();
    // 把权限信息数据渲染给给级联框
    parentPermissionList.value = serverReponse.data;
    // 数据备份，因为权限和菜单的权限数据是不一样的
    permissionOldData = JSON.stringify(serverReponse.data);
    

    // 这里就是编辑的数据,
    permissionManger.permission = data;
    // 打开抽屉
    formDrawerRef.value.open();
}

// 删除
const handleRemove = (node,data)=>{
     confirm("你确定执行此操作吗?").then(async (res)=>{
        confirm("您确定删除该权限吗？").then(async (res)=>{
            // 获取删除的id
            const permissionId = data.id;
            // 查询所有的权限信息，
            const serverReponse = await adminPermissionService.deleteAdminPermissionById(permissionId);
            // 移除页面上tree的节点
            treeRef.value.remove(node);
        })
    })

}

// 重置
const reset = ()=>{
   permissionManger.permission = {
        id:"",
        pid:0,
        code:"",
        icon:"",
        type:2,//1 菜单 2 权限
        name: "",
        path:"",
        pathname:"",
        sorted:1,
        status: 1,
        isdelete:0,
        // 用于是否禁止选择父菜单
        disabled:false
   }
}


</script>