<template>
  <div class="pug-table-form-box">
    <!--表格相关---->
    <div class="pug-tablebox">
      <!--搜索相关-->
      <div class="pug-search-box">
        <div>
          <el-button size="small" type="primary" v-permission="130107" @click="handleOpenDrawer" icon="Plus">
            新增用户</el-button>
          <el-button size="small" type="danger" v-permission="130109" @click="handleBatchDel"
                     icon="CloseBold">删除用户</el-button>
        </div>
        <div class="flex items-center">
          <el-input v-model.trim="keyword" class="w-50 m-2" size="small" placeholder="请输入搜索的用户"
                    prefix-icon="Search" />
          <el-button size="small" @click="handleSearch" type="success">搜索</el-button>
        </div>
      </div>
      <!--表格相关-->
      <el-table :data="tableData" style="width: 100%" @selection-change="selectTableAll">
        <el-table-column type="selection" prop="id" width="50" />
        <el-table-column label="名字" width="300">
          <template #default="{ $index, row }">
            <div class="flex items-center">
              <el-avatar :size="36" :src="row.avatar" />
              <div class="flex flex-col ml-3">
                <span>{{ row.musicname }}</span>
                <span class="text-sm">编号：{{ row.id }}</span>
              </div>
            </div>
          </template>
        </el-table-column>
        <el-table-column prop="account" label="账号" />
        <el-table-column prop="createTime" label="创建时间" width="180" />
        <el-table-column label="状态" v-permission="130110" width="180">
          <template #default="{ $index, row }">
            <el-switch v-model="row.status" class="mb-2" @change="handleChange('status', $index)"
                       style="--el-switch-on-color: #13ce66; --el-switch-off-color: #ff4949" inline-prompt
                       active-color="" active-text="是" inactive-text="否" :active-value="1" :inactive-value="0" />
          </template>
        </el-table-column>
        <el-table-column label="删除状态" v-permission="130110" width="180">
          <template #default="{ $index, row }">
            <el-switch v-model="row.isdelete" class="mb-2" @change="handleChange('isdelete', $index)"
                       style="--el-switch-on-color: #13ce66; --el-switch-off-color: #ff4949" inline-prompt
                       active-color="" active-text="是" inactive-text="否" :active-value="1" :inactive-value="0" />
          </template>
        </el-table-column>
        <el-table-column label="操作">
          <template #default="scope">
            <el-button size="small" icon="view" v-permission="130111"
                       @click="handleRole(scope.$index, scope.row)">查看角色</el-button>
            <el-button size="small" icon="edit" v-permission="130107"
                       @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
            <el-button type="danger" icon="delete" v-permission="130108" size="small"
                       @click="handleDelete(scope.$index, scope.row)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>

      <!--分页相关-->
      <div class="pug-pagebox mt-5">
        <el-pagination background v-model:currentPage="pageNo" v-model:page-size="pageSize"
                       layout=" prev, pager, next,'->',jumper,sizes,total" :pager-count="7"
                       :page-sizes="[10, 20, 30, 40, 50, 100]" :hide-on-single-page="true" @size-change="handlePage"
                       @current-change="handlePage" :total="total" />
      </div>
    </div>


    <!--表单相关-->
    <div class="pug-formbox">
      <pug-drawer ref="formDrawerRef" title="添加后台用户" @submit="handleSubmit">
        <el-form ref="formRef" :rules="rules" :model="MusicFrom" label-width="120px" class="demo-musicManger">
                  <el-form-item label="标题" prop="title">
                    <el-input v-model="MusicFrom.music.title" placeholder="请输入姓名标题"" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="描述" prop="description">
                    <el-input v-model="MusicFrom.music.description" placeholder="请输入姓名描述"" min="4" max="20" />
                  </el-form-item>
                   <el-form-item label="具体内容">
                   <pug-editor v-model="MusicFrom.music.content"><pug-editor>
                   </el-form-item>
                  <el-form-item label="标签" prop="tags">
                    <el-input v-model="MusicFrom.music.tags" placeholder="请输入姓名标签"" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="用户身份" prop="vip">
                    <el-input v-model="MusicFrom.music.vip" placeholder="请输入姓名用户身份"" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="用户签名" prop="sign">
                    <el-input v-model="MusicFrom.music.sign" placeholder="请输入姓名用户签名"" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="用户性别" prop="male">
                    <el-input v-model="MusicFrom.music.male" placeholder="请输入姓名用户性别"" min="4" max="20" />
                  </el-form-item>
                   <el-form-item label="图集">
                   <pug-choose-image v-model="MusicFrom.music.imglist"></pug-choose-image>
                   </el-form-item>
                  <el-form-item label="浏览数" prop="views">
                    <el-input v-model="MusicFrom.music.views" placeholder="请输入姓名浏览数"" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="评论数" prop="comments">
                    <el-input v-model="MusicFrom.music.comments" placeholder="请输入姓名评论数"" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="收藏数" prop="collects">
                    <el-input v-model="MusicFrom.music.collects" placeholder="请输入姓名收藏数"" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="天气 1晴天 2阴天" prop="weather">
                    <el-input v-model="MusicFrom.music.weather" placeholder="请输入姓名天气 1晴天 2阴天"" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="经度" prop="lan">
                    <el-input v-model="MusicFrom.music.lan" placeholder="请输入姓名经度"" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="纬度" prop="lat">
                    <el-input v-model="MusicFrom.music.lat" placeholder="请输入姓名纬度"" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="分类" prop="categorycid">
                    <el-input v-model="MusicFrom.music.categorycid" placeholder="请输入姓名分类"" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="分类标题" prop="categorytitle">
                    <el-input v-model="MusicFrom.music.categorytitle" placeholder="请输入姓名分类标题"" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="" prop="isnew">
                    <el-input v-model="MusicFrom.music.isnew" placeholder="请输入姓名"" min="4" max="20" />
                  </el-form-item>
        </el-form>
      </pug-drawer>
    </div>

    <!--角色授予相关-->
    <div class="pug-formbox-dialog">
      <pug-dialog ref="roleDialogRef" :isbutton="false" title="角色信息">
        <el-table :data="roleList" border stripe @selection-change="handleSelectionChange">
          <el-table-column label="角色名称" prop="roleName" />
          <el-table-column label="操作">
            <template #default="{ $index, row }">
              <el-button size="small" :type="row.auth ? 'success' : 'info'" icon="view" v-permission="130111"
                         @click="handleRoleOperator($index, row)">{{ row.auth ? "解除绑定" : "绑定关系" }}</el-button>
            </template>
          </el-table-column>
        </el-table>
      </pug-dialog>
    </div>
  </div>
</template>
<script  setup>
import { ref, reactive,provide, onMounted } from 'vue'
import musicService from '@/services/music/MusicService';
import { confirm, toast, toastError } from '@/utils';

const tableData = ref([]);
const pageNo = ref(1);
const pageSize = ref(10);
const total = ref(0);
const keyword = ref("");


// 查询数据
const loadData = async () => {
  // 准备参数
  var params = { pageNo: pageNo.value, pageSize: pageSize.value, keyword: keyword.value };
  // 执行请求
  const serverResponse = await musicService.findMusics(params);
  // 赋值给响应式属性
  tableData.value = serverResponse.data.records;
  // 总数
  total.value = serverResponse.data.total * 1;
}

// 搜索方法
const handleSearch = () => {
  pageNo.value = 1;
  loadData();
}

// 点击分页的回调函数
const handlePage = (cpageNo) => {
  pageNo.value = cpageNo;
  loadData();
}


// 状态更新
const handleChange = async (field, index) => {
  var value = tableData.value[index][field];
  var id = tableData.value[index].id;
  var params = {};
  params.id = id;
  params[field] = value;
  try {
    const serverResponse = await musicService.updateMusic(params);
    toast("更新成功!!!");
  } catch (err) {
  }
}

// 单个删除
const handleDelete = (index) => {
  confirm("你确定删除吗").then(async (res) => {
    var id = tableData.value[index].id;
    const serverResponse = await musicService.deleteMusicById(id);
    tableData.value.splice(index, 1);
  });
}


const selectIds = ref([]);
// 获取批量删除的元素
const selectTableAll = (selection) => {
  selectIds.value = selection.map(item => item.id);
}

// 批量删除
const handleBatchDel = () => {
  if (selectIds.value.length == 0) {
    toastError("请选择一项进行操作...");
    return;
  }

  confirm("你确定要删除吗？").then(async (res) => {
    try {
      const batchIds = selectIds.value.join(",");
      await musicService.delMusic(batchIds);
      // 执行查询一次
      pageNo.value = 1;
      loadData();
    } catch (err) {
      toastError(err.msg);
    }

  });
}


// 编辑
const handleEdit = (index, item) => {
  // 获取编辑的元素
  item.password = "";
  Music.music = item;
  // 并且打开编辑抽屉
  formDrawerRef.value.open();
}

onMounted(() => {
  loadData();
})


/*表单相关 */
const formDrawerRef = ref(null);
const formRef = ref(null);
// 角色数据模型
const roleDatasRef = ref([]);
// 校验
const rules = reactive({

})

// 数据模型
const MusicFrom = reactive({
  music: {
        id:"",//主健
        title:"",//标题
        description:"",//描述
        content:"",//具体内容
        tags:"",//标签
        vip:"",//用户身份
        sign:"",//用户签名
        male:"",//用户性别
        imglist:"",//图集
        views:0,//浏览数
        comments:0,//评论数
        collects:0,//收藏数
        weather:0,//天气 1晴天 2阴天
        lan:"",//经度
        lat:"",//纬度
        status:1,//发布状态 0 未发布 1发布
        isdelete:0,//删除状态 0未删除 1删除
        categorycid:"",//分类
        categorytitle:"",//分类标题
        ispush:0,//是否推荐 1推荐 0不推荐
        isnew:0,//
  }
})


// 保存提交
const handleSubmit = () => {
  formRef.value.validate(async (valid) => {
    if (valid) {
      try {
        // 保存服务器
        const serverResponse = await musicService.saveupdateMusic(Music.music);
        if (!Music.music.id) {
          // 动态添加到表格中
          tableData.value.unshift(serverResponse.data);
        }

        // 注册成功
        toast(Music.music.id ? "修改成功" : "添加成功");

        // 清空数据
        reset();

        // 关闭抽屉
        formDrawerRef.value.leave();
      } catch (err) {
        // 这个账号已经存在
        toastError(err.msg)
        if (err.code == '110612') {
        }
      }
    }
  })
}

// 打开保存用户抽屉
const handleOpenDrawer = () => {
  reset();
  // 打开窗口
  formDrawerRef.value.open();
}


// 重置的问题
const reset = () => {
  MusicFrom.music = {
     id:"",//主健
     title:"",//标题
     description:"",//描述
     content:"",//具体内容
     tags:"",//标签
     userId:"",//用户
     username:"",//用户名
     avatar:"",//用户头像
     vip:"",//用户身份
     sign:"",//用户签名
     male:"",//用户性别
     imglist:"",//图集
     views:"",//浏览数
     comments:"",//评论数
     collects:"",//收藏数
     weather:"",//天气 1晴天 2阴天
     lan:"",//经度
     lat:"",//纬度
     status:"",//发布状态 0 未发布 1发布
     isdelete:"",//删除状态 0未删除 1删除
     createTime:"",//创建时间
     updateTime:"",//更新时间
     categorycid:"",//分类
     categorytitle:"",//分类标题
     ispush:"",//是否推荐 1推荐 0不推荐
     isnew:"",//
  }
};


</script>

<style >
.pug-tablebox {
  background: #fff;
  padding: 30px;
}

.pug-search-box {
  @apply mb-5 bg-gray-100 px-2 py-2 rounded flex justify-between items-center shadow shadow-light-800;
}

.pug-pagebox {
  @apply flex justify-start;
}
</style>