<template>
  <div class="pug-table-form-box">
    <!--表格相关---->
    <div class="pug-tablebox">
      <!--搜索相关-->
      <div class="pug-search-box">
        <div>
          <el-button size="small" type="primary" v-permission="130107" @click="handleOpenDrawer" icon="Plus">
            新增用户</el-button>
          <el-button size="small" type="danger" v-permission="130109" @click="handleBatchDel"
                     icon="CloseBold">删除用户</el-button>
        </div>
        <div class="flex items-center">
          <el-input v-model.trim="keyword" class="w-50 m-2" size="small" placeholder="请输入搜索的用户"
                    prefix-icon="Search" />
          <el-button size="small" @click="handleSearch" type="success">搜索</el-button>
        </div>
      </div>
      <!--表格相关-->
      <el-table :data="tableData" style="width: 100%" @selection-change="selectTableAll">
        <el-table-column type="selection" prop="id" width="50" />
        <el-table-column label="名字" width="300">
          <template #default="{ $index, row }">
            <div class="flex items-center">
              <el-avatar :size="36" :src="row.avatar" />
              <div class="flex flex-col ml-3">
                <span>{{ row.questionsname }}</span>
                <span class="text-sm">编号：{{ row.id }}</span>
              </div>
            </div>
          </template>
        </el-table-column>
        <el-table-column prop="account" label="账号" />
        <el-table-column prop="createTime" label="创建时间" width="180" />
        <el-table-column label="状态" v-permission="130110" width="180">
          <template #default="{ $index, row }">
            <el-switch v-model="row.status" class="mb-2" @change="handleChange('status', $index)"
                       style="--el-switch-on-color: #13ce66; --el-switch-off-color: #ff4949" inline-prompt
                       active-color="" active-text="是" inactive-text="否" :active-value="1" :inactive-value="0" />
          </template>
        </el-table-column>
        <el-table-column label="删除状态" v-permission="130110" width="180">
          <template #default="{ $index, row }">
            <el-switch v-model="row.isdelete" class="mb-2" @change="handleChange('isdelete', $index)"
                       style="--el-switch-on-color: #13ce66; --el-switch-off-color: #ff4949" inline-prompt
                       active-color="" active-text="是" inactive-text="否" :active-value="1" :inactive-value="0" />
          </template>
        </el-table-column>
        <el-table-column label="操作">
          <template #default="scope">
            <el-button size="small" icon="view" v-permission="130111"
                       @click="handleRole(scope.$index, scope.row)">查看文章管理</el-button>
            <el-button size="small" icon="edit" v-permission="130107"
                       @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
            <el-button type="danger" icon="delete" v-permission="130108" size="small"
                       @click="handleDelete(scope.$index, scope.row)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>

      <!--分页相关-->
      <div class="pug-pagebox mt-5">
        <el-pagination background v-model:currentPage="pageNo" v-model:page-size="pageSize"
                       layout=" prev, pager, next,'->',jumper,sizes,total" :pager-count="7"
                       :page-sizes="[10, 20, 30, 40, 50, 100]" :hide-on-single-page="true" @size-change="handlePage"
                       @current-change="handlePage" :total="total" />
      </div>
    </div>


    <!--表单相关-->
    <div class="pug-formbox">
      <pug-drawer ref="formDrawerRef" title="添加后台用户" @submit="handleSubmit">
        <el-form ref="formRef" :rules="rules" :model="QuestionsFrom" label-width="120px" class="demo-questionsManger">
                  <el-form-item label="主题标题" prop="title">
                    <el-input v-model="QuestionsFrom.questions.title" placeholder="请输入姓名主题标题" min="4" max="20" />
                  </el-form-item>
                   <el-form-item label="主题内容">
                   <pug-editor v-model="QuestionsFrom.questions.content"></pug-editor>
                   </el-form-item>
                  <el-form-item label="主题标签" prop="tags">
                    <el-input v-model="QuestionsFrom.questions.tags" placeholder="请输入姓名主题标签" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="主题缩略描述" prop="description">
                    <el-input v-model="QuestionsFrom.questions.description" placeholder="请输入姓名主题缩略描述" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="主题分类ID" prop="categoryid">
                    <el-input v-model="QuestionsFrom.questions.categoryid" placeholder="请输入姓名主题分类ID" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="0普通 1置顶" prop="gotop">
                    <el-input v-model="QuestionsFrom.questions.gotop" placeholder="请输入姓名0普通 1置顶" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="主题浏览次数" prop="views">
                    <el-input v-model="QuestionsFrom.questions.views" placeholder="请输入姓名主题浏览次数" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="0不可以评论 1可以评论" prop="comment">
                    <el-input v-model="QuestionsFrom.questions.comment" placeholder="请输入姓名0不可以评论 1可以评论" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="静态链接" prop="staticlink">
                    <el-input v-model="QuestionsFrom.questions.staticlink" placeholder="请输入姓名静态链接" min="4" max="20" />
                  </el-form-item>
                        这里放radios按钮
                   <el-form-item label="html内容">
                   <pug-editor v-model="QuestionsFrom.questions.htmlcontent"></pug-editor>
                   </el-form-item>
                  <el-form-item label="分类标题" prop="categorytitle">
                    <el-input v-model="QuestionsFrom.questions.categorytitle" placeholder="请输入姓名分类标题" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="是否VIP" prop="vip">
                    <el-input v-model="QuestionsFrom.questions.vip" placeholder="请输入姓名是否VIP" min="4" max="20" />
                  </el-form-item>
                        这里放radios按钮
                  <el-form-item label="用户" prop="userid">
                    <el-input v-model="QuestionsFrom.questions.userid" placeholder="请输入姓名用户" min="4" max="20" />
                  </el-form-item>
                   <el-form-item label="封面图">
                   <pug-choose-image v-model="QuestionsFrom.questions.img"></pug-choose-image>
                   </el-form-item>
                  <el-form-item label="收藏数" prop="collects">
                    <el-input v-model="QuestionsFrom.questions.collects" placeholder="请输入姓名收藏数" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="评论数" prop="comments">
                    <el-input v-model="QuestionsFrom.questions.comments" placeholder="请输入姓名评论数" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="QQ" prop="qq">
                    <el-input v-model="QuestionsFrom.questions.qq" placeholder="请输入姓名QQ" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="下载地址" prop="downlink">
                    <el-input v-model="QuestionsFrom.questions.downlink" placeholder="请输入姓名下载地址" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="下载密码" prop="downpwd">
                    <el-input v-model="QuestionsFrom.questions.downpwd" placeholder="请输入姓名下载密码" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="价格" prop="price">
                    <el-input v-model="QuestionsFrom.questions.price" placeholder="请输入姓名价格" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="子分类" prop="categorycid">
                    <el-input v-model="QuestionsFrom.questions.categorycid" placeholder="请输入姓名子分类" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="" prop="qqimg">
                    <el-input v-model="QuestionsFrom.questions.qqimg" placeholder="请输入姓名" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="" prop="gzcode">
                    <el-input v-model="QuestionsFrom.questions.gzcode" placeholder="请输入姓名" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="" prop="gzimg">
                    <el-input v-model="QuestionsFrom.questions.gzimg" placeholder="请输入姓名" min="4" max="20" />
                  </el-form-item>
                   <el-form-item label="">
                   <pug-choose-image v-model="QuestionsFrom.questions.bgimg"></pug-choose-image>
                   </el-form-item>
                  <el-form-item label="" prop="openlink">
                    <el-input v-model="QuestionsFrom.questions.openlink" placeholder="请输入姓名" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="" prop="ispublic">
                    <el-input v-model="QuestionsFrom.questions.ispublic" placeholder="请输入姓名" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="" prop="vipicon">
                    <el-input v-model="QuestionsFrom.questions.vipicon" placeholder="请输入姓名" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="" prop="isline">
                    <el-input v-model="QuestionsFrom.questions.isline" placeholder="请输入姓名" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="" prop="sorted">
                    <el-input v-model="QuestionsFrom.questions.sorted" placeholder="请输入姓名" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="" prop="categoryctitle">
                    <el-input v-model="QuestionsFrom.questions.categoryctitle" placeholder="请输入姓名" min="4" max="20" />
                  </el-form-item>
        </el-form>
      </pug-drawer>
    </div>
  </div>
</template>
<script  setup>
import { ref, reactive,provide, onMounted } from 'vue'
import questionsService from '@/services/questions/QuestionsService';
import { confirm, toast, toastError } from '@/utils';

const tableData = ref([]);
const pageNo = ref(1);
const pageSize = ref(10);
const total = ref(0);
const keyword = ref("");


// 查询数据
const loadData = async () => {
  // 准备参数
  var params = { pageNo: pageNo.value, pageSize: pageSize.value, keyword: keyword.value };
  // 执行请求
  const serverResponse = await questionsService.findQuestionss(params);
  // 赋值给响应式属性
  tableData.value = serverResponse.data.records;
  // 总数
  total.value = serverResponse.data.total * 1;
}

// 搜索方法
const handleSearch = () => {
  pageNo.value = 1;
  loadData();
}

// 点击分页的回调函数
const handlePage = (cpageNo) => {
  pageNo.value = cpageNo;
  loadData();
}


// 状态更新
const handleChange = async (field, index) => {
  var value = tableData.value[index][field];
  var id = tableData.value[index].id;
  var params = {};
  params.id = id;
  params[field] = value;
  try {
    const serverResponse = await questionsService.updateQuestions(params);
    toast("更新成功!!!");
  } catch (err) {
  }
}

// 单个删除
const handleDelete = (index) => {
  confirm("你确定删除吗").then(async (res) => {
    var id = tableData.value[index].id;
    const serverResponse = await questionsService.deleteQuestionsById(id);
    tableData.value.splice(index, 1);
  });
}


const selectIds = ref([]);
// 获取批量删除的元素
const selectTableAll = (selection) => {
  selectIds.value = selection.map(item => item.id);
}

// 批量删除
const handleBatchDel = () => {
  if (selectIds.value.length == 0) {
    toastError("请选择一项进行操作...");
    return;
  }

  confirm("你确定要删除吗？").then(async (res) => {
    try {
      const batchIds = selectIds.value.join(",");
      await questionsService.delQuestions(batchIds);
      // 执行查询一次
      pageNo.value = 1;
      loadData();
    } catch (err) {
      toastError(err.msg);
    }

  });
}


// 编辑
const handleEdit = (index, item) => {
  Questions.questions = item;
  // 并且打开编辑抽屉
  formDrawerRef.value.open();
}

onMounted(() => {
  loadData();
})


/*表单相关 */
const formDrawerRef = ref(null);
const formRef = ref(null);
// 文章管理数据模型
const roleDatasRef = ref([]);
// 校验
const rules = reactive({

})

// 数据模型
const QuestionsFrom = reactive({
  questions: {
        id:"",//
        title:"",//主题标题
        content:"",//主题内容
        tags:"",//主题标签
        description:"",//主题缩略描述
        categoryid:"",//主题分类ID
        gotop:0,//0普通 1置顶
        views:0,//主题浏览次数
        comment:0,//0不可以评论 1可以评论
        staticlink:"",//静态链接
        isdelete:0,//删除状态0未删除1删除
        htmlcontent:"",//html内容
        categorytitle:"",//分类标题
        vip:"",//是否VIP
        status:1,//发布状态
        userid:"",//用户
        img:"",//封面图
        collects:0,//收藏数
        comments:0,//评论数
        qq:"",//QQ
        downlink:"",//下载地址
        downpwd:"",//下载密码
        price:"",//价格
        categorycid:"",//子分类
        qqimg:"",//
        gzcode:"",//
        gzimg:"",//
        bgimg:"",//
        openlink:"",//
        ispublic:0,//
        vipicon:0,//
        isline:0,//
        sorted:0,//
        categoryctitle:"",//
  }
})


// 保存提交
const handleSubmit = () => {
  formRef.value.validate(async (valid) => {
    if (valid) {
      try {
        // 保存服务器
        const serverResponse = await questionsService.saveupdateQuestions(Questions.questions);
        if (!Questions.questions.id) {
          // 动态添加到表格中
          tableData.value.unshift(serverResponse.data);
        }

        // 注册成功
        toast(Questions.questions.id ? "修改成功" : "添加成功");

        // 清空数据
        reset();

        // 关闭抽屉
        formDrawerRef.value.leave();
      } catch (err) {
        // 这个账号已经存在
        toastError(err.msg)
        if (err.code == '110612') {
        }
      }
    }
  })
}

// 打开保存用户抽屉
const handleOpenDrawer = () => {
  reset();
  // 打开窗口
  formDrawerRef.value.open();
}


// 重置的问题
const reset = () => {
  QuestionsFrom.questions = {
         id:"",//
         title:"",//主题标题
         content:"",//主题内容
         tags:"",//主题标签
         description:"",//主题缩略描述
         categoryid:"",//主题分类ID
         gotop:0,//0普通 1置顶
         views:0,//主题浏览次数
         comment:0,//0不可以评论 1可以评论
         staticlink:"",//静态链接
         isdelete:0,//删除状态0未删除1删除
         htmlcontent:"",//html内容
         categorytitle:"",//分类标题
         vip:"",//是否VIP
         status:1,//发布状态
         userid:"",//用户
         img:"",//封面图
         collects:0,//收藏数
         comments:0,//评论数
         qq:"",//QQ
         downlink:"",//下载地址
         downpwd:"",//下载密码
         price:"",//价格
         categorycid:"",//子分类
         qqimg:"",//
         gzcode:"",//
         gzimg:"",//
         bgimg:"",//
         openlink:"",//
         ispublic:0,//
         vipicon:0,//
         isline:0,//
         sorted:0,//
         categoryctitle:"",//
  }
};


</script>

<style >
.pug-tablebox {
  background: #fff;
  padding: 30px;
}

.pug-search-box {
  @apply mb-5 bg-gray-100 px-2 py-2 rounded flex justify-between items-center shadow shadow-light-800;
}

.pug-pagebox {
  @apply flex justify-start;
}
</style>