<template>
    <el-row :gutter="20" class="mt-5">
        <template v-if="loading">
           <el-col  :span="6" v-for="i in 4" :key="i">
                 <el-skeleton :loading="loading" animated>
                    <template #template>
                        <el-card shadow="hover" :body-style="{ padding: '15px' }" @click="router.push(item.path)">
                            <div class="flex flex-col items-center justify-center cursor-pointer">
                                <el-skeleton-item variant="text" style="width: 20%;height:20px;" />
                                <el-skeleton-item variant="text" style="width: 20%;height:20px;margin-top: 10px;" />
                            </div>
                        </el-card>
                    </template>
                </el-skeleton>
            </el-col>
        </template>

        <el-col v-else :span="3" :offset="0" v-for="(item,index) in iconNavs" :key="index">
            <el-card shadow="hover" :body-style="{ padding: '15px' }" @click="router.push(item.path)">
                <div class="flex flex-col items-center justify-center cursor-pointer">
                    <el-icon :size="25"  :color="item.color">
                        <component :is="item.icon"></component>
                    </el-icon>
                    <span class="text-sm mt-2 font-bold text-blue-gray-600">{{item.title}}</span>
                </div>
            </el-card>
        </el-col>
    </el-row>
</template>

<script setup>
    import {reactive,ref} from 'vue'
    import router from '@/router'
    var loading =ref(true);


    setTimeout(()=>{
        loading.value = false;
    },1000)

    const iconNavs = reactive([{
        icon:"user",
        color:"#ff0000",
        path:"/manager/list",
        title:"管理员"
    },{
        icon:"files",
        color:"violet",
        path:"/models/list",
        title:"模型"
    },{
        icon:"folder",
        color:"purple",
        path:"/file/list",
        title:"文件"
    },{
        icon:"picture",
        color:"red",
        path:"/image/list",
        title:"图库"
    },{
        icon:"bell",
        color:"green",
        path:"/notice/list",
        title:"公告"
    },{
        icon:"tickets",
        color:"purple",
        path:"/sepsispatients/list",
        title:"脓毒症"
    },{
        icon:"tickets",
        color:"purple",
        path:"/ecgpatients/list",
        title:"房颤"
    },{
        icon:"search",
        color:"fuchsia",
        path:"/predict/list",
        title:"脑部肿瘤"
    },]);

</script>