<template>
    <template v-if="loading">
        <el-skeleton :loading="loading" animated style="--el-skeleton-circle-size: 60px">
            <template #template>
                <div class="pug-tipbox-bg">
                    <el-skeleton-item variant="circle" style="float:left"/>
                    <div style="margin-left:70px">
                        <el-skeleton-item variant="text" style="width:50%;height:20px;" />
                        <el-skeleton-item variant="text" style="width:100%;height:20px;margin-top: 10px;" />
                    </div>
                </div>     
            </template>
        </el-skeleton>
    </template>
     <div class="pug-tipbox" v-else>
        <el-avatar icon="el-icon-user-solid" size="large" shape="circle" :src="$store.state.user.avatar" fit="fill"></el-avatar>
        <div>
            <h3 class="tit">您好，{{$store.getters['user/getRoleName']}}:{{ $store.state.user.username }}，开始您一天的工作吧！</h3>
            <p class="desc">今日多云，7℃ -14℃，空气很好，可以外出活动，呼吸新鲜空气，拥抱大自然！</p>
        </div>
    </div>
</template>

<script setup> 
    import {ref} from 'vue'
    import {useStore} from 'vuex'

    const store = useStore();
    var loading =ref(true);

    

    setTimeout(()=>{
        loading.value = false;
    },1000)

</script>


<style lang="scss" scoped>
    .pug-tipbox-bg{
         padding:20px;
        background:#fff;
           margin-bottom: 20px;
    }
    .pug-tipbox{
        display: flex;
        background: #fff;
        padding:20px;
        margin-bottom: 20px;
        border-radius: 4px;
        justify-content: flex-start;
        align-items: flex-end;
        .tit{
          font-size:16px;
          color:#333;
          font-weight: 700;
        }   
        
        .desc{
            font-size:12px;
            color:#666;
        }
    }
</style>