<template>
    <el-row :gutter="20">
        <template v-if="loading">
           <el-col  :span="6" v-for="i in 4" :key="i">
                 <el-skeleton :loading="loading" animated>
                    <template #template>
                        <el-card class="box-card">
                            <div class="flex justify-between">
                                <el-skeleton-item variant="text" style="width: 50%" />
                                <el-skeleton-item variant="text" style="width: 30%" />
                            </div>
                            <span class="text-2xl text-gray-700">
                                <el-skeleton-item variant="text" style="width: 20%;height:20px;" />
                            </span>
                            <el-divider direction="horizontal"
                            style="border-top-color:#f5f5f5;margin:12px 0"
                            content-position="left"></el-divider>
                        <div class="flex justify-between">
                                <el-skeleton-item variant="text" style="width: 50%" />
                                <el-skeleton-item variant="text" style="width: 20%" />
                            </div>
                        </el-card>
                    </template>
                </el-skeleton>
            </el-col>
        </template>

        <el-col v-else :span="6" v-for="(item,index) in pugOrders" :key="index">
            <el-card class="box-card">
                <div class="flex justify-between">
                    <span class="text-sm text-gray-400">{{item.title}}</span>
                    <el-tag effect="plain" :type="PugTags[item.tag]">{{item.tag}}</el-tag>
                </div>
                <span class="text-2xl text-gray-700">
                    <pug-num :value="item.count"></pug-num>
                </span>
                <el-divider direction="horizontal"
                style="border-top-color:#f5f5f5;margin:12px 0"
                content-position="left"></el-divider>
               <div class="flex justify-between">
                    <span class="text-sm text-gray-500">{{item.stitle}}</span>
                    <span><pug-num :value="item.scount"></pug-num></span>
                </div>
            </el-card>
        </el-col>
    </el-row>
</template>

<script setup>
    import {ref,reactive} from 'vue'
    // 骨架屏幕控制
    var loading = ref(true);
    setTimeout(()=>{
        loading.value = false;
    },1000);

    
    const PugTags = {
        "年":"success",
        "周":"info",
        "日":"warning",
        "月":"danger",
    }

    
    const pugOrders = reactive([
        {title:"订单支付",tag:"年",count:488,stitle:"总支付订单",scount:114},
        {title:"订单量",tag:"周",count:1488,stitle:"转化率",scount:214},
        {title:"销售额",tag:"日",count:3488,stitle:"总销售额",scount:134},
        {title:"新增用户",tag:"月",count:4588,stitle:"总用户",scount:1144},
    ])


</script>


<style scope>
    




</style>