<template>
    <div>
        <template v-if="loading">
            <el-skeleton  :loading="loading" animated>
                <template #template>
                    <el-card shadow="hover" class="mt-5" :body-style="{ padding: '20px' }">
                        <template #header>
                            <div class="flex align-center justify-between">
                                <el-skeleton-item variant="text" style="width: 30%;height: 25px;" />
                                    <el-skeleton-item variant="text" style="width: 10%;height: 25px;" />
                                    <el-skeleton-item variant="text" style="width: 10%;height: 25px;" />
                                    <el-skeleton-item variant="text" style="width: 10%;height: 25px;" />
                            </div>
                        </template>
                        <!--高度一定要写-->
                        <el-skeleton-item variant="text" style="width:100%;height: 400px;" />
                    </el-card>
                </template>
            </el-skeleton>
        </template>   

        <el-card v-show="!loading" shadow="hover" class="mt-5" :body-style="{ padding: '20px' }">
            <template #header>
                <div class="flex align-center justify-between">
                    <div>
                        <el-check-tag checked >房颤检测者数量比较</el-check-tag>
                    </div>
                </div>
            </template>

            <!--高度一定要写-->
            <div :id="chartId" ref="chartsRef" style="width: 100%;height:400px;"></div>
        </el-card>
    </div>
</template>


<script setup>

import * as echarts from 'echarts'
import { onMounted,ref ,onBeforeUnmount} from 'vue';
import { useResizeObserver } from '@vueuse/core'
import request from "@/utils/request"

var loading =ref(true);
setTimeout(()=>{
    loading.value = false;
},1000)


/*自定义属性，方便渲染多个 */
const props = defineProps({
    chartId:{
        type:String,
        default:""
    }
})


// 生命周期加载统计报表
var myChart = null;
// 在页面离开之前销毁统计报表组件
onBeforeUnmount(() => {
    if(myChart){
        myChart.dispose();
    }
})

// 生命周期初始化统计报表，切记一定要在onmounted执行初始化
onMounted(async() => {
    const res = await request.post("/echarts/ecgPatientsMember");
    let s = res.data[0]-res.data[2]
     //服务器返回数据
    var serverResponse = {
        title:"",
        data:[
                { value: s, name: '真实没有房颤检测者总数' },
                { value: res.data[1], name: '被预测出房颤的患者总数' },
                { value: res.data[2], name: '真实房颤的患者总数' },
            ]
    }


    //  初始化报表数据
    initCharts({
        title: {
            text: serverResponse.title,
            subtext: '比例图',
            left: 'center'
        },
        tooltip: {
            trigger: 'item'
        },
        legend: {
            orient: 'vertical',
            right: 'left'
        },
        series: [
            {
            name: 'Access From',
            type: 'pie',
            radius: '50%',
            data: serverResponse.data,
            emphasis: {
                itemStyle: {
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
            }
        ]
    });
});


// 初始逻辑代码
function initCharts(option) {
    // 统计报表存放的位置, chartDom是一个js的dom对象，dom对象一定要在
    var chartDom = document.getElementById(props.chartId);
    // 初始化统计报表对象
    if(myChart)myChart.dispose()
    myChart = echarts.init(chartDom);
    // 执行统计报表动画, 切记动画是统计报表
    myChart.showLoading();
    // 统计报表的类型和数据
    myChart.setOption(option);
    //动画执行结束
    myChart.hideLoading();
}



// 统计报响应式处理
const chartsRef = ref(null);
// 监听浏览器的变化
useResizeObserver(chartsRef,(entires)=>{
    // 重新改变统计报表的大小
    myChart.resize();
});


</script>