<template>

    <!--表格相关---->
    <div class="pug-tablebox">
      <!--搜索相关-->
      
        <div class="pug-search-box">
    <el-container>
      <el-upload action="/admin/file/upload" :show-file-list="false"
                 ref="uploadRef" 
                 :on-success="handleFileUploadSuccess"
                 :headers="headers" :on-error="handleFileError"
                 :before-upload="handleBefore"
                 >
        <el-button type="primary" class="ml-5" icon="Plus" size="small">上传待预处理文件  </el-button>
      </el-upload>
      <el-button size="small" class="ml-5" type="danger" v-permission="130109" @click="handleBatchDel"
                     icon="CloseBold">删除文件</el-button>
    </el-container>
    <div class="flex items-center">
      <el-input style="width: 200px" placeholder="请输入名称" suffix-icon="el-icon-search" v-model.trim="keyword" prefix-icon="Search" size="small"></el-input>
      <el-button class="ml-5" type="primary" @click="handleSearch" size="small">搜索</el-button>
    </div>
        </div>
 
      
      <!--表格相关-->
      <el-table :data="tableData" style="width: 100%" @selection-change="selectTableAll">
        <el-table-column type="selection" prop="id" width="50" />
        <el-table-column label="文件名称" width="300">
          <template #default="{ $index, row }">
            <div class="flex items-center">
              <div class="flex flex-col ml-3">
                <span>{{ row.name }}</span>
                <span class="text-sm">编号：{{ row.id }}</span>
              </div>
            </div>
          </template>
        </el-table-column>
        <el-table-column prop="type" label="文件类型" />
        <el-table-column prop="size" label="文件大小(kb)" />
        <el-table-column label="预处理结果绝对路径" width="300" prop="imageoutpath">
      </el-table-column>
      <el-table-column label="下载">
        <template #default="scope">
          <el-button type="primary" @click="download(scope.row.url)">下载</el-button>
        </template>
      </el-table-column>
        <el-table-column prop="createTime" label="创建时间" width="180" />
        <el-table-column label="状态" v-permission="130110" width="180">
          <template #default="{ $index, row }">
            <el-switch v-model="row.status" class="mb-2" @change="handleChange('status', $index)"
                       style="--el-switch-on-color: #13ce66; --el-switch-off-color: #ff4949" inline-prompt
                       active-color="" active-text="是" inactive-text="否" :active-value="1" :inactive-value="0" />
          </template>
        </el-table-column>
        <el-table-column label="删除状态" v-permission="130110" width="180">
          <template #default="{ $index, row }">
            <el-switch v-model="row.isdelete" class="mb-2" @change="handleChange('isdelete', $index)"
                       style="--el-switch-on-color: #13ce66; --el-switch-off-color: #ff4949" inline-prompt
                       active-color="" active-text="是" inactive-text="否" :active-value="1" :inactive-value="0" />
          </template>
        </el-table-column>
        <el-table-column label="操作" width="200">
          <template #default="scope">
            <el-button type="success" icon="magicStick" v-permission="130108" size="small"
                       v-if="scope.row.imageoutpath == '未进行预处理'" @click="handleProcess(scope.$index, scope.row)">预处理</el-button>
            <el-button type="success" icon="magicStick" v-permission="130108" size="small"
                       v-else disabled @click="handleProcess(scope.$index, scope.row)">预处理</el-button>
            <el-button type="danger" icon="delete" v-permission="130108" size="small"
                       @click="handleDelete(scope.$index, scope.row)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!--分页相关-->
      <div class="pug-pagebox mt-5">
        <el-pagination background v-model:currentPage="pageNo" v-model:page-size="pageSize"
                       layout=" prev, pager, next,'->',jumper,sizes,total" :pager-count="7"
                       :page-sizes="[5,10, 15, 20, 25, 30]" :hide-on-single-page="true" @size-change="handlePage"
                       @current-change="handlePage" :total="total" />
      </div>
      <div>
            <pug-dialog ref="DialogRef" title="预处理操作" @submit="handleProcessTwo">
              <el-form :model="process" label-width="300px">
                <el-form-item label="请输入预处理结果保存路径：">
                <el-input type="textarea" :autosize="{ minRows: 2, maxRows: 4}" placeholder="请输入预处理结果文件保存路径" v-model="process.file.imageOut_path"></el-input>
                </el-form-item>
                <el-form-item label="请输入预处理结果文件名：">
                <el-input type="textarea" placeholder="请输入预处理结果文件名" v-model="process.file.file_name"></el-input>
                </el-form-item>
              </el-form>
            </pug-dialog>
        </div>
    </div>
</template>
<script  setup>
import { ref, reactive,provide, onMounted } from 'vue'
import {useStore} from 'vuex'
import cache from "@/utils/cache"
import fileService from '@/services/file/FileService';
import { confirm, toast, toastError } from '@/utils';
import instanceTwo from '@/utils/instanceTwo';
import { xor } from 'lodash';
import request from "@/utils/request"
const tableData = ref([]);
const pageNo = ref(1);
const pageSize = ref(5);
const total = ref(0);
const keyword = ref("");

const store = useStore();

const token = store.getters['user/getToken']
const tokenUuid = store.getters['user/getTokenUuid']
const userId = store.getters['user/getUserId']
const lang = cache.local.get("lang") || "zh_CN";

const headers = ref({});
if (token) {
    headers.value.lang = lang;
    headers.value.token = ['pugbear_', token].join('')
    headers.value["token-uuid"] = tokenUuid
    headers.value["token-userid"] = userId
}
const DialogRef = ref(false);
const process = reactive({
  file: {
    imageOut_path:'',
    file_name:'',
    url:'',
    id:0,
    pro:{}
  }
})
// 文件上传得回调
const handleBefore = (file)=>{
    if(file.size > 1024 * 1024 * 10){
        toastError("上传文件不得超过10MB");
        return false;
    }
    if(file.type === "image/png"  || file.type === "image/jpg" || file.type === "image/jpeg"){
        toastError("无法上传jpg/png图片，请点击图库列表上传");
        return false;
    }
    return true;//代表文件会继续上传,如果是false终止上传
}
// 文件上传成功
const handleFileUploadSuccess = (serverResponse,file,files)=>{
    console.log("文件上传得服务器得信息:",serverResponse);
    loadData();
    toast("文件上传成功");
    
    // 删除上传成功得文件信息
    //uploadRef.value.handleRemove(file);
}
// 文件上传失败
const handleFileError = (erorr,file,files)=>{
    toastError("文件上传失败...");
    uploadRef.value.handleRemove(file);
}

// 查询数据
const loadData = async () => {
  // 准备参数
  var params = { pageNo: pageNo.value, pageSize: pageSize.value, keyword: keyword.value };
  // 执行请求
  const serverResponse = await fileService.findFiles(params);
  // 赋值给响应式属性
  tableData.value = serverResponse.data.records;
  // 总数
  total.value = serverResponse.data.total * 1;
}

// 搜索方法
const handleSearch = () => {
  pageNo.value = 1;
  loadData();
}

// 点击分页的回调函数
const handlePage = (cpageNo) => {
  pageNo.value = cpageNo;
  loadData();
}
const preview = (url) =>{
  window.open('https://file.keking.cn/onlinePreview?url=' + encodeURIComponent(window.btoa((url))))
}

const download = (url) =>{
  window.open(url)
}
// 状态更新
const handleChange = async (field, index) => {
  let value = tableData.value[index][field];
  let id = tableData.value[index].id;
  let params = {};
  params.id = id;
  params[field] = value;
  try {
    const serverResponse = await fileService.saveupdateFile(params);
    toast("更新成功!!!");
  } catch (err) {
    console.log(err);
  }
}
const handleProcess = (index) =>{
  
  process.file.url = tableData.value[index].url
  process.file.id = tableData.value[index].id
  console.log(process.file.url)
  console.log(process.file.id)
  console.log(JSON.parse(JSON.stringify(tableData.value[index])))
  process.file.pro = JSON.parse(JSON.stringify(tableData.value[index]));
  DialogRef.value.open();
  
}

const handleProcessTwo = async(index) =>{
  if(process.file.imageOut_path == '' || process.file.file_name == ''){
    toastError("预处理结果保存路径和预处理结果文件名不能为空")
  }else{
    const serverResponse = await instanceTwo.post("/process",{
    "imageOut_path": process.file.imageOut_path,
    "image_path": process.file.url,
    "file_name": process.file.file_name
  });
  console.log(serverResponse.data);
  console.log(typeof serverResponse.status);
  process.file.pro.imageoutpath = serverResponse.data
  console.log(process.file.pro)
  const res = await request.post('/file/saveupdate',
  process.file.pro
  );
  if(serverResponse.status == 200){
    toast("预处理成功，预处理结果保存路径为"+serverResponse.data)
    DialogRef.value.leave();
    loadData()
  }else{
    toastError("预处理失败")
  }
  }
}
// 单个删除
const handleDelete = (index) => {
  confirm("你确定删除吗").then(async (res) => {
    var id = tableData.value[index].id;
    const serverResponse = await fileService.deleteFileById(id);
    tableData.value.splice(index, 1);
  });
}

const selectIds = ref([]);
// 获取批量删除的元素
const selectTableAll = (selection) => {
  selectIds.value = selection.map(item => item.id);
}

// 批量删除
const handleBatchDel = () => {
  if (selectIds.value.length == 0) {
    toastError("请选择一项进行操作...");
    return;
  }

  confirm("你确定要删除吗？").then(async (res) => {
    try {
      const batchIds = selectIds.value.join(",");
      console.log(batchIds);
      await fileService.delBatchFile(batchIds);
      // 执行查询一次
      pageNo.value = 1;
      loadData();
    } catch (err) {
      toastError(err.msg);
    }

  });
}


// 编辑
const handleEdit = (index, item) => {
  File.file = item;
  // 并且打开编辑抽屉
  formDrawerRef.value.open();
}

onMounted(() => {
  loadData();
})


/*表单相关 */
const formDrawerRef = ref(null);
const formRef = ref(null);
// 文件管理数据模型
const roleDatasRef = ref([]);
// 校验
const rules = reactive({

})

// 数据模型
const FileFrom = reactive({
  file: {
        id:"",//主键
        name:"",//文件名称
        type:"",//文件类型
        size:"",//文件大小(kb)
        url:"",//下载链接
        md5:"",//文件md5
        isdelete:"",//是否删除
        status:1,//发布状态
  }
})


// 保存提交
const handleSubmit = () => {
  formRef.value.validate(async (valid) => {
    if (valid) {
      try {
        // 保存服务器
        const serverResponse = await fileService.saveupdateFile(File.file);
        if (!File.file.id) {
          // 动态添加到表格中
          tableData.value.unshift(serverResponse.data);
        }

        // 注册成功
        toast(File.file.id ? "修改成功" : "添加成功");

        // 清空数据
        reset();

        // 关闭抽屉
        formDrawerRef.value.leave();
      } catch (err) {
        // 这个账号已经存在
        toastError(err.msg)
        if (err.code == '110612') {
        }
      }
    }
  })
}

// 打开保存用户抽屉
const handleOpenDrawer = () => {
  reset();
  // 打开窗口
  formDrawerRef.value.open();
}


// 重置的问题
const reset = () => {
  FileFrom.file = {
         id:"",//主键
         name:"",//文件名称
         type:"",//文件类型
         size:"",//文件大小(kb)
         url:"",//下载链接
         md5:"",//文件md5
         isdelete:"",//是否删除
         status:1,//发布状态
  }
  
};


</script>

<style >
.pug-tablebox {
  background: #fff;
  padding: 30px;
}

.pug-search-box {
  @apply mb-5 bg-gray-100 px-2 py-2 rounded flex justify-between items-center shadow shadow-light-800;
}

.pug-pagebox {
  @apply flex justify-start;
}
</style>