<template>
    <el-row :gutter="20">
        <template v-if="loading">
           <el-col  :span="6" v-for="i in 4" :key="i">
                 <el-skeleton :loading="loading" animated>
                    <template #template>
                        <el-card class="box-card">
                            <div class="flex justify-between">
                                <el-skeleton-item variant="text" style="width: 50%" />
                                <el-skeleton-item variant="text" style="width: 30%" />
                            </div>
                            <span class="text-2xl text-gray-700">
                                <el-skeleton-item variant="text" style="width: 20%;height:20px;" />
                            </span>
                            <el-divider direction="horizontal"
                            style="border-top-color:#f5f5f5;margin:12px 0"
                            content-position="left"></el-divider>
                        <div class="flex justify-between">
                                <el-skeleton-item variant="text" style="width: 50%" />
                                <el-skeleton-item variant="text" style="width: 20%" />
                            </div>
                        </el-card>
                    </template>
                </el-skeleton>
            </el-col>
        </template>
        
        <el-col v-else :span="6" v-for="(item,index) in pugModels" :key="index">
            <el-card class="box-card">
                
                <div class="flex justify-between">
                    <span class="text-sm text-gray-400">{{item.title}}</span>
                    <el-icon>
                    <user/>
                </el-icon>
                </div>
                <span class="text-2xl text-gray-700">
                    {{item.count}}
                </span>
                <el-divider direction="horizontal"
                style="border-top-color:#f5f5f5;margin:12px 0"
                content-position="left"></el-divider>
               
            </el-card>
        </el-col>
    </el-row>
    <el-row :gutter="20">
        <el-col :span="14" :offset="0">
            <!--统计组件-->
            <pug-chart chart-id="ndz1"></pug-chart>
        </el-col>
         <el-col :span="10" :offset="0">
            <pug-pie chart-id="ndz2"></pug-pie>
        </el-col>
    </el-row>
</template>

<script setup>
    import {ref,reactive,onMounted} from 'vue'
    import request from "@/utils/request"
    import PugChart from '@/components/dashboard/PugChart.vue'
    import PugPie from '@/components/dashboard/PugPie.vue'
    // 骨架屏幕控制
    var loading = ref(true);
    setTimeout(()=>{
        loading.value = false;
    },1000);
    var res = ref([]);
    const pugModels = reactive([
        {title:"房颤检测者总数",count:0},
        {title:"被预测出脓毒症的患者总数",count:0},
        {title:"脓毒症被检测者男女比例",count:""},
        {title:"被预测出脓毒症的患者男女比例",count:""},
    ])
    onMounted(async() =>{
    const numbers = await request.post("/echarts/sepsisPatientsMember");
    res = numbers.data;
    console.log(typeof res[0])
    pugModels[0].count = res[0];
    pugModels[1].count = res[1];
    pugModels[2].count = res[2]+":"+res[3];
    pugModels[3].count = res[4]+":"+res[5];
})

</script>


<style scope>
    




</style>