<template>
  <div class="pug-table-form-box">
    <!--表格相关---->
    <div class="pug-tablebox">
      <!--搜索相关-->
      <div class="pug-search-box">
        <el-container>
          <el-button size="small" type="danger" v-permission="130109" @click="handleBatchDel"
                     icon="CloseBold">批量删除</el-button>
        </el-container>
        <div class="flex items-center">
          <el-input v-model.trim="keyword" class="w-50 m-2" size="small" placeholder="请输入搜索的用户"
                    prefix-icon="Search" />
          <el-button size="small" @click="handleSearch" type="success">搜索</el-button>
        </div>
      </div>
      <!--表格相关-->
      <el-table :data="tableData" style="width: 100%" @selection-change="selectTableAll">
        <el-table-column type="selection" prop="id" width="50" />
        <el-table-column label="名字" width="150">
          <template #default="{ $index, row }">
            <div class="flex items-center">
              <div class="flex flex-col ml-3">
                <span>{{ row.name }}</span>
                <span class="text-sm">编号：{{ row.id }}</span>
              </div>
            </div>
          </template>
        </el-table-column>
        <el-table-column prop="b" width="120" label="CHARGEAF"></el-table-column>
      <el-table-column prop="c" label="Status"></el-table-column>
      <el-table-column prop="d" width="140" label="FollowUpTime"></el-table-column>
      <el-table-column prop="e" label="HF"></el-table-column>
      <el-table-column prop="f" width="160" label="NYHAclassification"></el-table-column>
      <el-table-column prop="g" label="HBP"></el-table-column>
      <el-table-column prop="h" width="120" label="HBPstage"></el-table-column>
      <el-table-column prop="i" label="DM"></el-table-column>
      <el-table-column prop="j" label="CKD"></el-table-column>
      <el-table-column prop="k" width="140" label="CKDstage"></el-table-column>
      <el-table-column prop="l" label="OSAHS"></el-table-column>
      <el-table-column prop="m" label="COPD"></el-table-column>
      <el-table-column prop="n" width="140" label="StrokeTIA"></el-table-column>
      <el-table-column prop="o" width="140" label="Embolism"></el-table-column>
      <el-table-column prop="p" label="CHD"></el-table-column>
      <el-table-column prop="q" width="140" label="CHADSVASC"></el-table-column>
      <el-table-column prop="r" label="CHADS"></el-table-column>
      <el-table-column prop="s" width="120" label="R2CHADS"></el-table-column>
      <el-table-column prop="t" label="HATCH"></el-table-column>
      <el-table-column prop="u" label="Age"></el-table-column>
      <el-table-column prop="v" label="Height"></el-table-column>
      <el-table-column prop="w" label="Weight"></el-table-column>
      <el-table-column prop="x" label="Bmi"></el-table-column>
      <el-table-column prop="y" label="SBP"></el-table-column>
      <el-table-column prop="z" label="DBP"></el-table-column>
      <el-table-column prop="aa" label="eGFR"></el-table-column>
      <el-table-column prop="ab" label="LAD"></el-table-column>
      <el-table-column prop="ac" label="LVD"></el-table-column>
      <el-table-column prop="ad" label="EDT"></el-table-column>
      <el-table-column prop="ae" label="LVEF"></el-table-column>
      <el-table-column prop="af" label="BNP"></el-table-column>
      <el-table-column prop="ag" width="160" label="Vppercentage"></el-table-column>
      <el-table-column prop="ah" label="Pmax"></el-table-column>
      <el-table-column prop="ai" width="160" label="Pdispersion"></el-table-column>
      <el-table-column prop="aj" width="180" label="PDurationMean"></el-table-column>
      <el-table-column prop="ak" width="160" label="PDurationMax"></el-table-column>
      <el-table-column prop="al" label="PTFV1"></el-table-column>
      <el-table-column prop="am" width="160" label="PAreaMean"></el-table-column>
      <el-table-column prop="an" width="140" label="PAreaMax"></el-table-column>
      <el-table-column prop="ao" label="PAxis"></el-table-column>
      <el-table-column label="删除状态" v-permission="130110" width="180">
          <template #default="{ $index, row }">
            <el-switch v-model="row.isdelete" class="mb-2" @change="handleChange('isdelete', $index)"
                       style="--el-switch-on-color: #13ce66; --el-switch-off-color: #ff4949" inline-prompt
                       active-color="" active-text="是" inactive-text="否" :active-value="1" :inactive-value="0" />
          </template>
        </el-table-column>
        <el-table-column label="操作" width="280" align="center">
          <template #default="scope">
            <el-button type="danger" icon="delete" v-permission="130108" size="small"
                       @click="handleDelete(scope.$index, scope.row)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>

      <!--分页相关-->
      <div class="pug-pagebox mt-5">
        <el-pagination background v-model:currentPage="pageNo" v-model:page-size="pageSize"
                       layout=" prev, pager, next,'->',jumper,sizes,total" :pager-count="7"
                       :page-sizes="[10, 20, 30, 40, 50, 100]" :hide-on-single-page="true" @size-change="handlePage"
                       @current-change="handlePage" :total="total" />
      </div>
    </div>


    <!--表单相关-->
    <div class="pug-formbox">
      <pug-drawer ref="formDrawerRef" title="添加房颤检测者信息" @submit="handleSubmit">
        <el-form ref="formRef" :rules="rules" :model="EcgpatientsFrom" label-width="120px" class="demo-ecgpatientsManger">
                  <el-form-item label="患者姓名" prop="name">
                    <el-input v-model="EcgpatientsFrom.ecgpatients.name" placeholder="请输入患者姓名" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="CHARGEAF" prop="b">
                    <el-input v-model="EcgpatientsFrom.ecgpatients.b" placeholder="请输入CHARGEAF模态" />
                  </el-form-item>
                  <el-form-item label="Status" prop="c">
                    <el-input v-model="EcgpatientsFrom.ecgpatients.c" placeholder="请输入Status模态" />
                  </el-form-item>
                  <el-form-item label="FollowUpTime" prop="d">
                    <el-input v-model="EcgpatientsFrom.ecgpatients.d" placeholder="请输入FollowUpTime模态" />
                  </el-form-item>
                  <el-form-item label="HF" prop="e">
                    <el-input v-model="EcgpatientsFrom.ecgpatients.e" placeholder="请输入HF模态"  />
                  </el-form-item>
                  <el-form-item label="NYHAclassification" prop="f">
                    <el-input v-model="EcgpatientsFrom.ecgpatients.f" placeholder="请输入NYHAclassification模态"  />
                  </el-form-item>
                  <el-form-item label="HBP" prop="g">
                    <el-input v-model="EcgpatientsFrom.ecgpatients.g" placeholder="请输入HBP模态"  />
                  </el-form-item>
                  <el-form-item label="HBPstage" prop="h">
                    <el-input v-model="EcgpatientsFrom.ecgpatients.h" placeholder="请输入HBPstage模态" />
                  </el-form-item>
                  <el-form-item label="DM" prop="i">
                    <el-input v-model="EcgpatientsFrom.ecgpatients.i" placeholder="请输入DM模态"  />
                  </el-form-item>
                  <el-form-item label="CKD" prop="j">
                    <el-input v-model="EcgpatientsFrom.ecgpatients.j" placeholder="请输入CKD模态"  />
                  </el-form-item>
                  <el-form-item label="CKDstage" prop="k">
                    <el-input v-model="EcgpatientsFrom.ecgpatients.k" placeholder="请输入CKDstage模态"  />
                  </el-form-item>
                  <el-form-item label="OSAHS" prop="l">
                    <el-input v-model="EcgpatientsFrom.ecgpatients.l" placeholder="请输入OSAHS模态"  />
                  </el-form-item>
                  <el-form-item label="COPD" prop="m">
                    <el-input v-model="EcgpatientsFrom.ecgpatients.m" placeholder="请输入COPD模态"  />
                  </el-form-item>
                  <el-form-item label="StrokeTIA" prop="n">
                    <el-input v-model="EcgpatientsFrom.ecgpatients.n" placeholder="请输入StrokeTIA模态"  />
                  </el-form-item>
                  <el-form-item label="Embolism" prop="o">
                    <el-input v-model="EcgpatientsFrom.ecgpatients.o" placeholder="请输入Embolism模态"  />
                  </el-form-item>
                  <el-form-item label="CHD" prop="p">
                    <el-input v-model="EcgpatientsFrom.ecgpatients.p" placeholder="请输入CHD模态"  />
                  </el-form-item>
                  <el-form-item label="CHADSVASC" prop="q">
                    <el-input v-model="EcgpatientsFrom.ecgpatients.q" placeholder="请输入CHADSVASC模态"  />
                  </el-form-item>
                  <el-form-item label="CHADS" prop="r">
                    <el-input v-model="EcgpatientsFrom.ecgpatients.r" placeholder="请输入CHADS模态"  />
                  </el-form-item>
                  <el-form-item label="R2CHADS" prop="s">
                    <el-input v-model="EcgpatientsFrom.ecgpatients.s" placeholder="请输入R2CHADS模态"  />
                  </el-form-item>
                  <el-form-item label="HATCH" prop="t">
                    <el-input v-model="EcgpatientsFrom.ecgpatients.t" placeholder="请输入HATCH模态"  />
                  </el-form-item>
                  <el-form-item label="Age" prop="u">
                    <el-input v-model="EcgpatientsFrom.ecgpatients.u" placeholder="请输入年龄Age"  />
                  </el-form-item>
                  <el-form-item label="Height" prop="v">
                    <el-input v-model="EcgpatientsFrom.ecgpatients.v" placeholder="请输入Height"  />
                  </el-form-item>
                  <el-form-item label="Weight" prop="w">
                    <el-input v-model="EcgpatientsFrom.ecgpatients.w" placeholder="请输入Weight"  />
                  </el-form-item>
                  <el-form-item label="Bmi" prop="x">
                    <el-input v-model="EcgpatientsFrom.ecgpatients.x" placeholder="请输入Bmi模态"  />
                  </el-form-item>
                  <el-form-item label="SBP" prop="y">
                    <el-input v-model="EcgpatientsFrom.ecgpatients.y" placeholder="请输入SBP模态"  />
                  </el-form-item>
                  <el-form-item label="DBP" prop="z">
                    <el-input v-model="EcgpatientsFrom.ecgpatients.z" placeholder="请输入DBP模态"  />
                  </el-form-item>
                  <el-form-item label="eGFR" prop="aa">
                    <el-input v-model="EcgpatientsFrom.ecgpatients.aa" placeholder="请输入eGFR模态"  />
                  </el-form-item>
                  <el-form-item label="LAD" prop="ab">
                    <el-input v-model="EcgpatientsFrom.ecgpatients.ab" placeholder="请输入LAD模态"  />
                  </el-form-item>
                  <el-form-item label="LVD" prop="ac">
                    <el-input v-model="EcgpatientsFrom.ecgpatients.ac" placeholder="请输入LVD模态"  />
                  </el-form-item>
                  <el-form-item label="EDT" prop="ad">
                    <el-input v-model="EcgpatientsFrom.ecgpatients.ad" placeholder="请输入EDT模态"  />
                  </el-form-item>
                  <el-form-item label="LVEF" prop="ae">
                    <el-input v-model="EcgpatientsFrom.ecgpatients.ae" placeholder="请输入LVEF模态"  />
                  </el-form-item>
                  <el-form-item label="BNP" prop="af">
                    <el-input v-model="EcgpatientsFrom.ecgpatients.af" placeholder="请输入BNP模态"  />
                  </el-form-item>
                  <el-form-item label="Vppercentage" prop="ag">
                    <el-input v-model="EcgpatientsFrom.ecgpatients.ag" placeholder="请输入Vppercentage模态"  />
                  </el-form-item>
                  <el-form-item label="Pmax" prop="ah">
                    <el-input v-model="EcgpatientsFrom.ecgpatients.ah" placeholder="请输入Pmax模态"  />
                  </el-form-item>
                  <el-form-item label="Pdispersion" prop="ai">
                    <el-input v-model="EcgpatientsFrom.ecgpatients.ai" placeholder="请输入Pdispersion模态"  />
                  </el-form-item>
                  <el-form-item label="PDurationMean" prop="aj">
                    <el-input v-model="EcgpatientsFrom.ecgpatients.aj" placeholder="请输入PDurationMean模态" />
                  </el-form-item>
                  <el-form-item label="PDurationMax" prop="ak">
                    <el-input v-model="EcgpatientsFrom.ecgpatients.ak" placeholder="请输入PDurationMax模态"  />
                  </el-form-item>
                  <el-form-item label="PTFV1" prop="al">
                    <el-input v-model="EcgpatientsFrom.ecgpatients.al" placeholder="请输入PTFV1模态"  />
                  </el-form-item>
                  <el-form-item label="PAreaMean" prop="am">
                    <el-input v-model="EcgpatientsFrom.ecgpatients.am" placeholder="请输入PAreaMean模态"  />
                  </el-form-item>
                  <el-form-item label="PAreaMax" prop="an">
                    <el-input v-model="EcgpatientsFrom.ecgpatients.an" placeholder="请输入PAreaMax模态" />
                  </el-form-item>
                  <el-form-item label="PAxis" prop="ao">
                    <el-input v-model="EcgpatientsFrom.ecgpatients.ao" placeholder="请输入PAxis模态" />
                  </el-form-item>
        </el-form>
      </pug-drawer>
    </div>
  </div>
</template>
<script  setup>
import { ref, reactive,provide, onMounted } from 'vue'
import ecgpatientsService from '@/services/ecgpatients/EcgpatientsService';
import { confirm, toast, toastError } from '@/utils';
import {useStore} from 'vuex'
import cache from "@/utils/cache"
const tableData = ref([]);
const pageNo = ref(1);
const pageSize = ref(10);
const total = ref(0);
const keyword = ref("");

const store = useStore();

const token = store.getters['user/getToken']
const tokenUuid = store.getters['user/getTokenUuid']
const userId = store.getters['user/getUserId']
const lang = cache.local.get("lang") || "zh_CN";

const headers = ref({});
if (token) {
    headers.value.lang = lang;
    headers.value.token = ['pugbear_', token].join('')
    headers.value["token-uuid"] = tokenUuid
    headers.value["token-userid"] = userId
}
// 查询数据
const loadData = async () => {
  // 准备参数
  var params = { pageNo: pageNo.value, pageSize: pageSize.value, keyword: keyword.value };
  // 执行请求
  const serverResponse = await ecgpatientsService.findEcgpatientss2(params);
  // 赋值给响应式属性
  tableData.value = serverResponse.data.records;
  // 总数
  total.value = serverResponse.data.total * 1;
}
const exp = ()=>{
  window.open("http://localhost:8877/admin/ecgpatients/export")
}
// 搜索方法
const handleSearch = () => {
  pageNo.value = 1;
  loadData();
}
const handleExcelImportSuccess = ()=>{
  toast("导入成功")
  loadData();
}
// 点击分页的回调函数
const handlePage = (cpageNo) => {
  pageNo.value = cpageNo;
  loadData();
}


// 状态更新
const handleChange = async (field, index) => {
  var value = tableData.value[index][field];
  var id = tableData.value[index].id;
  var params = {};
  params.id = id;
  params[field] = value;
  try {
    const serverResponse = await ecgpatientsService.saveupdateEcgpatients(params);
    toast("更新成功!!!");
  } catch (err) {
  }
}

// 单个删除
const handleDelete = (index) => {
  confirm("你确定删除吗").then(async (res) => {
    var id = tableData.value[index].id;
    const serverResponse = await ecgpatientsService.deleteEcgpatientsById2(id);
    tableData.value.splice(index, 1);
  });
}


const selectIds = ref([]);
// 获取批量删除的元素
const selectTableAll = (selection) => {
  selectIds.value = selection.map(item => item.id);
}

// 批量删除
const handleBatchDel = () => {
  if (selectIds.value.length == 0) {
    toastError("请选择一项进行操作...");
    return;
  }

  confirm("你确定要删除吗？").then(async (res) => {
    try {
      const batchIds = selectIds.value.join(",");
      await ecgpatientsService.delBatchEcgpatients2(batchIds);
      // 执行查询一次delBatchEcgpatients
      pageNo.value = 1;
      loadData();
    } catch (err) {
      toastError(err.msg);
    }

  });
}


// 编辑
const handleEdit = (index, item) => {
  EcgpatientsFrom.ecgpatients = item;
  // 并且打开编辑抽屉
  formDrawerRef.value.open();
}

onMounted(() => {
  loadData();
})


/*表单相关 */
const formDrawerRef = ref(null);
const formRef = ref(null);
// 脓毒症信息管理数据模型
const roleDatasRef = ref([]);
// 校验
const rules = reactive({

})

// 数据模型
const EcgpatientsFrom = reactive({
  ecgpatients: {
        id:0,//患者id
        name:"",//患者姓名
        b:"",//
        c:"",//
        d:"",//
        e:"",//
        f:"",//
        g:"",//
        h:"",//
        i:"",//
        j:"",//
        k:"",//
        l:"",//
        m:"",//
        n:"",//
        o:"",//
        p:"",//
        q:"",//
        r:"",//
        s:"",//
        t:"",//
        u:"",//
        v:"",//
        w:"",//
        x:"",//
        y:"",//
        z:"",//
        aa:"",//
        ab:"",//
        ac:"",//
        ad:"",//
        ae:"",//
        af:"",//
        ag:"",//
        ah:"",//
        ai:"",//
        aj:"",//
        ak:"",//
        al:"",//
        am:"",//
        an:"",//
        ao:"",//
        py:"",//预测房颤概率
  }
})


// 保存提交
const handleSubmit = () => {
  formRef.value.validate(async (valid) => {
    if (valid) {
      try {
        // 保存服务器
        const serverResponse = await ecgpatientsService.saveupdateEcgpatients(EcgpatientsFrom.ecgpatients);
        if (!EcgpatientsFrom.ecgpatients.id) {
          // 动态添加到表格中
          tableData.value.unshift(serverResponse.data);
        }

        // 注册成功
        toast(EcgpatientsFrom.ecgpatients.id ? "修改成功" : "添加成功");

        // 清空数据
        reset();

        // 关闭抽屉
        formDrawerRef.value.leave();
      } catch (err) {
        // 这个账号已经存在
        toastError(err.msg)
        if (err.code == '110612') {
        }
      }
    }
  })
}

// 打开保存用户抽屉
const handleOpenDrawer = () => {
  reset();
  // 打开窗口
  formDrawerRef.value.open();
}


// 重置的问题
const reset = () => {
  EcgpatientsFrom.ecgpatients = {
         id:0,//患者id
         name:"",//患者姓名
         b:"",//
         c:"",//
         d:"",//
         e:"",//
         f:"",//
         g:"",//
         h:"",//
         i:"",//
         j:"",//
         k:"",//
         l:"",//
         m:"",//
         n:"",//
         o:"",//
         p:"",//
         q:"",//
         r:"",//
         s:"",//
         t:"",//
         u:"",//
         v:"",//
         w:"",//
         x:"",//
         y:"",//
         z:"",//
         aa:"",//
         ab:"",//
         ac:"",//
         ad:"",//
         ae:"",//
         af:"",//
         ag:"",//
         ah:"",//
         ai:"",//
         aj:"",//
         ak:"",//
         al:"",//
         am:"",//
         an:"",//
         ao:"",//
         py:"",//预测房颤概率
  }
};


</script>

<style >
.pug-tablebox {
  background: #fff;
  padding: 30px;
}

.pug-search-box {
  @apply mb-5 bg-gray-100 px-2 py-2 rounded flex justify-between items-center shadow shadow-light-800;
}

.pug-pagebox {
  @apply flex justify-start;
}
</style>