<template>
  <div class="pug-table-form-box">
    <!--表格相关---->
    <div class="pug-tablebox">
      <!--搜索相关-->
      <div class="pug-search-box">
        <el-container>
          <el-button size="small" type="danger" v-permission="130109" @click="handleBatchDel"
                     icon="CloseBold">批量删除</el-button>
        </el-container>
        <div class="flex items-center">
          <el-input v-model.trim="keyword" class="w-50 m-2" size="small" placeholder="请输入搜索的用户"
                    prefix-icon="Search" />
          <el-button size="small" @click="handleSearch" type="success">搜索</el-button>
        </div>
      </div>
      <!--表格相关-->
      <el-table :data="tableData" style="width: 100%" @selection-change="selectTableAll">
        <el-table-column type="selection" prop="id" width="50" />
        <el-table-column label="名字" width="180">
          <template #default="{ $index, row }">
            <div class="flex items-center">
              <div class="flex flex-col ml-3">
                <span>{{ row.name }}</span>
                <span class="text-sm">编号：{{ row.id }}</span>
              </div>
            </div>
          </template>
        </el-table-column>
        <el-table-column prop="sex" label="性别"></el-table-column>
        <el-table-column prop="age" label="年龄"></el-table-column>
        <el-table-column prop="a" label="FR"></el-table-column>
        <el-table-column prop="b" label="RF"></el-table-column>
        <el-table-column prop="c" width="140" label="highT"></el-table-column>
        <el-table-column prop="d" width="140" label="maxPCT"></el-table-column>
        <el-table-column prop="e" width="140" label="1stPCT"></el-table-column>
        <el-table-column prop="f" width="140" label="lastPCT"></el-table-column>
        <el-table-column prop="g" width="140" label="1stWBC"></el-table-column>
        <el-table-column prop="h" width="140" label="maxWBC"></el-table-column>
        <el-table-column prop="i" width="140" label="lastWBC"></el-table-column>
        <el-table-column prop="j" label="CRP"></el-table-column>
        <el-table-column prop="k" width="140" label="1stQTc"></el-table-column>
        <el-table-column prop="l" width="140" label="lastQTc"></el-table-column>
        <el-table-column prop="m" width="140" label="maxQTc"></el-table-column>
        <el-table-column prop="n" width="140" label="1stDD"></el-table-column>
        <el-table-column prop="o" width="140" label="lastDD"></el-table-column>
        <el-table-column prop="p" width="140" label="maxDD"></el-table-column>
        <el-table-column prop="q" width="140" label="result"></el-table-column>
        <el-table-column prop="r" label="Chol"></el-table-column>
        <el-table-column prop="s" label="TG"></el-table-column>
        <el-table-column prop="t" width="140" label="HDL_C"></el-table-column>
        <el-table-column prop="u" width="140" label="LDL_C"></el-table-column>
        <el-table-column prop="v" label="LP"></el-table-column>
        <el-table-column label="删除状态" v-permission="130110" width="180">
          <template #default="{ $index, row }">
            <el-switch v-model="row.isdelete" class="mb-2" @change="handleChange('isdelete', $index)"
                       style="--el-switch-on-color: #13ce66; --el-switch-off-color: #ff4949" inline-prompt
                       active-color="" active-text="是" inactive-text="否" :active-value="1" :inactive-value="0" />
          </template>
        </el-table-column>
        <el-table-column label="操作" width="280" align="center">
          <template #default="scope">
            <el-button type="danger" icon="delete" v-permission="130108" size="small"
                       @click="handleDelete(scope.$index, scope.row)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>

      <!--分页相关-->
      <div class="pug-pagebox mt-5">
        <el-pagination background v-model:currentPage="pageNo" v-model:page-size="pageSize"
                       layout=" prev, pager, next,'->',jumper,sizes,total" :pager-count="7"
                       :page-sizes="[10, 20, 30, 40, 50, 100]" :hide-on-single-page="true" @size-change="handlePage"
                       @current-change="handlePage" :total="total" />
      </div>
    </div>


    <!--表单相关-->
    <div class="pug-formbox">
      <pug-drawer ref="formDrawerRef" title="添加脓毒症检测者信息" @submit="handleSubmit">
        <el-form ref="formRef" :rules="rules" :model="SepsispatientsFrom" label-width="120px">
                  <el-form-item label="患者姓名" prop="name">
                    <el-input v-model="SepsispatientsFrom.sepsispatients.name" placeholder="请输入患者姓名" min="4" max="20" />
                  </el-form-item>
                  <el-form-item label="患者性别" prop="sex">
                    <el-input v-model="SepsispatientsFrom.sepsispatients.sex" placeholder="请输入性别" />
                  </el-form-item>
                  <el-form-item label="患者年龄" prop="age">
                    <el-input v-model="SepsispatientsFrom.sepsispatients.age" placeholder="请输入年龄" />
                  </el-form-item>
                  <el-form-item label="FR" prop="a">
                    <el-input v-model="SepsispatientsFrom.sepsispatients.a" placeholder="请输入FR模态" />
                  </el-form-item>
                  <el-form-item label="RF" prop="b">
                    <el-input v-model="SepsispatientsFrom.sepsispatients.b" placeholder="请输入RF模态" />
                  </el-form-item>
                  <el-form-item label="highT" prop="c">
                    <el-input v-model="SepsispatientsFrom.sepsispatients.c" placeholder="请输入highT模态" />
                  </el-form-item>
                  <el-form-item label="maxPCT" prop="d">
                    <el-input v-model="SepsispatientsFrom.sepsispatients.d" placeholder="请输入maxPCT模态" />
                  </el-form-item>
                  <el-form-item label="1stPCT" prop="e">
                    <el-input v-model="SepsispatientsFrom.sepsispatients.e" placeholder="请输入1stPCT模态" />
                  </el-form-item>
                  <el-form-item label="lastPCT" prop="f">
                    <el-input v-model="SepsispatientsFrom.sepsispatients.f" placeholder="请输入lastPCT模态" />
                  </el-form-item>
                  <el-form-item label="1stWBC" prop="g">
                    <el-input v-model="SepsispatientsFrom.sepsispatients.g" placeholder="请输入1stWBC模态" />
                  </el-form-item>
                  <el-form-item label="maxWBC" prop="h">
                    <el-input v-model="SepsispatientsFrom.sepsispatients.h" placeholder="请输入maxWBC模态" />
                  </el-form-item>
                  <el-form-item label="lastWBC" prop="i">
                    <el-input v-model="SepsispatientsFrom.sepsispatients.i" placeholder="请输入lastWBC模态" />
                  </el-form-item>
                  <el-form-item label="CRP" prop="j">
                    <el-input v-model="SepsispatientsFrom.sepsispatients.j" placeholder="请输入CRP模态" />
                  </el-form-item>
                  <el-form-item label="1stQTc" prop="k">
                    <el-input v-model="SepsispatientsFrom.sepsispatients.k" placeholder="请输入1stQTc模态" />
                  </el-form-item>
                  <el-form-item label="lastQTc" prop="l">
                    <el-input v-model="SepsispatientsFrom.sepsispatients.l" placeholder="请输入lastQTc模态" />
                  </el-form-item>
                  <el-form-item label="maxQTc" prop="m">
                    <el-input v-model="SepsispatientsFrom.sepsispatients.m" placeholder="请输入maxQTc模态" />
                  </el-form-item>
                  <el-form-item label="1stDD" prop="n">
                    <el-input v-model="SepsispatientsFrom.sepsispatients.n" placeholder="请输入1stDD模态" />
                  </el-form-item>
                  <el-form-item label="lastDD" prop="o">
                    <el-input v-model="SepsispatientsFrom.sepsispatients.o" placeholder="请输入CHARGEAF模态" />
                  </el-form-item>
                  <el-form-item label="maxDD" prop="p">
                    <el-input v-model="SepsispatientsFrom.sepsispatients.p" placeholder="请输入maxDD模态" />
                  </el-form-item>
                  <el-form-item label="result" prop="q">
                    <el-input v-model="SepsispatientsFrom.sepsispatients.q" placeholder="请输入result模态" />
                  </el-form-item>
                  <el-form-item label="Chol" prop="r">
                    <el-input v-model="SepsispatientsFrom.sepsispatients.r" placeholder="请输入Chol模态" />
                  </el-form-item>
                  <el-form-item label="TG" prop="s">
                    <el-input v-model="SepsispatientsFrom.sepsispatients.s" placeholder="请输入TG模态" />
                  </el-form-item>
                  <el-form-item label="HDL_C" prop="t">
                    <el-input v-model="SepsispatientsFrom.sepsispatients.t" placeholder="请输入HDL_C模态" />
                  </el-form-item>
                  <el-form-item label="LDL_C" prop="u">
                    <el-input v-model="SepsispatientsFrom.sepsispatients.u" placeholder="请输入LDL_C模态" />
                  </el-form-item>
                  <el-form-item label="LP" prop="v">
                    <el-input v-model="SepsispatientsFrom.sepsispatients.v" placeholder="请输入LP模态" />
                  </el-form-item>
        </el-form>
      </pug-drawer>
    </div>
  </div>
</template>
<script  setup>
import { ref, reactive,provide, onMounted } from 'vue'
import sepsispatientsService from '@/services/sepsispatients/SepsisPatientsService';
import { confirm, toast, toastError } from '@/utils';
import {useStore} from 'vuex'
import cache from "@/utils/cache"
const tableData = ref([]);
const pageNo = ref(1);
const pageSize = ref(10);
const total = ref(0);
const keyword = ref("");

const store = useStore();

const token = store.getters['user/getToken']
const tokenUuid = store.getters['user/getTokenUuid']
const userId = store.getters['user/getUserId']
const lang = cache.local.get("lang") || "zh_CN";

const headers = ref({});
if (token) {
    headers.value.lang = lang;
    headers.value.token = ['pugbear_', token].join('')
    headers.value["token-uuid"] = tokenUuid
    headers.value["token-userid"] = userId
}
// 查询数据
const loadData = async () => {
  // 准备参数
  var params = { pageNo: pageNo.value, pageSize: pageSize.value, keyword: keyword.value };
  // 执行请求
  const serverResponse = await sepsispatientsService.findSepsisPatients2(params);
  // 赋值给响应式属性
  tableData.value = serverResponse.data.records;
  // 总数
  total.value = serverResponse.data.total * 1;
}
const exp = ()=>{
  window.open("http://localhost:8877/admin/sepsispatients/export")
}
// 搜索方法
const handleSearch = () => {
  pageNo.value = 1;
  loadData();
}
const handleExcelImportSuccess = ()=>{
  toast("导入成功")
  loadData();
}
// 点击分页的回调函数
const handlePage = (cpageNo) => {
  pageNo.value = cpageNo;
  loadData();
}
// 单个删除
const handleDelete = (index) => {
  confirm("你确定删除吗").then(async (res) => {
    var id = tableData.value[index].id;
    const serverResponse = await sepsispatientsService.deleteSepsisPatientsById2(id);
    tableData.value.splice(index, 1);
  });
}
// 状态更新
const handleChange = async (field, index) => {
  var value = tableData.value[index][field];
  var id = tableData.value[index].id;
  var params = {};
  params.id = id;
  params[field] = value;
  try {
    const serverResponse = await sepsispatientsService.saveupdateSepsisPatients(params);
    toast("更新成功!!!");
  } catch (err) {
  }
}

const selectIds = ref([]);
// 获取批量删除的元素
const selectTableAll = (selection) => {
  selectIds.value = selection.map(item => item.id);
}

// 批量删除
const handleBatchDel = () => {
  if (selectIds.value.length == 0) {
    toastError("请选择一项进行操作...");
    return;
  }

  confirm("你确定要删除吗？").then(async (res) => {
    try {
      const batchIds = selectIds.value.join(",");
      await sepsispatientsService.delBatchSepsisPatients2(batchIds);
      pageNo.value = 1;
      loadData();
    } catch (err) {
      toastError(err.msg);
    }

  });
}


// 编辑
const handleEdit = (index, item) => {
  SepsispatientsFrom.sepsispatients = item;
  // 并且打开编辑抽屉
  formDrawerRef.value.open();
}

onMounted(() => {
  loadData();
})


/*表单相关 */
const formDrawerRef = ref(null);
const formRef = ref(null);
// 脓毒症信息管理数据模型
const roleDatasRef = ref([]);
// 校验
const rules = reactive({

})

// 数据模型
const SepsispatientsFrom = reactive({
  sepsispatients: {
        id:0,//患者id
        name:"",//患者姓名
        sex:"",
        age:"",
        a:"",
        b:"",//
        c:"",//
        d:"",//
        e:"",//
        f:"",//
        g:"",//
        h:"",//
        i:"",//
        j:"",//
        k:"",//
        l:"",//
        m:"",//
        n:"",//
        o:"",//
        p:"",//
        q:"",//
        r:"",//
        s:"",//
        t:"",//
        u:"",//
        v:"",//
        data:""
  }
})


// 保存提交
const handleSubmit = () => {
  formRef.value.validate(async (valid) => {
    if (valid) {
      try {
        // 保存服务器
        const serverResponse = await sepsispatientsService.saveupdateSepsisPatients(SepsispatientsFrom.sepsispatients);
        if (!SepsispatientsFrom.sepsispatients.id) {
          // 动态添加到表格中
          tableData.value.unshift(serverResponse.data);
        }

        // 注册成功
        toast(SepsispatientsFrom.sepsispatients.id ? "修改成功" : "添加成功");

        // 清空数据
        reset();

        // 关闭抽屉
        formDrawerRef.value.leave();
      } catch (err) {
        // 这个账号已经存在
        toastError(err.msg)
        if (err.code == '110612') {
        }
      }
    }
  })
}

// 打开保存用户抽屉
const handleOpenDrawer = () => {
  reset();
  // 打开窗口
  formDrawerRef.value.open();
}


// 重置的问题
const reset = () => {
  SepsispatientsFrom.sepsispatients = {
    id:0,//患者id
        name:"",//患者姓名
        sex:"",
        age:"",
        a:"",
        b:"",//
        c:"",//
        d:"",//
        e:"",//
        f:"",//
        g:"",//
        h:"",//
        i:"",//
        j:"",//
        k:"",//
        l:"",//
        m:"",//
        n:"",//
        o:"",//
        p:"",//
        q:"",//
        r:"",//
        s:"",//
        t:"",//
        u:"",//
        v:"",//
        data:""
  }
};


</script>

<style >
.pug-tablebox {
  background: #fff;
  padding: 30px;
}

.pug-search-box {
  @apply mb-5 bg-gray-100 px-2 py-2 rounded flex justify-between items-center shadow shadow-light-800;
}

.pug-pagebox {
  @apply flex justify-start;
}
</style>