<template>
    <div class="pug-tablebox">
        <!--搜索相关-->
        <div class="pug-search-box">
            <div>
                <el-button size="small" type="primary" icon="Plus">新增用户</el-button>
                <el-button size="small" type="danger"  icon="CloseBold">新增用户</el-button>
            </div>
            <div class="flex items-center">
                <el-input
                    v-model="keyword"
                    class="w-50 m-2"
                    size="small"
                    placeholder="请输入搜索的用户"
                    prefix-icon="Search"
                />
                <el-button size="small" type="success">搜索</el-button>
            </div>
        </div> 
        <!--表格相关-->
        <el-table :data="tableData" style="width: 100%">
            <el-table-column type="selection" prop="id"  width="50" />
            <el-table-column  label="名字" width="180">
                <template #default="{$index,row}">
                     <div class="flex items-center">
                        <el-avatar :size="36" src="https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png" />
                        <div class="flex flex-col ml-3">
                            <span>{{row.name}}</span>
                            <span class="text-sm">编号：{{$index}}</span>
                        </div>
                     </div>
                </template>
            </el-table-column>
            <el-table-column prop="address" label="地址" />
            <el-table-column prop="date" label="创建时间" width="180" />
            <el-table-column label="状态" width="180">
                <template #default="scope">
                     {{scope.row.status}}
                     <el-switch
                        v-model="scope.row.status"
                        class="mb-2"
                        style="--el-switch-on-color: #13ce66; --el-switch-off-color: #ff4949"
                        inline-prompt
                        active-color=""
                        active-text="是"
                        inactive-text="否"
                        :active-value="1"
                        :inactive-value="0"
                    />   
                </template>
            </el-table-column>
            <el-table-column label="操作">
                <template #default="scope">
                    <el-button size="small" icon="view" @click="handleEdit(scope.$index, scope.row)">预览</el-button>
                    <el-button size="small" icon="edit" @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                    <el-button type="danger" icon="delete" size="small" @click="handleDelete(scope.$index, scope.row)">删除</el-button>
                </template>
            </el-table-column>
        </el-table>

        
        <!--分页相关-->
        <div class="pug-pagebox mt-5">
             <el-pagination
                    background
                    v-model:currentPage="pageNo"
                    v-model:page-size="pageSize"
                    layout=" prev, pager, next,'->',jumper,sizes,total"
                    :pager-count="7"
                    :page-sizes="[10, 20, 30, 40,50,100]"
                    :hide-on-single-page="true"
                    @size-change="handlePage"
                    @current-change="handlePage"
                    :total="500"
                />
        </div>
  </div>
</template>

<style >

    .pug-tablebox{
        background:#fff;
        padding:30px;
    }

    .pug-search-box{
        @apply mb-5 bg-gray-100 px-2 py-2 rounded flex justify-between items-center shadow shadow-light-800;
    }

    .pug-pagebox{
        @apply  flex justify-start;
    }

</style>

<script  setup>

import {ref,reactive} from 'vue'

const tableData = [
  {
    date: '2016-05-03',
    name: 'Tom',
    status:1,
    address: 'No. 189, Grove St, Los Angeles',
  },
  {
    date: '2016-05-02',
    name: 'Tom',
    status:0,
    address: 'No. 189, Grove St, Los Angeles',
  },
  {
    date: '2016-05-04',
    name: 'Tom',
    status:1,
    address: 'No. 189, Grove St, Los Angeles',
  },
  {
    date: '2016-05-01',
    name: 'Tom',
    status:0,
    address: 'No. 189, Grove St, Los Angeles',
  },
];


// 分页相关
const pageNo = ref(1);
const pageSize = ref(10);

const handlePage = (pageNo)=>{
    alert(pageNo)
}

</script>
