<template>
    <div class="pug-tablebox">
        <!--搜索相关-->
        <div class="pug-search-box">
            <div>
                <el-button size="small" type="primary" @click="handleOpenDialog" icon="Plus"> {{store.state.i18n.langs[store.state.i18n.lan].cbuttons.B1001}}</el-button>
                <el-button size="small" type="danger" @click="handleDelBacth" icon="CloseBold"> {{store.state.i18n.langs[store.state.i18n.lan].cbuttons.B1002}}</el-button>
            </div>
            <div class="flex items-center">
                <el-input v-model="keyword" class="w-50 m-2" size="small" placeholder="请输入搜索的用户" prefix-icon="Search" />
                <el-button size="small" @click="loadData" type="success">搜索</el-button>
            </div>
        </div>
        <!--表格相关-->
        <el-table :data="tableData" border style="width: 100%"  @selection-change="selectTableAll">
            <el-table-column type="expand">
                <template #default="props">
                    <div class="ml-12 bg-black-600">
                        <el-table  :cell-style="{'background':'rgba(0,0,0,0.05)'}" 
                            :data="props.row.children" border :show-header="false"  @selection-change="selectTableAll">
                            <el-table-column type="selection" prop="id"  width="50" />
                            <el-table-column label="主健" prop="id" />
                            <el-table-column label="名字">
                                 <template #default="{$index,row}">
                                    <div v-if="row.edit">
                                        <el-input v-model.trim="row.title"></el-input>  
                                    </div>
                                    <div v-else>
                                        <span>{{row.title}}</span>
                                        <span v-if="row.children.length > 0" class="font-bold ml-1 text-green-600">({{row.children.length}})</span>
                                    </div>
                                </template>
                            </el-table-column>
                            <el-table-column label="排序">
                                <template #default="{$index,row}">
                                    <div v-if="row.edit">
                                        <el-input v-model.trim="row.sorted"></el-input>  
                                    </div>
                                    <div v-else>
                                        <span>{{row.sorted}}</span>
                                    </div>
                                </template>
                            </el-table-column>
                            <el-table-column label="状态">
                               <template #default="{$index,row}">
                                    <div v-if="row.edit">
                                        <el-switch v-model="row.status" :width="60" active-value="1" inactive-value="0" active-text="发布"
                                        inactive-text="未发布" inline-prompt>
                                        </el-switch>
                                    </div>
                                    <div v-else>
                                        <span class="text-green-600" v-if="row.status==1">发布</span>
                                        <span class="text-red-600" v-else>未发布</span>
                                    </div>
                                </template>
                            </el-table-column>
                            <el-table-column label="删除状态">
                                <template #default="{$index,row}">
                                    <span class="text-red-600" v-if="row.isdelete==1">已删除</span>
                                    <span class="text-green-600" v-else>未删除</span>
                                </template>
                            </el-table-column>
                            <el-table-column label="操作" width="320">
                                <template #default="scope">
                                    <el-button v-if="!scope.row.edit" size="small" type="success" @click.stop="handleAddChild(scope.$index, scope.row)">添加子项</el-button>
                                    <el-button v-if="!scope.row.edit" size="small" type="primary" @click.stop="handleEdit(scope.$index, scope.row)">编辑</el-button>
                                    <el-button v-if="!scope.row.edit" size="small" type="primary" @click.stop="handleEdit2(scope.$index, scope.row)">快速编辑</el-button>
                                    <el-button v-if="scope.row.edit" size="small" type="success" @click.stop="saveEdit(scope.$index, scope.row)">保存编辑</el-button>
                                    <el-button v-if="scope.row.edit" size="small" type="danger" @click.stop="cancleEdit(scope)">取消保存</el-button>
                                    <el-button v-if="!scope.row.edit" size="small" type="danger" @click.stop="handleDelete(scope.$index, scope.row)">删除</el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                    </div>
                </template>
            </el-table-column>
            <el-table-column type="selection" prop="id"  width="50" />
            <el-table-column label="主健" prop="id" />
            <el-table-column label="名字">
                <template #default="{$index,row}">
                    <div v-if="row.edit">
                        <el-input v-model.trim="row.title"></el-input>  
                    </div>
                    <div v-else>
                        <span>{{row.title}}</span>
                        <span class="font-bold ml-1 text-green-600">({{row.children.length}})</span>
                    </div>
                </template>
            </el-table-column>
            <el-table-column label="排序">
                <template #default="{$index,row}">
                    <div v-if="row.edit">
                        <el-input v-model.trim="row.sorted"></el-input>  
                    </div>
                    <div v-else>
                        <span>{{row.sorted}}</span>
                    </div>
                </template>
            </el-table-column>
            <el-table-column label="状态">
               <template #default="{$index,row}">
                     <div v-if="row.edit">
                        <el-switch v-model="row.status" :width="60" :active-value="1" :inactive-value="0" active-text="发布"
                        inactive-text="未发布" inline-prompt>
                        </el-switch>
                    </div>
                    <div v-else>
                        <span class="text-green-600" v-if="row.status==1">发布</span>
                        <span class="text-red-600" v-else>未发布</span>
                    </div>
               </template>
            </el-table-column>
            <el-table-column label="删除状态">
               <template #default="{$index,row}">
                    <span class="text-red-600" v-if="row.isdelete==1">已删除</span>
                    <span class="text-green-600" v-else>未删除</span>
               </template>
            </el-table-column>
            <el-table-column label="操作" width="320">
                 <template #default="scope">
                    <el-button v-if="!scope.row.edit" size="small" type="success" @click.stop="handleAddChild(scope.$index, scope.row)">添加子项</el-button>
                    <el-button v-if="!scope.row.edit" size="small" type="primary" @click.stop="handleEdit(scope.$index, scope.row)">编辑</el-button>
                    <el-button v-if="!scope.row.edit" size="small" type="primary" @click.stop="handleEdit2(scope.$index, scope.row)">快速编辑</el-button>
                    <el-button v-if="scope.row.edit" size="small" type="success" @click.stop="saveEdit(scope.$index, scope.row)">保存编辑</el-button>
                    <el-button v-if="scope.row.edit" size="small" type="danger" @click.stop="cancleEdit(scope)">取消保存</el-button>
                    <el-button v-if="!scope.row.edit" size="small" type="danger" @click.stop="handleDelete(scope.$index, scope.row)">删除</el-button>
                </template>
            </el-table-column>
        </el-table>
    </div>









    <div class="pug-formbox">
        <pug-dialog ref="categoryDialogRef" width="900px" title="分类添加" @submit="handleSubmit">
            <el-container>
                <el-form :model="formData" style="width:100%" ref="categoryFormRef" :rules="rules" label-width="100px"
                    :inline="false" size="normal">
                    <el-row :gutter="20" style="width:100%">
                        <el-col :span="24" :offset="0">
                            <el-form-item label="分类父级：">
                                <el-cascader placeholder="请选择父级" 
                                    :disabled="formData.category.disabled"
                                    clearable filterable v-model="formData.category.pid"
                                    :options="categoryDataList"
                                    :props="{ label: 'title', value: 'id', children: 'children', emitPath: false, checkStrictly: true }" 
                                    @change="handleCategoryPid"
                                    />
                            </el-form-item>
                        </el-col>
                        <el-col :span="24" :offset="0">
                            <el-form-item label="分类名称：">
                                <el-input clearable style="width:50%" v-model="formData.category.title"
                                    placeholder="请输入分类名称"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="24" :offset="0">
                            <el-form-item label="分类状态：">
                                <el-radio-group v-model="formData.category.status">
                                    <el-radio v-for="item in [{ name: '发布', value: 1 }, { name: '不发布', value: 0 }]"
                                        :key="item.key" :label="item.value">
                                        {{ item.name }}
                                    </el-radio>
                                </el-radio-group>
                            </el-form-item>
                        </el-col>

                        <el-col :span="24" :offset="0">
                            <el-form-item label="删除状态：">
                                <el-radio-group v-model="formData.category.isdelete">
                                    <el-radio v-for="item in [{ name: '删除', value: 1 }, { name: '未删除', value: 0 }]"
                                        :key="item.key" :label="item.value">
                                        {{ item.name }}
                                    </el-radio>
                                </el-radio-group>
                            </el-form-item>
                        </el-col>

                        <el-col :span="24" :offset="0">
                            <el-form-item label="排序：">
                                <el-input-number clearable style="width:50%" placeholder="请输入序号数字"
                                    v-model="formData.category.sorted" :min="1" :max="1000" :step="1" />
                            </el-form-item>
                        </el-col>

                        <el-col :span="24" :offset="0">
                            <el-form-item label="分类描述">
                                <el-input type="textarea" :rows="4" clearable style="width:100%"
                                    v-model="formData.category.description" placeholder="请输入分类名称"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12" :offset="0"></el-col>
                    </el-row>
                </el-form>
            </el-container>
        </pug-dialog>
    </div>
</template>



<script  setup>

import { ref, reactive, onMounted } from 'vue'
import categoryService from '@/services/category/CategoryService';
import { toastError,toast,confirm } from '@/utils';
import {useStore} from 'vuex'

const store = useStore();

// 表格相关
// 分页相关
const tableData = ref([])
const keyword = ref("");

// 查询数据
const loadData = async () => {
    const serverResponse = await categoryService.findCategoryTree(keyword.value);
    tableData.value = handleBussort(serverResponse.data);
}

// 递归增加属性
const handleBussort = (arr)=>{
    
    const handleCallback = (itemArr)=>{
        itemArr.forEach(item=>{
            // 递归给所有的子元素增加属性
            item.auth2 = false;
            if(item.children.length > 0){
                handleCallback(item.children);
            }
        })
    }
    
    handleCallback(arr);

    return arr;
}




var batchIdsRef = ref([]);
// 批量获取删除元素
const selectTableAll = (items)=>{
    batchIdsRef.value = items.map(item=>item.id);
}

// 批量删除
const handleDelBacth = ()=>{
    if(batchIdsRef.value.length == 0){
        toastError("请选择一项")
        return;
    }
    confirm("你确定抛弃我么？").then(async (res)=>{
        try{
            const batchIds = batchIdsRef.value.join(",");
            const serverResponse = await categoryService.delBatchCategory(batchIds);
            // 提示
            toast("删除成功")
            // 重新查询
            loadData();
        }catch(err){
            toastError(err.msg);
        }
    })
}



// 生命周期初始化
onMounted(() => {
    loadData();
})

















// 表单相关
// 获取diaog弹窗对象
const categoryDialogRef = ref(null);
// 用来装载父级分类的数据信息
const categoryDataList = ref([]);
const formData = reactive({
    category: {
        id: "",
        title: "",
        description: "",
        sorted: 1,
        status: 1,
        pid: 0,
        disabled:false,
        isdelete: 0
    }
});

const categoryFormRef = ref(null);
const rules = ref({});

// 添加分类
const handleOpenDialog = () => {
    // 重置一下，保持永远都是最初状态
    reset();
    // 渲染父分类数据
    categoryDataList.value = tableData.value;
    // 打开添加框
    categoryDialogRef.value.open();
    // 渲染排序，减少一次输入
    formData.category.sorted = tableData.value.length + 1;
}

// 添加子项分类
const handleAddChild = ($index,row)=>{
    // 渲染父菜单分类数据
    categoryDataList.value = tableData.value;
    // 打开添加窗口
    categoryDialogRef.value.open();
    // 渲染排序，减少一次输入
    formData.category.sorted = tableData.value[$index].children.length + 1;
    // 获取父pid
    formData.category.pid = row.id;
    // 关闭父选择
    formData.category.disabled = true; 
}

// 编辑
const handleEdit = ($index,row)=>{
    // 重置一下，保持永远都是最初状态
    reset();
    // 渲染父分类数据
    categoryDataList.value = tableData.value;
    // 打开添加框
    categoryDialogRef.value.open();
    // 渲染排序，减少一次输入
    formData.category = row;
}

// 快速编辑
const rowBaseRef = ref({});
const handleEdit2 = ($index,row)=>{
    rowBaseRef.value = {...row};
    row.edit = true;
}

const cancleEdit = (scope)=>{
    scope.row.title =  rowBaseRef.value.title;
    scope.row.edit = false;
}

const saveEdit =  async ($index,row) => {
    const serverResponse = await categoryService.saveupdateCategory(row);
     // 添加成功
    toast("编辑成功");
    // 还原编辑 
    row.edit = false;
    // 查询一次
    loadData();
}

// 删除
const handleDelete = ($index,row)=>{
    const opid = row.id;
    confirm("你确定抛弃我么？").then(async (res)=>{
        try{
            const serverResponse = await categoryService.deleteCategoryById(opid);
            // 提示
            toast("删除成功")
            // 重新查询
            //loadData();
            // 直接修改页面状态即可
            row.isdelete = 1;
        }catch(err){
            toastError(err.msg);
        }
    })
}

// 保存分类
const handleSubmit = () => {
    // 这里记得.value哦!
    categoryFormRef.value.validate(async (valid) => {
        if (valid) {
            try{
                const serverResponse = await categoryService.saveupdateCategory(formData.category);
                // 添加成功
                toast(formData.category.id?"编辑成功":"添加成功");
                // 重置数据
                if(!formData.category.id){
                    reset()
                }
                // 关闭弹窗
                categoryDialogRef.value.leave();
                // 查询数据
                loadData();
            } catch(err){
                console.error("err",err)
                toastError(err.msg);
            }
        }
    })
}

// 重置
const reset = () => {
    formData.category = {
        id: "",
        title: "",
        description: "",
        sorted: 1,
        status: 1,
        pid: 0,
        isdelete: 0,
        disabled:false
    }
}

// 级联情况把pid=0
const handleCategoryPid = (item)=>{
    if(!item){
      formData.category.pid = 0; 
    }
}

</script>


<style >
.pug-tablebox {
    background: #fff;
    padding: 30px;
}

.pug-search-box {
    @apply mb-5 bg-gray-100 px-2 py-2 rounded flex justify-between items-center shadow shadow-light-800;
}
</style>